                <div class="col-xl-5 col-lg-5">
                    <div class="card bg-light-200 shadow-none mb-0" >
                        <div class="card-body">
                            <div class="mb-3">
                                <h2 class="mb-1">Get in Touch</h2>
                                <p class="text-gray-6 mb-1">How we can help you? Please write down your query</p>
                            </div>
                            <div id="addserviceform"></div>
                            {% include 'addserviceform.html' %}
                        </div>
                    </div>
                </div>
