{% load humanize %}
<tr id="requests-{{ x.id }}">
    <td>{{ x.patientname }}</td>
    <td>{{ x.blood_group }}</td>
    <td>{{ x.volume }}</td>
    <td>{{ x.status }}</td>
    <td>{{ x.doctorname }}</td>
    <td>{{ x.created_at }} ({{ x.created_at|naturalday }} ago ) {{ x.updated_at }} {{ x.updated_at|naturalday }}</td>
    <td>
        <button class="btn btn-info" 
                hx-get="{% if x.id %}{% url 'blood:geteditrequests' x.id  %}{% endif %}" 
                hx-target="#editrequestform" 
                hx-swap="outerHTML">Edit
        </button>
        <button class="btn btn-danger" 
                hx-delete="{% if x.id %}{% url 'blood:delete' x.id  %}{% endif %}" 
                hx-target="#donor-{{ x.id }}"
                hx-swap="delete"
                hx-confirm="Are you sure you wish to delete your account?">delete
        </button>
    </td>
</tr>