{% load humanize %}
<tr>
    <td>{{ x.name }}</td>
    <td>{{ x.uuid }}</td>
    <td>{{ x.unique_id }}</td>
    <td>{{ x.details }}</td>
    <td>{{ x.ip_address }}</td>
    <td>{{ x.image }}</td>
    <td>{{ x.service.name }}</td>
    <td>{{ x.created_at }} ({{ x.created_at|naturalday }} ago )</td>
    <td>{{ x.updated_at }} {{ x.updated_at|naturalday }}</td>
    <td>{{ x.status }}</td>
    <td><button class="btn btn-danger" 
        hx-get="{% url 'main:lssemsedit' x.id  %}" 
        hx-target="#editservice" 
        hx-swap="outerHTML"
        hx-vals='{"editid": "{{ x.id }}"}'>Edit</button></td>
</tr>