{%load static %}
                                    {% if messages %}
                                                                        {% for message in messages  %}
                                                                        {{ message }}
                                                                        {% endfor %}
                                                                        {% endif %}

                        <div class="card-body" id="schprofilee">
                            <h6 class="fs-16 mb-3">खाता जानकारियाँ/Account Information</h6>
                            <div class="row g-2">
                                <div class="col-md-12">
                                    <div>
                                        <h6 class="fs-14">SRIJAN ID </h6>
                                        <p> {% if profile.is_staff == 1 %} <p class="badge badge-info"> Staff  </p> {% endif %}
                                            {% if profile.is_superuser == 1 %} <p class="badge badge-warning"> Superuser  </p> {% endif %} </p>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div>
                                        <h6 class="fs-14">SRIJAN ID </h6>
                                        <p>{{ sprofile.id }} </p>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div>
                                        <h6 class="fs-14">SRIJAN KEY</h6>
                                        <p>{{ sprofile.school_name }}  </p>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div>
                                        <h6 class="fs-14">खाते का प्रकार/Account Type</h6>
                                        <p>{{ sprofile.address }} </p>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div>
                                        <h6 class="fs-14">खाते की स्थिति / Account Status</h6>
                                        <p>{{ profile.status }} 
                                            {% if profile.is_active == 1 %} 
                                                <h1 class="badge badge-success"> Active </h1> 
                                            {% endif %} 
                                        </p>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div>
                                        <h6 class="fs-14"> रोल Role </h6>
                                        <p>{{ sprofile.established_year }} </p>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div>
                                        <h6 class="fs-14">यूजरनेम / Username</h6>
                                        <p>{{ sprofile.principal_name }} </p>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div>
                                        <h6 class="fs-14"> ईमेल Email </h6>
                                        <p>{{ sprofile.board }} </p>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div>
                                        <h6 class="fs-14"> ईमेल Password </h6>
                                        <p> {% if profile.password %} ************ {% endif %} </p>
                                    </div>
                                </div>
                            </div>
                            <br/>
                            <h6 class="fs-16 mb-3"> व्यक्तिगत / व्यापारिक जानकारियाँ /  Personal and Business Information</h6>
                            <div class="d-flex align-items-center mb-3">
                                <span class="avatar avatar-xl flex-shrink-0 me-3 ">
                                    {% if user.profile_pic %}
                                        <img src="{{ user.profile_pic.url }}" alt="Profile">
                                    {% else %}
                                        <!-- अगर फोटो नहीं है, तो एक डिफ़ॉल्ट 'Avatar' इमेज दिखाओ -->
                                        <img src="{% static 'assets/img/nav05.png' %}" alt="Default Profile">
                                    {% endif %}
                                </span>
                            </div>
                            <div class="row border-bottom pb-2 mb-3">
                                <div class="col-md-4">
                                    <div class="mb-2">
                                        <h6 class="fs-14">प्रथम नाम First Name</h6>
                                        <p>{{ profile.first_name }} </p>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="mb-2">
                                        <h6 class="fs-14">मध्य नाम Last Name</h6>
                                        <p>{{ profile.middle_name }} </p>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="mb-2">
                                        <h6 class="fs-14">अंतिम नाम Last Name</h6>
                                        <p>{{ profile.last_name }} </p>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="mb-2">
                                        <h6 class="fs-14">जनम दिनांक Date of Birth </h6>
                                        <p>
                                        <p>{{ profile.dob }} </p>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="mb-2">
                                        <h6 class="fs-14">मोबाइल नंबर Mobile Number</h6>
                                        <p>{{ profile.mobile }} </p>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="mb-2">
                                        <h6 class="fs-14">लिंग Gender</h6>
                                        <p>{{ profile.gender }} </p>
                                    </div>
                                </div>
                            </div>
                            <h6 class="fs-16 mb-3">Address Information</h6>
                            <div class="row g-2">
                                <div class="col-md-12">
                                    <div>
                                        <h6 class="fs-14">Address</h6>
                                        <p>{{ profile.address }} </p>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div>
                                        <h6 class="fs-14">Country</h6>
                                        <p>भारत INDIA</p>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div>
                                        <h6 class="fs-14">State</h6>
                                        <p>राजस्थान Rajasthan</p>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div>
                                        <h6 class="fs-14">District</h6>
                                        <p>राजसमन्द Rajsamand</p>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div>
                                        <h6 class="fs-14">Postal Code</h6>
                                        <p>313324</p>
                                    </div>
                                </div>
                            </div>
                        </div>
