                      <div class="alert alert-teal alert-dismissible d-flex align-items-center border-0 mb-4 fade show">
                        <i class="isax isax-info-circle5 me-2"></i> {{ users }} Reminder about your upcoming booking Hotel Hayat on
                        15 May 2025 at 09:30 AM . We look forward to seeing you!
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"><i
                                class="fas fa-xmark"></i></button>

                                