                                <table class="table">
                                    <thead class="thead-light">
                                        <tr>
                                            <th>Payment Type</th>
                                            <th>Credit / Debit</th>
                                            <th>Date</th>
                                            <th>Amount</th>
                                            <th>Balance</th>
                                            <th>Status</th>
                                        </tr>
                                    </thead>
                                    <tbody id="contact-table-body">
                                            {% include 'partials/rows.html' %}
                                    </tbody>
                                </table>
