    <!-- who we are -->
    <section class="section place-section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-6 col-lg-10 text-center wow fadeInUp" data-wow-delay="0.2s">
                    <div class="section-header text-center">
                        <h2 class="mb-2">  <span class="text-primary  text-decoration-underline"><?= _time1 ?></span></h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-6 col-12 ">
                    <div class="destination-sett  wow fadeInUp">
                        <div class="destination-img">
<iframe src="https://d1csarkz8obe9u.cloudfront.net/index.php/posterbuilder/view/92902a0ee3208b0b079f6126c908f914/1" style="height: 200px; width:210px; border:none;"></iframe>

                        </div>
                    </div>
                    <div class="destination-set  wow fadeInDown">
                        <div class="destination-img">
<iframe src="https://d1csarkz8obe9u.cloudfront.net/index.php/posterbuilder/view/92902a0ee3208b0b079f6126c908f914/1" style="height: 200px; width:210px; border:none;"></iframe>

                        </div>
                        <div class="destination-content d-flex align-items-center justify-content-center flex-column w-100">
                            <h5 class="text-white fs-20 fw-semibold mb-1"> Canary Islands</h5>
                            <h6 class="text-light fs-16 fw-normal">300 Cruises</h6>
                        </div>
                        <div class="destination-btn">
                            <a href="cruise-grid.html"> <i class="fa fa-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-12">
                    <div class="destination-set wow fadeInUp">
                        <div class="destination-img">
<iframe src="https://d1csarkz8obe9u.cloudfront.net/index.php/posterbuilder/view/92902a0ee3208b0b079f6126c908f914/1" style="height: 200px; width:210px; border:none;"></iframe>

                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-12">
                </div>
                <div class="col-lg-3 col-md-6 col-12">
                </div>
            </div>
        </div>
    </section>
    <!-- Place Section -->
