{% load static %}
{% include 'header.html' %}

    <!-- Hero Section -->
    <!-- Blog Section -->
    <section class="section blog-section blog-sec-six lang hi active">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-12 wow fadeInUp" data-wow-delay="0.2s">
                    <div class="section-header-six">
                        <h2> जलवायु <span class="text-primary">.</span></h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    
                    <div class='card shadow-none blog-grid-six'>
                        <div class='row align-items-center'>
                            <div class='col-md-6 d-flex'>
                                <div class='card-img flex-fill'>
                                    <a href='#'>
                                        <img src="{% static 'assets/img/climate.png' %}" class='rounded w-100 h-100' alt='Img'>
                                    </a>
                                    <span class='badge bg-primary'>...</span>
                                </div>
                            </div>
                            <div class='col-md-6 d-flex'>
                                <div class='card-body ps-md-0 flex-fill'>
                                    <h5 class='mb-2'><a href='#'> जलवायु  </a></h5>
                                    <p class='mb-4 text-truncatee line-clamb-3'>

    राजसमन्द जिला कोपेन के जलवायु वर्गीकरण के अनुसार Cwg के अंतर्गत आता हैं जिसमे अरावली के भाग भी सम्मिलित होतें हैं | इस प्रकार की जलवायु में वर्षा केवल वर्षा ऋतु में ही होती हैं |  
<li>✍ Cwg का पूरा नाम- उप आद्र जलवायु प्रदेश</li>
<li>✍ Cwg जलवायु प्रदेश में राजस्थान के टोंक तथा दक्षिणी-पूर्वी अरावली के समस्त जिले शामिल है।
<li>✍ Cwg जलवायु प्रदेश का राजस्थान में प्रतिनिधित्व वाला जिला टोंक है।
<li>✍ Cwg जलवायु प्रदेश की विशेष दिशा या विस्तार मध्य राजस्थान में है।
<li>✍ Cwg जलवायु प्रदेश में वार्षिक वर्षा का औसत 60 से 80 सेंटीमीटर है।
<li>✍ Cwg जलवायु प्रदेश का औसत तापमान 25 से 30℃ रहता है।
<li>✍ डाॅ. ब्लादिमीर कोपेन के अनुसार राजस्थान में सर्वाधिक बिहड़ वाला क्षेत्र Cwg जलवायु प्रदेश है।

                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>




                </div>
            </div>
        </div>
    </section>
    <!-- /Blog Section -->



{% include 'footerr.html' %}
