{% load static %}
{% include 'header.html' %}


                      <!--begin::Section-->
          <section class="section blog-section blog-sec-six lang hi active">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-12 wow fadeInUp" data-wow-delay="0.2s">
                    <div class="section-header-six">
                        <h2>निर्वाचन क्षेत्र <span class="text-primary">.</span></h2>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="text-end">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">

                                            <!--begin::Table-->
                            <div class="custom-datatable-filter table-responsive">
                                <table class="table datatable">
<thead>
<tr>
                                  <th> # </th>
                                  <th> प्रकार  </th>
                                  <th> निर्वाचन क्षेत्र </th>
                                  <th>(सीट नंबर) </th>
                                  <th> तहसीलें </th>
                                  <th> मतदान केंद्र </th>
                                  <th> पुरुष </th>
                                  <th> महिला </th>
                                  <th> कुल </th>
                                  <th> मानचित्र(पीडीएफ)</th>
                              </tr>
</thead>
<tbody>
                              <tr>
                                  <td> 1. </td>
                                  <td> राज्य सभा </td>
                                  <td> -- </td>
                                  <td> -- </td>
                                  <td> -- </td>
                                  <td> -- </td>
                                  <td> -- </td>
                                  <td> -- </td>
                                  <td> -- </td>
                              </tr>
                              <tr>
                                  <td> 2. </td>
                                  <td> लोकसभा </td>
                                  <td> राजसमंद </td>
                                  <td>22</td>
                                  <td> <!--
                                            राजसमंद एक संसदीय क्षेत्र/संसदीय सीट है जिसमें निम्नलिखित जिलों के निर्वाचन क्षेत्र भी शामिल हैं:- <li> राजसमंद <li> अजमेर <li> पाली <li> नागौर </li> -->
                                            </td>
                                  <td> -- </td>
                                  <td> -- </td>
                                  <td> -- </td>
                                  <td> -- </td>

                                  <td> <a href='pdfs/DM27.pdf' class=''> <i class='fa-solid fa-file-pdf fa-2xl'></i> </a> -- </td >
                              </tr>
							  <tr>
                                  <td> 3. </td>
                                  <td>विधानसभा</td>
                                  <td>भीम</td>
                                  <td> 173</td>
                                  <td> भीम और देवगढ़ तहसील </td>
                                  <td> 262 </td>
                                  <td> 117315 </td>
                                  <td> 112431 </td>
                                  <td> 229746 </td>
                                  <td> <a href='pdfs/AM173.pdf' class=''> <i class='fa-solid fa-file-pdf fa-2xl'></i> </a> -- </td >
                              </tr>
                              <tr>
                                  <td> 4. </td>
                                  <td>विधानसभा</td>
                                  <td> कुम्भलगढ़ </td>
                                  <td>174</td>
                                  <td> कुम्भलगढ़ और आमेट तहसील </td>
                                  <td> 242</td>
                                  <td> 116045 </td>
                                  <td> 109665 </td>
                                  <td> 225710 </td>
                                  <td> <a href='pdfs/AM174.pdf' class=''> <i class='fa-solid fa-file-pdf fa-2xl'></i> </a> -- </td >
                              </tr>
                              <tr>
                                  <td> 5. </td>
                                  <td>विधानसभा</td>
                                  <td> राजसमंद </td>
                                  <td>175</td>
                                  <td> राजसमंद तहसील </td>
                                  <td> 243 </td>
                                  <td> 117200 </td>
                                  <td> 113760 </td>
                                  <td> 230960 </td>
                                  <td> <a href='pdfs/AM175.pdf' class=''> <i class='fa-solid fa-file-pdf fa-2xl'></i> </a> -- </td >
                              </tr>
                              <tr>
                                  <td> 6. </td>
                                  <td>विधानसभा</td>
                                  <td>नाथद्वारा </td>
                                  <td>176</td>
                                  <td> नाथद्वारा और रेलमगरा तहसील </td>
                                  <td> 237 </td>
                                  <td> 122175 </td>
                                  <td> 115767 </td>
                                  <td> 237942 </td>
                                  <td> <a href='pdfs/AM176.pdf' class=''> <i class='fa-solid fa-file-pdf fa-2xl'></i> </a> -- </td >
                              </tr>

							  </tbody>
                                  </table>
                            </div>

                </div>
            </div>
        </div>
    </section>


                      <!--begin::Section-->
           <section class="section blog-section blog-sec-six lang en">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-12 wow fadeInUp" data-wow-delay="0.2s">
                    <div class="section-header-six">
                        <h2>Constituencies<span class="text-primary">.</span></h2>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="text-end">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">

                                            <!--begin::Table-->
                            <div class="custom-datatable-filter table-responsive">
                                <table class="table datatable">
<thead>
<tr>
                                 <th> SNo.</th>
                                 <th> Type</th>
                                 <th> Constituency(Seat Number) </th>
                                 <th> Tehsils </th>
                                 <th> Booths </th>
                                 <th> Male </th>
                                 <th> Female  </th>
                                 <th> Total </th>
                                 <th> Map in PDF file</th>
                             </tr>
</thead>
<tbody>
                             <tr>
                                 <td> 1. </td>
                                 <td> Rajya Sabha </td>
                                 <td> -- </td>
                                 <td> -- </td>
                                 <td> -- </td>
                                 <td> -- </td>
                                 <td> -- </td>
                                 <td> -- </td>
                                 <td> -- </td>
                             </tr>
                             <tr>
                                 <td> 2. </td>
                                 <td> Lok Sabha </td>
                                 <td> Rajsamand (22)</td>
                                 <td> <!--Rajsamand is a parliamentary constituency / parliamentary seat which also includes constituencies of the following districts :- 
                                 <li> Rajsamand <li> Ajmer <li> Pali <li> Nagaur </li>
                                 --> </td>
                                 <td> -- </td>
                                 <td> -- </td>
                                 <td> -- </td>
                                 <td> -- </td>

                                 <td> <a href='pdfs/DM27.pdf' class=''> <i class='fa-solid fa-file-pdf fa-2xl'></i> </a> -- </td>
                             </tr>
                             <tr>
                                 <td> 3. </td>
                                 <td>Assembly</td>
                                 <td>Bhim (173)</td>
                                 <td> Bhim and Deogarh</td>
                                 <td> 262 </td>
                                 <td> 117315 </td>
                                 <td> 112431 </td>
                                 <td> 229746 </td>
                                 <td> <a href='pdfs/AM173.pdf' class=''> <i class='fa-solid fa-file-pdf fa-2xl'></i> </a> -- </td>
                             </tr>
                             <tr>
                                 <td> 4. </td>
                                 <td>Assembly</td>
                                 <td> Kumbhalgarh(174)</td>
                                 <td> Kumbhalgarh and Amet </td>
                                 <td> 242</td>
                                 <td> 116045 </td>
                                 <td> 109665 </td>
                                 <td> 225710 </td>
                                 <td> <a href='pdfs/AM174.pdf' class=''> <i class='fa-solid fa-file-pdf fa-2xl'></i> </a> -- </td>
                             </tr>
                             <tr>
                                 <td> 5. </td>
                                 <td>Assembly</td>
                                 <td> Rajsamand(175)</td>
                                 <td> Rajsamand Tehsil </td>
                                 <td> 243 </td>
                                 <td> 117200  </td>
                                 <td> 113760 </td>
                                 <td> 230960 </td>
                                 <td> <a href='pdfs/AM175.pdf' class=''> <i class='fa-solid fa-file-pdf fa-2xl'></i> </a> -- </td>
                             </tr>
                             <tr>
                                 <td> 6. </td>
                                 <td>Assembly</td>
                                 <td>Nathdwara(176)</td>
                                 <td> Nathdwara and Railmagara </td>
                                 <td> 237 </td>
                                 <td> 122175 </td>
                                 <td> 115767 </td>
                                 <td> 237942 </td>
                                 <td> <a href='pdfs/AM176.pdf' class=''> <i class='fa-solid fa-file-pdf fa-2xl'></i> </a> -- </td>
                             </tr>
						</tbody>

                                  </table>
                            </div>

                </div>
            </div>
        </div>
    </section>


{% include 'footerr.html' %}
