{% load static %}
{% include 'header.html' %}


    <!-- Blog Section -->
      <section class="section blog-section blog-sec-six lang hi active">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-12 wow fadeInUp" data-wow-delay="0.2s">
                    <div class="section-header-six">
                        <h2> फसलें <span class="text-primary">.</span></h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    

                    <div class='card shadow-none blog-grid-six'>
                        <div class='row align-items-center'>
                            <div class='col-md-6 d-flex'>
                                <div class='card-img flex-fill'>
                                    <a href='#'>
                                        <img src="{% static 'assets/img/kharif.jpg' %}" class='rounded w-100 h-100' alt='Img'>
                                    </a>
                                    <span class='badge bg-primary'>...</span>
                                </div>
                            </div>
                            <div class='col-md-6 d-flex'>
                                <div class='card-body ps-md-0 flex-fill'>
                                    <h5 class='mb-2'><a href='#'>          खरीफ फसलें </a></h5>
                                    <p class='mb-4 text-truncatee line-clamb-3'>                               
                                                    राजसमन्द जिले में 2020 -21 की अवधि में 97802 हेक्टेयर फसलों का उत्पादन हुआ है | 
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    

                    <div class='card shadow-none blog-grid-six'>
                        <div class='row align-items-center'>
                            <div class='col-md-6 d-flex'>
                                <div class='card-img flex-fill'>
                                    <a href='#'>
                                        <img src="{% static 'assets/img/rabi.jpg' %}" class='rounded w-100 h-100' alt='Img'>
                                    </a>
                                    <span class='badge bg-primary'>...</span>
                                </div>
                            </div>
                            <div class='col-md-6 d-flex'>
                                <div class='card-body ps-md-0 flex-fill'>
                                    <h5 class='mb-2'><a href='#'>           रबी फसलें  </a></h5>
                                    <p class='mb-4 text-truncatee line-clamb-3'>                                            राजसमन्द जिले में 2020 -21 की अवधि में 45522 हेक्टेयर फसलों का उत्पादन हुआ है | 
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    

                </div>
            </div>
        </div>
    </section>
    <!-- /Blog Section -->


{% include 'footerr.html' %}
