{% load static %}
{% include 'header.html' %}

    <!-- Blog Section -->
          <section class="section blog-section blog-sec-six lang hi active">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-12 wow fadeInUp" data-wow-delay="0.2s">
                    <div class="section-header-six">
                        <h2>लोकनृत्य<span class="text-primary">.</span></h2>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="text-end">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    

                    <div class='card shadow-none blog-grid-six'>
                        <div class='row align-items-center'>
                            <div class='col-md-6 d-flex'>
                                <div class='card-img flex-fill'>
                                    <a href='#'>
                                        <img src="{% static 'assets/img/gawari.jpg' %}" class='rounded w-100 h-100' alt='Img'>
                                    </a>
                                    <span class='badge bg-primary'>...</span>
                                </div>
                            </div>
                            <div class='col-md-6 d-flex'>
                                <div class='card-body ps-md-0 flex-fill'>
                                    <h5 class='mb-2'><a href='#'>गवरी नृत्य </a></h5>
                                   <p class='mb-4 text-truncatee line-clamb-3'>                                                            

            <li> 
जनजाति -  गवरी मेवाड़ में भील जनजाति द्वारा किया जाने वाला प्रसिद्ध लोक नृत्य है जिसे 'राई' नृत्य के नाम से भी जाना जाता है | 
            </li>
            <li> 
समय - सावन भादो | रक्षाबंधन के बाद से सवा महीने तक  
            </li>
            <li>
वाद्ययंत्र - मांदल और थाली के साथ केवल पुरुषों के द्वारा 
            </li>
            <li>
            निम्न पत्र होते हैं :- 
मनुष्य पात्र     भूडिया    राई    कुटकड़िया    कंजर-कंजरी    मीणा    बणजारा-बणजारी    दाणी    नट    खेतूडी    शंकरिया    कालबेलिया    कान-गूजरी    भोपा    फत्ता-फत्ती
            <li>    
यह पर्व आदिवासी जाती पर पौराणिक तथा सामाजिक प्रभाव की अभिव्यक्ति है। गवरी में पुरुष पात्र होते है। इसके खेलों में गणपति काना-गुजरी, जोगी, लाखा बणजारा इत्यादि के खेल होते है।



                                   </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    


                </div>
            </div>
        </div>
    </section>
    <!-- /Blog Section -->


    <!-- Blog Section -->
           <section class="section blog-section blog-sec-six lang en">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-12 wow fadeInUp" data-wow-delay="0.2s">
                    <div class="section-header-six">
                        <h2> Dances <span class="text-primary">.</span></h2>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="text-end">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    


                    <div class='card shadow-none blog-grid-six'>
                        <div class='row align-items-center'>
                            <div class='col-md-6 d-flex'>
                                <div class='card-img flex-fill'>
                                    <a href='#'>
                                        <img src="{% static 'assets/img/gawari.jpg' %}" class='rounded w-100 h-100' alt='Img'>
                                    </a>
                                    <span class='badge bg-primary'>...</span>
                                </div>
                            </div>
                            <div class='col-md-6 d-flex'>
                                <div class='card-body ps-md-0 flex-fill'>
                                    <h5 class='mb-2'><a href='#'>Gawari</a></h5>
                                   <p class='mb-4 text-truncatee line-clamb-3'>                                                            

<li>
Tribe - Gavari is a famous folk dance performed by the Bhil tribe in Mewar, which is also known as 'Rai' dance.

</li>

<li>
Time - Sawan Bhado | After Rakshabandhan for a month and a quarter

</li>

<li>
Instruments - Only by men with mandal and thali

</li>

<li>
The following are the characters: -
Male Characters Bhudia Rai Kutkadia Kanjar-Kanjari Meena Banjara-Banjari Dani Nat Khetudi Shankariya Kalbelia Kan-Gujri Bhopa Fatta-Fatti

<li>
This festival is an expression of mythological and social influence on the tribal caste. Gavari has male characters. Its games include Ganpati Kana-Gujri, Jogi, Lakha Banjara, etc.


                                   </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    
					
                </div>
            </div>
        </div>
    </section>
    <!-- /Blog Section -->


{% include 'footerr.html' %}
