{% load static %}
{% include 'header.html' %}


    <!-- Blog Section -->
          <section class="section blog-section blog-sec-six lang hi active">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-12 wow fadeInUp" data-wow-delay="0.2s">
                    <div class="section-header-six">
                        <h2> लोकदेवी-देवता<span class="text-primary">.</span></h2>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="text-end">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    

                    <div class='card shadow-none blog-grid-six'>
                        <div class='row align-items-center'>
                            <div class='col-md-6 d-flex'>
                                <div class='card-img flex-fill'>
                                    <a href='#'>
                                        <img src="{% static 'assets/img/ghewar.jpg' %}" class='rounded w-100 h-100' alt='Img'>
                                    </a>
                                    <span class='badge bg-primary'>...</span>
                                </div>
                            </div>
                            <div class='col-md-6 d-flex'>
                                <div class='card-body ps-md-0 flex-fill'>
                                    <h5 class='mb-2'><a href='#'> घेवर माता जी  </a></h5>
                                   <p class='mb-4 text-truncatee line-clamb-3'>                                                            
										घेवर माता का मंदिर राजसमन्द झील की पाल पर बना हुआ है जिनके करकमलों द्वारा इस झील की नींव रखी गयी थी | घेवर माता का मंदिर एक सती मंदिर है | माता मालवा क्षेत्र की रहने वाली थी |          
                                   </p>
                                </div>
                            </div>
                        </div>
                    </div>




                    <div class='card shadow-none blog-grid-six'>
                        <div class='row align-items-center'>
                            <div class='col-md-6 d-flex'>
                                <div class='card-img flex-fill'>
                                    <a href='#'>
                                        <img src="{% static 'assets/img/pipladmataji.jpg' %}" class='rounded w-100 h-100' alt='Img'>
                                    </a>
                                    <span class='badge bg-primary'>...</span>
                                </div>
                            </div>
                            <div class='col-md-6 d-flex'>
                                <div class='card-body ps-md-0 flex-fill'>
                                    <h5 class='mb-2'><a href='#'> पीपलाद माताजी </a></h5>
                                   <p class='mb-4 text-truncatee line-clamb-3'>                                                            

जिले  के उनवास गाँव में स्थित मंदिर जिसे उनवास की माता के नाम से भी जाना जाता है |   


                                   </p>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </section>
    <!-- /Blog Section -->


    <!-- Blog Section -->
           <section class="section blog-section blog-sec-six lang en">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-12 wow fadeInUp" data-wow-delay="0.2s">
                    <div class="section-header-six">
                        <h2> Deities <span class="text-primary">.</span></h2>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="text-end">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    
                    <div class='card shadow-none blog-grid-six'>
                        <div class='row align-items-center'>
                            <div class='col-md-6 d-flex'>
                                <div class='card-img flex-fill'>
                                    <a href='#'>
                                        <img src="{% static 'assets/img/ghewar.jpg' %}" class='rounded w-100 h-100' alt='Img'>
                                    </a>
                                    <span class='badge bg-primary'>...</span>
                                </div>
                            </div>
                            <div class='col-md-6 d-flex'>
                                <div class='card-body ps-md-0 flex-fill'>
                                    <h5 class='mb-2'><a href='#'> Ghewar Mata Ji Temple </a></h5>
                                   <p class='mb-4 text-truncatee line-clamb-3'>                                                            

Ghevar Mata Temple is built on the bank of Rajsamand Lake, by whose hands the foundation of this lake was laid. Ghevar Mata Temple is a Sati Temple. Mata was a resident of Malwa region. 

                                   </p>
                                </div>
                            </div>
                        </div>
                    </div>




                    <div class='card shadow-none blog-grid-six'>
                        <div class='row align-items-center'>
                            <div class='col-md-6 d-flex'>
                                <div class='card-img flex-fill'>
                                    <a href='#'>
                                        <img src="{% static 'assets/img/ghewar.jpg' %}" class='rounded w-100 h-100' alt='Img'>
                                    </a>
                                    <span class='badge bg-primary'>...</span>
                                </div>
                            </div>
                            <div class='col-md-6 d-flex'>
                                <div class='card-body ps-md-0 flex-fill'>
                                    <h5 class='mb-2'><a href='#'> Piplad Mataji</a></h5>
                                   <p class='mb-4 text-truncatee line-clamb-3'>                                                            
                                   The temple situated in Unwas village of the district is also known as Unwas ki Mata. 
                                   </p>
                                </div>
                            </div>
                        </div>
                    </div>




                </div>
            </div>
        </div>
    </section>
    <!-- /Blog Section -->


{% include 'footerr.html' %}
