{% load static %}
{% include 'header.html' %}



                      <!--begin::Section-->
          <section class="section blog-section blog-sec-six lang hi active">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-12 wow fadeInUp" data-wow-delay="0.2s">
                    <div class="section-header-six">
                        <h2>जन सांख्यिकी<span class="text-primary">.</span></h2>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="text-end">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">

                                            <!--begin::Table-->
                            <div class="custom-datatable-filterr table-responsive">
                                <table class="table datatable">
				  <thead>
							<tr>
                                <th> विषयवस्तु </th>
                                <th> विशेष विवरण  </th>
                                <th> विविध विवरण  </th>
                                <th> राजस्थान   </th>
                                <th> भारत  </th>
                            </tr>
				  </thead>
				  <tbody>
<tr> <td> कुल जनसँख्या (ग्रामीण + शहरी ) </td> 	<td> 11,56,597 </td> 		<td> पुरुष - 5,81,339| महिला - 5,75,258 </td> 		<td>  6,85,48,437  </td> 	<td> 1,210,854,977 </td> 		</tr>
<tr> <td> कुल ग्रामीण जनसँख्या  </td> 			<td> 9,72,777 </td> 		<td> पुरुष - 4,86,960  | महिला - 4,85,817 </td> 	<td> 51500352 </td> 		<td> 833748852 </td> 			</tr>
<tr> <td> कुल शहरी जनसँख्या  </td> 			<td> 1,83,820 </td> 		<td> पुरुष - 94,379  | महिला - 89,441 </td> 		<td> 17048085 </td> 		<td> 377106125 </td>			</tr>
<tr> <td> कुल शिशु जनसँख्या  </td> 			<td> 1,76,041 </td> 		<td> पुरुष - 92,527 | महिला - 83,514 </td> 			<td> 10649504 </td> 		<td> 164515253 </td>			</tr>
<tr> <td> जनसँख्या घनत्व  </td> 			<td> 248 व्यक्ति प्रति वर्गकिमी</td> <td> NA  </td> 									<td> 200 </td> 				<td> 382 </td> 					</tr>
<tr> <td> लिंगानुपात </td> 					<td> 990  </td>  			<td>  ग्रामीण - 998 | शहरी - 948   </td> 			<td> 928 </td> 				<td> 943 </td> 					</tr>
<tr> <td> साक्षरता दर  </td> 				<td>  63.1 %   </td>  		<td>  पुरुष - 78.4  | महिला - 48.00   </td> 		<td> 66.10 % </td> 			<td> 73 % </td>					</tr>
<tr> <td> शहरी जनसँख्या प्रतिशत  -  			<td> 15.89 % </td> 			<td> दशकीय वृद्धि दर - 17.72 %   </td>  				<td>    </td> 				<td>      </td> 				</tr>
<tr> <td> जिले का क्षेत्रफल  </td> 			<td>   4655.00 sqkm  </td>  <td>    </td> 									<td>  </td> 				<td>  </td>						</tr>
<tr> <td> कुल नगरों की संख्या  </td> 			<td>   9    </td>  			<td> नगर - 4 |  जनगणना नगर - 5  </td> 			<td> 185 </td> 				<td>  </td>						</tr>
<tr> <td> कुल गाँवों की संख्या  </td> 			<td>   1050    </td>  		<td> आबाद - 1037 |  निर्जन - 13  </td> 			<td> 44,672 </td> 			<td>  </td>						</tr>
<tr> <td> परिवारों की संख्या  </td> 			<td>   2,43,078    </td>  	<td> ग्रामीण - 205878 | शहरी - 37200   </td> 		<td> 1,26,51,423 </td> 		<td>  </td>						</tr>
<tr> <td> कुल अनुसूचित जाति जनसँख्या  </td> 	<td>   1,48,168   </td>  	<td>  पुरुष - 74,738  | महिला - 73,430   </td> 		<td> 1,22,21,593 </td>		<td>  </td>						</tr>
<tr> <td> कुल अनुसूचित जनजाति जनसँख्या  </td>  <td>   1,60,809   </td>  	<td>  पुरुष - 81,173  | महिला - 79,636   </td> 		<td> 92,38,534 </td>		<td>  </td>						</tr>
<tr> <td> साक्षर लोग (पढ़े लिखे )</td> 		 <td>   6,19,139    </td>  	<td> पुरुष - 3,83,334  | महिला - 2,35,805 </td> 	<td> 3,82,75,282 </td>		<td>  </td>						</tr>
				  </tbody>
                                  </table>
                            </div>

                </div>
            </div>
        </div>
    </section>

                  <!--end::Row-->


                      <!--begin::Section-->
           <section class="section blog-section blog-sec-six lang en">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-12 wow fadeInUp" data-wow-delay="0.2s">
                    <div class="section-header-six">
                        <h2>Demography<span class="text-primary">.</span></h2>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="text-end">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">

                                            <!--begin::Table-->
                            <div class="custom-datatable-filter table-responsive">
                                <table class="table datatable">
				  <thead>
							<tr>
<th> theme </th>
                                 <th>specification</th>
                                 <th>Miscellaneous Details</th>
                                 <th> Rajasthan </th>
                                 <th>India</th>
                             </tr>
</head>
<tbody>
<tr> <td> Total population (rural + urban ) </td> <td> 11,56,597 </td> <td> Male - 5,81,339. Female - 5,75,258 </td> <td> 6,85,48,437 </td> <td> 1,210,854,977 </td> </tr>
<tr> <td> Total rural population </td> <td> 9,72,777 </td> <td> Male - 4,86,960 | Female - 4,85,817 </td> <td> 51500352 </td> <td> 833748852 </td> </tr>
<tr> <td> Total urban population </td> <td> 1,83,820 </td> <td> Male - 94,379 | Female - 89,441 </td> <td> 17048085 </td> <td> 377106125 </td> </tr>
<tr> <td> Total child population </td> <td> 1,76,041 </td> <td> Male - 92,527 | Female - 83,514 </td> <td> 10649504 </td> <td> 164515253 </td> </tr>
<tr> <td>Population density</td> <td> 248 persons per sq km</td> <td> NA </td> <td> 200 </td> <td> 382 </td> </tr >
<tr> <td> Sex Ratio </td> <td> 990 </td> <td> Rural - 998 | Urban - 948 </td> <td> 928 </td> <td> 943 </td> </tr>
<tr> <td> Literacy rate </td> <td> 63.1 % </td> <td> Male - 78.4 | Female - 48.00 </td> <td> 66.10 % </td> <td> 73 % </td> </tr>
<tr> <td> Urban population percentage - <td> 15.89 % </td> <td> Decadal growth rate - 17.72 % </td> <td> </td> <td> </td> </tr>
<tr> <td>Area of the district</td> <td> 4655.00 sqkm </td> <td> </td> <td> </td> <td> </td> </tr>
<tr> <td> Total number of cities </td> <td> 9 </td> <td> Cities - 4 | Census Town - 5 </td> <td> 185 </td> <td> </td> </tr>
<tr> <td> Total No. of Villages </td> <td> 1050 </td> <td> Inhabited - 1037 | Deserted - 13 </td> <td> 44,672 </td> <td> </td> </tr>
<tr> <td> No. of households </td> <td> 2,43,078 </td> <td> Rural - 205878 | Urban - 37200 </td> <td> 1,26,51,423 </td> <td> </td> </tr>
<tr> <td> Total SC population </td> <td> 1,48,168 </td> <td> Male - 74,738 | Female - 73,430 </td> <td> 1,22,21,593 </td> <td> </td> </tr>
<tr> <td> Total ST population </td> <td> 1,60,809 </td> <td> Male - 81,173 | Female - 79,636 </td> <td> 92,38,534 </td> <td> </td> </tr>
<tr> <td> Literate people</td> <td> 6,19,139 </td> <td> Male - 3,83,334 | Female - 2,35,805 </td> <td> 3,82,75,282 </td> <td> </td> </tr>
</tbody>                                  </table>
                            </div>

                </div>
            </div>
        </div>
    </section>

                  <!--end::Row-->

{% include 'footerr.html' %}
