{% load static %}
{% include 'header.html' %}


                      <!--begin::Section-->
          <section class="section blog-section blog-sec-six lang hi active">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-12 wow fadeInUp" data-wow-delay="0.2s">
                    <div class="section-header-six">
                        <h2>विभाग <span class="text-primary">.</span></h2>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="text-end">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">

                                            <!--begin::Table-->
                            <div class="custom-datatable-filterr table-responsive">
                                <table class="table table-bordered datatable">

				  <thead>
					<tr>
						
						<th> विभाग का नाम  </th>
						<th> प्रमुख योजनाएं </th>
					</tr>
				</thead>
				<tbody>
<tr> 
	<td> <b> प्रशासनिक सुधार विभाग ARD </b> </td>
	<td>  कोई योजना उपलब्ध नहीं  </td>
</tr>
<tr> 
	<td> <b> कृषि विपणन विभाग AM </b> </td>
	<td>  
		<li> <a class="" href="pdf/Kisan_Kalewa_Yojna_2014.pdf" target="_blank"> किसान कलेवा योजना  </a> 
		<li> <a class="" href="pdf/news_rgkssy__01112019.pdf" target="_blank"> राजीव गाँधी कृषक सहायता योजना  </a> 
		<li> <a class="" href="pdf/SHRAMIK_KALYAN_YOJNA.pdf" target="_blank"> महात्मा ज्योतिबा फूले मंडी श्रमिक कल्याण योजना -2015  </a> </li> 
		<li> <a class="" href="pdf/news_savitri_bai_phule_manila_krishak_empowerment_yojna.pdf" target="_blank"> सावित्री बाई फूले महिला कृषक सशक्तिकरण योजना </a> </li> 
		<li> <a class="" href="psd/news_e_payment_promotion_yojna.pdf" target="_blank">  ई -भुगतान प्रोत्साहन योजना  </a> </li> 
		<li> <a class="" href="pdf/news_cm_farmer_foregin_training_visit_yojna.pdf" target="_blank">  मुख्यमंत्री कास्तगार विदेश प्रशिक्षण यात्रा योजना   </a> </li> 
		<li> <a class="" href="pdf/Immovable_Property_Allotment_Policy_2005.pdf" target="_blank"> आबंटन नीति  </a> </li> 
		<li> <a class="" href="pdf/Mandi_Transfer_Policy_2013.pdf" target="_blank"> मंडी स्थानांतरण नीति 2013 </a> </li> 
		<li> <a class="" href="pdf/Policy_for_promotion_of_Agro_Processing_and_Agri_Business_2010.pdf" target="_blank"> कृषि प्रसंस्करण एवं कृषि व्यवसाय प्रोत्साहन नीति, 2015 </a> </li> 
</tr>
<tr> 
	<td> <b> कृषि विभाग AgriD </b> </td>
	<td>
		<li>  <a class="" href="#.pdf" target="_blank"> राष्ट्रीय खाद्य सुरक्षा योजना  NFSS </a> </li> 
		<li> <a class="" href="#" target="_blank"> National Mission on Oilseeds and Oil Palm (NMOOP) </a> </li> 
		<li> <a class="" href="#" target="_blank"> नेशनल मिशन फॉर सस्टेनेबल एग्रीकल्चर-वर्षा आधारित क्षेत्र विकास कार्यक्रम NAMSA  </a> </li> 
		<li> <a class="" href="#" target="_blank"> National Mission on Agricultural Extension & Technology NMAET </a> </li> 
	</td>
</tr>
<tr> 
	<td> <b> पशुधन विभाग  AnimalH </td>
	<td>
		<li> <a class=" " href="pdf/State_plans.pdf" target="_blank">  बकरी विकास योजना NLM के तहत  </a> </li> 
		<li> <a class="" href="pdf/Infertility_Treatment_Camps_2019.pdf" target="_blank"> बाँझ निवारण एवं पशु चिकित्सा शिविर ITCamp  </a> </li> 
		<li> <a class="" href="pdf/ILDC_2019.pdf" target="_blank"> एकीकृत पशुधन विकास केंद्र  </a> </li> 
		<li> <a class="" href="pdf/Genetic Improvement of Sheep and Goats.pdf" target="_blank"> GENETIC IMPROVEMENT OF SHEEP AND GOAT” (GISG) UNDER NATIONAL LIVESTOCK MISSION</a> </li> 
		<li> <a class="" href="pdf/Innovative Poultry Productivity Project.pdf" target="_blank"> INNOVATIVE POULTRY PRODUCTIVITY PROJECT (IPPP) UNDER NLM</a> 
	</td>
</tr>
<tr> 
	<td> <b> आयुर्वेद विभाग  Ayush </td>
	<td> <b> आयुर्वेद विभाग  Ayush </td>
</tr>
<tr> 
	<td> <b> बायोफयूल विभाग BioFuel </td>
	<td> 
		<p> <a href="http://www.biofuel.rajasthan.gov.in/publicationpdf/Rajasthan%20Biofuel%20Rules%20_2019.pdf" class="btn btn-succes" target="_blank"> राजस्थान जेंव ईंधन नियम 2019 </a>  	 </td>
	</tr>
<tr> 
	<td> <b> Civil Aviation dept </td>
	<td> 
	</td>
</tr>
<tr> 
	<td> <b> कॉलेज शिक्षा विभाग CED </td>
	<td>    
		<li> <a class=" " href="pdf/217092019.pdf" target="_blank"> मुख्यमंत्री उच्च शिक्षा छात्रवृति योजना  </a> </li> 
		<li> <a class="" href="pdf/devnarayan2021.pdf" target="_blank"> देवनारायण छात्रा स्‍कूटी वितरण एवं प्रोत्‍साहन राशि योजना   </a> </li> 
		<li> <a class="" href="pdf/0303202101.pdf" target="_blank"> कालीबाई भील मेधावी छात्रा स्कूटी योजना नियम 2020  </a> </li> 
		<li> <a class="" href="pdf/bed2021.pdf" target="_blank"> विधवा/परित्यक्ता मुख्यमंत्री (बी.एड.) संबल योजना  </a> </li> 
		<li> <a class=" " href="" target="_blank">  स्टेट यूनिवर्सिटीज State Univ. </a> </li> 
		<li> <a class=" " href="" target="_blank"> निजी यूनिवर्सिटीज  Private Univ.  </a> </li> 
		<li> <a class=" " href="" target="_blank">  डीम्ड यूनिवर्सिटीज Deemed Univ.  </a> </li> 
		<li> <a class=" " href="" target="_blank"> अन्य यूनिवर्सिटीज  Other Univ.   </a> </li> 
		<p> <a href="http://hteapp.hte.rajasthan.gov.in/courses/" class="btn btn-sm btn-info" target="_blank"> कोर्स ढूंढें  </a>
		</td>
</tr>
<tr> 
	<td> <b> व्यवसायिक कर CT  </td>
	<td> <b> व्यवसायिक कर CT  </td>
</tr>
<tr> 
	<td> <b> उपभोक्ता मामलें CAff  </td>
	<td>  				
		<li> <a class=" " href="" target="_blank"> निर्धन/अक्षम उपभोक्ताओं के लिये विधिक सहायता योजना  </a> </li>  
		<li> <a class=" " href="" target="_blank">युवा पुरस्कार तथा प्रशस्ति-पत्र योजना  </a> </li>  
	  </td>
	
</tr>
<tr> 
	<td> <b> दिल्ली मुंबई माल गलियारा DMIC  </td>
	<td> <b> दिल्ली मुंबई माल गलियारा DMIC  </td>
</tr>
<tr> 
	<td> <b> देवस्थान विभाग DEV  </td>
	<td>  				
		<li> <a class=" " href="" target="_blank"> मोक्ष कलश योजना-2020 </a> </li>  
		<li> <a class=" " href="" target="_blank">  वरिष्ठ नागरिक तीर्थयात्रा योजना  </a> </li>  
		<li> <a class=" " href="" target="_blank">कैलाश मानसरोवर तीर्थयात्रा योजना </a> </li>  
		<li> <a class=" " href="" target="_blank"> सिन्धु दर्शन तीर्थयात्रा योजना </a> </li>  
		<li> <a class=" " href="" target="_blank"> अपना धाम-अपना काम-अपना नाम योजना </a> </li>  
	  </td>
	
</tr>
<tr> 
	<td> <b> आपदा प्रबंधन एवं सहायता विभाग DMR </td>
	<td> <b> <a href="pdf/CD_Vol_Form_Format_07022020.pdf" target="_blank" class=" "> नागरिक सुरक्षा स्वयंसेवक आवेदन पत्र  </a> </b> </td>
</tr>
<tr> 
	<td> <b> आर्थिक एवं सांख्यिकी विभाग DEP  </td>
	<td> <b> आर्थिक एवं सांख्यिकी विभाग DEP  </td>
</tr>
<tr> 
	<td> <b> शिक्षा विभाग Edu </td>
	<td> <b> शिक्षा विभाग Edu </td>
	
	
</tr>
<tr> 
	<td> <b> मुख्य निर्वाचन अधिकारी Elec </td>
	
	<td>  				
		<li> <a class=" " href="https://www.nvsp.in/" target="_blank"> राष्ट्रीय मतदाता सेवा पोर्टल  </a> </li>  
		<li> <a class=" " href="https://voterportal.eci.gov.in/" target="_blank">  मतदाता पोर्टल   </a> </li>  
		<li> <a class=" " href="https://eci.gov.in/e-epic/" target="_blank"> डाउनलोड e-EPIC App </a> </li>  
	  </td>
</tr>
<tr> 
	<td> <b> विद्युत निरिक्षण विभाग EI </td>
	<td> <b> विद्युत निरिक्षण विभाग EI </td>
	
	
</tr>
<tr> 
	<td> <b> कर्मचारी राज्य बीमा निगम ESIC </td>
	<td> <b> कर्मचारी राज्य बीमा निगम ESIC </td>

</tr>
<tr> 
	<td> <b> रोजगार विभाग Emp </td>
	<td>  				
		<li> <a class=" " href="pdf.208_3f954af4-861c-492d-aa3f-290f5f86364eMukhyamantriYuvaSambalYojana_pdf.pdf" target="_blank"> मुख्यमंत्री युवा संबल योजना </a> </li>  
	  </td>
	
</tr>
<tr> 
	<td> <b> उर्जा विभाग Ener </td>
	<td> <b> उर्जा विभाग Ener </td>
	
</tr>
<tr> 
	<td> <b> पर्यावरण विभाग Env </td>
	<td> <b> पर्यावरण विभाग Env </td>
	
	
</tr>
<tr> 
	<td> <b> एक्साइज विभाग Exc</td>
	<td>  				
		<li> <a class=" " href="pdf/Amnesty Scheme 2021.pdf" target="_blank"> आबकारी एमनेस्टी स्कीम 2021 </a> </li>  
	 <li> <a class=" " href="https://rajexcise.gov.in/Root/Application_Hotel.aspx" target="_blank"> होटल के लिए आवेदन करें --> </a> 
		 <li> <a class=" " href="https://rajexcise.gov.in/Root/Application_Restaurant.aspx" target="_blank"> रेस्टोरेंट के लिए आवेदन करें --> </a> 
	 	<li> <a class=" " href="https://rajexcise.gov.in/Root/Application_Club.aspx" target="_blank"> क्लब / बार के लिए आवेदन करें --> </a> 
	</td>
</tr>
<tr> 
	<td> <b> फैक्ट्रीज एवं बायलर विभाग FAB </td>
	<td> <b> <a href="http://www.rajfab.nic.in/" target="_blank" class="btn btn-sm btn-warning"> वेबसाइट </a> </b> </td>
	
	
</tr>
<tr> 
	<td> <b> वित्त विभाग FinD </td>
	<td> <b> <a href="http://www.finance.rajasthan.gov.in/" target="_blank" class="btn btn-sm btn-warning"> वेबसाइट </a> </b> </td>
	
	
</tr>
<tr> 
	<td> <b> मत्स्य विभाग FishD </td>
	<td> <a class=" " href="pdf/technical_Finance.pdf" target="_blank"> विभाग की योजनाए  </a>  </td>
	
</tr>
<tr> 
	<td> <b> खाद्य एवं नागरिक आपूर्ति विभाग FPD </td>
	<td> <a class=" " href="" target="_blank">  राष्ट्रीय खाद्य सुरक्षा अधिनियम 2013 </a>  </td>
	
</tr>
<tr> 
	<td> <b> वन विभाग  </td>
	<td> <b> <a href="https://forest.rajasthan.gov.in/generalforest" target="_blank" class="btn btn-sm btn-warning"> वेबसाइट </a> </b> </td>
	
	
</tr>
<tr> 
	<td> <b> सामान्य प्रशासन एवं सचिवालय  </td>
	
	<td> <a class=" " href="http://chms.rajasthan.gov.in/" target="_blank"> सर्किट हाउस बुकिंग के लिए --> </a>  </td>
</tr>
<tr> 
	<td> <b> गोपालन विभाग  </td>
	<td> <a class=" " href="https://gopalan.rajasthan.gov.in/goshalareg.htm" target="_blank"> गौशाला पंजीकरण की प्रक्रिया --> </a>  </td>
</tr>
<tr> 
	<td> <b> भूजल विभाग  </td>
	<td> <b> <a href="https://phedwater.rajasthan.gov.in/" target="_blank" class="btn btn-sm btn-warning"> वेबसाइट </a> </b> </td>
	
	
</tr>
<tr> 
	<td> <b> गृह  विभाग  </td>
	<td> <b> <a href="http://home.rajasthan.gov.in/content/homeportal/en.html#" target="_blank" class="btn btn-sm btn-warning"> वेबसाइट </a> </b> </td>
	
	
</tr>
<tr> 
	<td> <b> होमियोपैथी चिकित्सा विभाग  </td>
	<td> <b> <a href="https://health.rajasthan.gov.in/homeopathy" target="_blank" class="btn btn-sm btn-warning"> वेबसाइट </a> </b> </td>
	
	
</tr>
<tr> 
	<td> <b> हॉर्टिकल्चर विभाग  </td>
<td><a class="" href="https://agriculture.rajasthan.gov.in/content/agriculture/en/Directorate-of-Horticulture-dep/schemes.html" target="_blank"> योजनायें </a></td>
	
</tr>
<tr> 
	<td> <b> उद्योग विभाग  </td>
<td><a class="" href="https://industries.rajasthan.gov.in/content/industries/doi/ProgrammesSchemes/StateGovernmentLevel.html" target="_blank"> योजनायें </a></td>
	
</tr>
<tr> 
	<td> <b>सूचना एवं जनसंपर्क विभाग  </td>
	<td>  				
		<li> <a class=" " href="pdf/.pdf" target="_blank"> अधिस्वीकृत पत्रकारों को मेडिक्लेम बीमा पॉलिसी सुविधा </a> </li>  
		<li> <a class=" " href="pdf/DIPR-Scheme4.pdf" target="_blank"> अधिस्वीकृत पत्रकार मेडिकल डायरी सुविधा </a> </li>  
		<li> <a class=" " href="pdf/DIPR-Scheme2.pdf" target="_blank"> अधिस्वीकृत पत्रकार निःशुल्क यात्रा सुविधा </a> </li>  
		<li> <a class=" " href="pdf/DIPR-Scheme5.pdf" target="_blank"> राजस्थान वरिष्ठ अधिस्वीकृत पत्रकार सम्मान योजना </a> </li>  
		<li> <a class=" " href="pdf/DIPR-Scheme1.pdf" target="_blank"> पत्रकारों को आर्थिक सहायता योजना </a> </li>  
	  </td>
	
</tr>
<tr> 
	<td> <b> सूचना एवं प्रोद्योगिकी विभाग DOITC </td>
	<td> <b> <a href="https://doitc.rajasthan.gov.in/_layouts/15/Doitc/User/index.aspx?LangID=English" target="_blank" class="btn btn-sm btn-warning"> वेबसाइट </a> </b> </td>
	
	
</tr>
<tr> 
	<td> <b> न्याय विभाग  </td>
	<td> <b> <a href="http://law.rajasthan.gov.in/justice#" target="_blank" class="btn btn-sm btn-warning"> वेबसाइट </a> </b> </td>
	
	
</tr>
<tr> 
	<td> <b> श्रमिक कल्याण विभाग  </td>
	<td>  				
		<li> <a class=" " href="pdf/.pdf" target="_blank"> 	शुभशक्ति योजना </a> </li>  
		<li> <a class=" " href="pdf/.pdf" target="_blank"> निर्माण श्रमिक जीवन व भविष्य सुरक्षा योजना </a> </li>  
		<li> <a class=" " href="pdf/.pdf" target="_blank"> निर्माण श्रमिक शिक्षा व कौशल विकास योजना  </a> </li>  
		<li> <a class=" " href="pdf/.pdf" target="_blank">  निर्माण श्रमिक सुलभ्य आवास योजना</a> </li>  
		<li> <a class=" " href="pdf/.pdf" target="_blank"> निर्माण श्रमिकों के लिए गम्भीर बीमारियों पर व्यय का पुनर्भरण योजना </a> </li>  
		<li> <a class=" " href="pdf/.pdf" target="_blank"> प्रसूति सहायता योजना  </a> </li>  
		<li> <a class=" " href="pdf/.pdf" target="_blank"> सिलिकोसिस पीड़ित हिताधिकारियों हेतु सहायता योजना </a> </li>  
		<li> <a class=" " href="pdf/.pdf" target="_blank"> हिताधिकारी की सामान्य अथवा दुर्घटना में मृत्यु या घायल होने की दशा में सहायता योजना </a> </li>  
	  </td>
	
</tr>
<tr> 
	<td> <b> भाषा एवं पुस्तकालय विभाग  </td>
<td> <b> <a href="https://education.rajasthan.gov.in/content/raj/education/department-of-language-and-library/hi/home0.html#" target="_blank" class="btn btn-sm btn-warning"> वेबसाइट </a> </b> </td>
	
	
</tr>
<tr> 
	<td> <b> साक्षरता विभाग  </td>
	<td> <b> <a href="https://education.rajasthan.gov.in/literacy#" target="_blank" class="btn btn-sm btn-warning"> वेबसाइट </a> </b> </td>
	
	
</tr>
<tr> 
	<td> <b> स्थानीय स्वशासन विभाग  </td>
	<td> 
		<li> <a class=" " href="pdf/.pdf" target="_blank"> इंदिरा रसोई योजना </a> </li>  
		<li> <a class=" " href="pdf/.pdf" target="_blank"> स्वच्छ भारत अभियान </a> </li>  
		<li> <a class=" " href="pdf/.pdf" target="_blank"> सीएम जल स्वावलंबन अभियान  </a> </li>  
		<li> <a class=" " href="pdf/.pdf" target="_blank"> Day NULM </a> </li>  
 	</td>
	
</tr>
<tr> 
	<td> <b> चिकित्सा शिक्षा विभाग  </td>
	<td> <b> <a href="https://education.rajasthan.gov.in/medicaleducation" target="_blank" class="btn btn-sm btn-warning"> वेबसाइट </a> </b> </td>
	
	
</tr>
<tr> 
	<td> <b> स्वास्थ्य एवं परिवार कल्याण विभाग  </td>
	<td> 
		<li> <a class=" " href="pdf/.pdf" target="_blank"> आयुष्‍मान भारत महात्‍मा गांधी राजस्‍थान स्‍वास्‍थ्‍य बीमा योजना </a> </li>  
		<li> <a class=" " href="pdf/.pdf" target="_blank"> मुख्यमंत्री चिरंजीवी स्वास्थ्य बीमा योजना </a> </li>  
		<li> <a class=" " href="pdf/.pdf" target="_blank"> अन्य योजनाए </a> </li>  
 	</td>
	
</tr>
<tr> 
	<td> <b> खान एवं भू विज्ञान विभाग  </td>
	<td> <b> <a href="hhttp://www.mines.rajasthan.gov.in/dmgcms/page?menuName=Home" target="_blank" class="btn btn-sm btn-warning"> वेबसाइट </a> </b> </td>
	
	
</tr>
<tr> 
	<td> <b> अल्पसंख्यक  विभाग  </td>
	<td> 
		<li> <a class=" " href="pdf/.pdf" target="_blank"> Term Loan </a> </li>  
		<li> <a class=" " href="pdf/.pdf" target="_blank"> Educational Loan Scheme </a> </li>  
		<li> <a class=" " href="pdf/.pdf" target="_blank"> Micro Financing Scheme </a> </li>  
		<li> <a class=" " href="pdf/.pdf" target="_blank"> Interest Subsidy Scheme </a> </li>  
 	</td>
	
</tr>
<tr> 
	<td> <b> पंचायतीराज विभाग  </td>
	<td> <li> <a class=" " href="http://rajpanchayat.rajasthan.gov.in/en-us/schemes/otherschemes.aspx" target="_blank"> योजनाएं </a> </li>   </td>
	
</tr>
<tr> 
	<td> <b> पेंशन पेंशनर्स कल्याण विभाग  </td>
	<td> <b> <a href="http://rajpension.nic.in/" target="_blank" class="btn btn-sm btn-warning"> वेबसाइट </a> </b> </td>
	
	
</tr>
<tr> 
	<td> <b> कार्मिक विभाग  </td>
	<td> <b> <a href="https://dop.rajasthan.gov.in/" target="_blank" class="btn btn-sm btn-warning"> वेबसाइट </a> </b> </td>
	<td>   </td>
	
</tr>
<tr> 
	<td> <b> योजना विभाग  </td>
	<td> <b> <a href="http://plan.rajasthan.gov.in/planning#" target="_blank" class="btn btn-sm btn-warning"> वेबसाइट </a> </b> </td>
	
	
</tr>
<tr> 
	<td> <b> जनस्वास्थ्य एवं अभियांत्रिकी विभाग  </td>
	<td> <b> <a href="https://phedwater.rajasthan.gov.in/phed#" target="_blank" class="btn btn-sm btn-warning"> वेबसाइट </a> </b> </td>
	
	
</tr>
<tr> 
	<td> <b> सार्वजनिक निर्माण विभाग  </td>
	<td> <b> <a href="https://roads.rajasthan.gov.in/pwd" target="_blank" class="btn btn-sm btn-warning"> वेबसाइट </a> </b> </td>
	
	
</tr>
<tr> 
	<td> <b> पुलिस विभाग  </td>
	
	<td> <li> <a class=" " href="https://www.police.rajasthan.gov.in/citizenservices.aspx" target="_blank"> नागरिक सेवाएँ </a> </li>   </td>
</tr>
<tr> 
	<td> <b> पंजीयन एवं मुद्रांक विभाग  </td>
	<td> <b> <a href="https://igrs.rajasthan.gov.in/" target="_blank" class="btn btn-sm btn-warning"> वेबसाइट </a> </b> </td>
	
	
</tr>
<tr> 
	<td> <b> राजस्व विभाग  </td>
	<td> <b> <a href="http://landrevenue.rajasthan.gov.in/revenue/" target="_blank" class="btn btn-sm btn-warning"> वेबसाइट </a> </b> </td>
	
	
</tr>
<tr> 
	<td> <b> ग्रामीण विकास विभाग  </td>
	<td> <b> <a href="http://www.rdprd.gov.in/scheme.html" target="_blank" class="btn btn-sm btn-success">  योजनाएं </a> </b> </td>
	
</tr>
<tr> 
	<td> <b> संस्कृत शिक्षा विभाग  </td>
	<td> <b> <a href="https://education.rajasthan.gov.in/sanskrit/" target="_blank" class="btn btn-sm btn-warning"> वेबसाइट </a> </b> </td>
	
	
</tr>
<tr> 
	<td> <b> विज्ञान एवं प्रोद्योगिकी विभाग  </td>
	<td> <b> <a href="https://dst.rajasthan.gov.in/content/dst-gov/en/home.html" target="_blank" class="btn btn-sm btn-warning"> वेबसाइट </a> </b> </td>
	
	
</tr>
<tr> 
	<td> <b> सामाजिक न्याय एवं अधिकारिता विभाग  </td>
	<td> <b> <a href="https://sje.rajasthan.gov.in/Default.aspx?PageID=2" target="_blank" class="btn btn-sm btn-success">  योजनाएं </a> </b> </td>
	
</tr>
<tr> 
	<td> <b> तकनिकी शिक्षा विभाग  </td>
	<td> <b> <a href="http://dte.rajasthan.gov.in" target="_blank" class="btn btn-sm btn-warning"> वेबसाइट </a> </b> </td>
	
	
</tr>
<tr> 
	<td> <b> पर्यटन विभाग  </td>
	<td> <b> <a href="http://www.tourism.rajasthan.gov.in/" target="_blank" class="btn btn-sm btn-warning"> वेबसाइट </a> </b> </td>
	
	
</tr>
<tr> 
	<td> <b> परिवहन विभाग  </td>
	<td> <b> <a href="http://www.transport.rajasthan.gov.in/content/transportportal/en.html" target="_blank" class="btn btn-sm btn-warning"> वेबसाइट </a> </b> </td>
	
	
</tr>
<tr> 
	<td> <b> जनजाति क्षेत्र विकास विभाग  </td>
	<td> <b> <a href="https://tad.rajasthan.gov.in/content/raj/tad/hi/schemes.html#" target="_blank" class="btn btn-sm btn-success">  योजनाएं </a> </b> </td>
	
</tr>
<tr> 
	<td> नगर विकास एवं आवास विभाग  </td>
	<td> <b> <a href="https://urban.rajasthan.gov.in/udh" target="_blank" class="btn btn-sm btn-warning"> वेबसाइट </a> </b> </td>
</tr>
<tr> 
	<td> महिला एवं बाल विकास विभाग  </td>
	<td> 	
			<li> <a class="" href="pdf/Kisan_Kalewa_Yojna_2014.pdf" target="_blank"> इंदिरा महिला शक्ति उद्यम प्रोत्साहन योजना </a> </li>
			<li> <a class="" href="pdf/.pdf" target="_blank"> महिला सुरक्षा एवं सलाह केन्द्र नियमन एवं अनुदान योजना </a> </li>
			<li> <a class="" href="pdf/.pdf" target="_blank"> वन स्टॉप सेन्टर योजना </a> </li>
			<li> <a class="" href="pdf/.pdf" target="_blank"> कौशल सामर्थ्य योजना </a> </li>
			<li> <a class="" href="pdf/.pdf" target="_blank"> शिक्षा सेतु योजना </a> </li>
			<li> <a class="" href="pdf/.pdf" target="_blank"> इन्दिरा महिला शक्ति प्रोत्साहन एवं सम्मान योजना <a> </li>
			<li> <a class="" href="pdf/.pdf" target="_blank"> मुख्यमंत्री राजश्री योजना</a> </li>
			<li> <a class="" href="pdf/.pdf" target="_blank"> साथिन सुरक्षा बीमा योजना </a> </li>
	</td>
	
</tr>

				  </tbody>
				</table>

									<!--end::Row-->
                                  </table>
                            </div>

                </div>
            </div>
        </div>
    </section>

       
{% include 'footerr.html' %}
