{% load static %}
{% include 'header.html' %}


                      <!--begin::Section-->
          <section class="section blog-section blog-sec-six lang hi active">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-12 wow fadeInUp" data-wow-delay="0.2s">
                    <div class="section-header-six">
                        <h2>प्रशासनिक अधिकारीगण<span class="text-primary">.</span></h2>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="text-end">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">

                                            <!--begin::Table-->
                            <div class="custom-datatable-filter table-responsive">
                                <table class="table datatable">
				  <thead>
                <tr>
                                <th>  क्रम संख्या  </th>
                                <th>  पद का नाम  </th>
                                <th>  अधिकारी का नाम  </th>
                </tr>
              </thead>
              <tbody>

                        <tr>  <td>  1. </td>  <td>   जिला कलक्टर एवं जिला मजिस्ट्रेट  </td>  <td>  श्री बालमुकुन्द असावा, IAS  &nbsp; </td>  </tr>
                            <tr>  <td>  2.   </td>  <td>   जिला पुलिस अधीक्षक  </td>  <td>  श्री मनीष त्रिपाठी , IPS    </td>    </tr>
                        <tr>  <td>  3.   </td>  <td>  मुख्य कार्यकारी अधिकारी, सिईओ जिला परिषद्  </td> <td>  श्री बृजमोहन बैरवा    </td>    </tr>
                            <tr>  <td>  4.   </td>  <td>   अतिरिक्त जिला कलक्टर  </td> <td>  श्री नरेश बुनकर   </td>          </tr>
                            <tr>  <td>  5.   </td>  <td>   अतिरिक्त जिला कलक्टर (नाथद्वारा  ) </td> <td>  श्रीमती अर्चना बुगालिया   </td> </tr>
                            <tr>  <td>  6.   </td>  <td>  उपखंड अधिकारी - राजसमन्द   </td>  <td> श्री बृजेश गुप्ता  </td>   </tr>
                            <tr>  <td>  7.   </td>  <td>  उपखंड अधिकारी - नाथद्वारा   </td>  <td> सुश्री रक्षा पारिख </td>      </tr>
                            <tr>  <td>  8.   </td>  <td>  उपखंड अधिकारी - भीम   </td>     <td>  श्रीमती कुसुम लता चौहान     </td>  </tr>
                            <tr>  <td>  9.   </td>  <td>  उपखंड अधिकारी - कुम्भलगढ़   </td> <td>  श्री उपेन्द्र कुमार शर्मा  </td>   </tr>
                            <tr>  <td>  10.   </td>  <td>  उपखंड अधिकारी - आमेट   </td>   <td>  श्री गोविन्द सिंह   </td>      </tr>
                            <tr>  <td>  11.   </td> <td>  उपखंड अधिकारी - देवगढ   </td>  <td>  श्रीमती अर्चना चौधरी </td>       </tr>
                            <tr>  <td>  12.   </td> <td>  उपखंड अधिकारी - रेलमगरा   </td> <td>  श्री राजेश सुवालका  </td>     </tr>

                            <tr>
                                <td>  12.   </td>
                                <td>  तहसीलदार - राजसमन्द   </td>
                                <td>  श्री ध्यानचंद दलाल </td>
                            </tr>
                            <tr>
                                <td>  13.   </td>
                                <td>  तहसीलदार - नाथद्वारा   </td>
                                <td>  श्री ब्रिजेश गुप्ता  </td>
                            </tr>
                            <tr>
                                <td>  14.   </td>
                                <td>  तहसीलदार - भीम   </td>
                                <td>  श्री रामप्रसाद खटीक   </td>
                            </tr>
                            <tr>
                                <td>  15.   </td>
                                <td>  तहसीलदार - कुम्भलगढ़   </td>
                                <td>  श्री भागीरथ सिंह   (अतिरिक्त प्रभार) </td>
                            </tr>
                            <tr>
                                <td>  16.   </td>
                                <td>  तहसीलदार - आमेट   </td>
                                <td>  श्री भागीरथ सिंह    </td>
                            </tr>
                            <tr>
                                <td>  17.   </td>
                                <td>  तहसीलदार - देवगढ   </td>
                                <td>  श्री उगमसिंह राजपुरोहित  </td>
                            </tr>
                            <tr>
                                <td>  18.   </td>
                                <td>  तहसीलदार - रेलमगरा   </td>
                                <td>  श्री ईश्वरलाल खटीक   </td>
                            </tr>

                            <tr>
                                <td>  19.   </td>
                                <td>  तहसीलदार - गढ़बोर   </td>
                                <td>   </td>
                            </tr>
                            <tr>
                                <td>  20.   </td>
                                <td>  तहसीलदार - खमनोर   </td>
                                <td>  श्री सोहनलाल शर्मा </td>
                            </tr>
                            <tr>
                                <td>  21.   </td>
                                <td>  तहसीलदार - कुंवारिया    </td>
                                <td>  श्री राजेंद्र भरद्वाज </td>
                            </tr>
                            <tr>
                                <td>  22.   </td>
                                <td>  तहसीलदार - कुंवारिया    </td>
                                <td>  श्रीमती हुकुम कँवर  </td>
                            </tr>

				  </tbody>

                                  </table>
                            </div>

                </div>
            </div>
        </div>
    </section>

                  <!--end::Row-->


                      <!--begin::Section-->
           <section class="section blog-section blog-sec-six lang en">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-12 wow fadeInUp" data-wow-delay="0.2s">
                    <div class="section-header-six">
                        <h2>Administration Officials<span class="text-primary">.</span></h2>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="text-end">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">

                                            <!--begin::Table-->
                            <div class="custom-datatable-filter table-responsive">
                                <table class="table datatable">
<thead>
                 <tr>
                                 <th> SNO. </th>
                                 <th> Name of the post </th>
                                 <th> Name of the Officer </th>
                 </tr>
               </head>
               <tbody>

<tr> <td> 1. </td> <td> District Collector and District Magistrate </td> <td> Shri Balmukund Asava, IAS &nbsp; </td> </tr>
<tr> <td> 2. </td> <td> District Superintendent of Police </td> <td> Mr. Manish Tripathi, IPS </td> </tr>
<tr> <td> 3. </td> <td> Chief Executive Officer CEO Zila Parishad </td> <td> Mr. Brijmohan Bairwa </td> </tr>
<tr> <td> 4. </td> <td> Additional District Collector </td> <td> Mr. Naresh Bunkar </td> </tr>
<tr> <td> 5. </td> <td> Additional District Collector (Nathdwara) </td> <td> Mrs. Archana Bugalia </td> </tr>
<tr> <td> 6. </td> <td> Sub-Divisional Officer - Rajsamand </td> <td> Mr. Brijesh Gupta </td> </tr>
<tr> <td> 7. </td> <td> Sub-Divisional Officer - Nathdwara </td> <td> Ms. Raksha Parikh </td> </tr>
<tr> <td> 8. </td> <td> Sub-Divisional Officer - Bhim </td> <td> Mrs. Kusum Lata Chauhan </td> </tr>
<tr> <td> 9. </td> <td> Sub-Divisional Officer - Kumbhalgarh </td> <td> Mr. Upendra Kumar Sharma </td> </tr>
<tr> <td> 10. </td> <td> Sub-Divisional Officer - Amet </td> <td> Mr. Govind Singh </td> </tr>
<tr> <td> 11. </td> <td> Sub-Divisional Officer - Devgarh </td> <td> Mrs. Archana Choudhary </td> </tr>
<tr> <td> 12. </td> <td> Sub-Divisional Officer - Railmagra </td> <td> Mr. Rajesh Suwalka </td> </tr>


                             <tr>
                                 <td>12.</td>
                                 <td> Tehsildar - Rajsamand </td>
                                 <td> Mr. Dhyanchand Dalal </td>
                             </tr>
                             <tr>
                                 <td>13.</td>
                                 <td> Tehsildar - Nathdwara </td>
                                 <td> Mr. Brijesh Gupta </td>
                             </tr>
                             <tr>
                                 <td>14.</td>
                                 <td> Tehsildar - Bhim </td>
                                 <td> Mr. Ramprasad Khatik </td>
                             </tr>
                             <tr>
                                 <td>15.</td>
                                 <td> Tehsildar - Kumbhalgarh </td>
                                 <td> Shri Bhagirath Singh (Additional Charge) </td>
                             </tr>
                             <tr>
                                 <td>16.</td>
                                 <td> Tehsildar - Amet </td>
                                 <td> Mr. Bhagirath Singh </td>
                             </tr>
                             <tr>
                                 <td>17.</td>
                                 <td> Tehsildar - Deogarh </td>
                                 <td> Mr. Ugamsingh Rajpurohit </td>
                             </tr>
                             <tr>
                                 <td>18.</td>
                                 <td> Tehsildar - Railmagara </td>
                                 <td> Mr. Ishwarlal Khatik </td>
                             </tr>

                             <tr>
                                 <td>19.</td>
                                 <td> Tehsildar - Garhbor </td>
                                 <td> </td>
                             </tr>
                             <tr>
                                 <td>20.</td>
                                 <td> Tehsildar - Khamnor </td>
                                 <td> Mr. Sohanlal Sharma </td>
                             </tr>
                             <tr>
                                 <td>21.</td>
                                 <td> Tehsildar - Kunwaria </td>
                                 <td> Mr. Rajendra Bhardwaj </td>
                             </tr>
                             <tr>
                                 <td>22.</td>
                                 <td> Tehsildar - Kunwaria </td>
                                 <td> Mrs. Hukum Kanwar </td>
                             </tr>
                             

</tbody>

                                  </table>
                            </div>

                </div>
            </div>
        </div>
    </section>

                  <!--end::Row-->


{% include 'footerr.html' %}
