{% load static %}
{% include 'header.html' %}



                      <!--begin::Section-->
          <section class="section blog-section blog-sec-six lang hi active">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-12 wow fadeInUp" data-wow-delay="0.2s">
                    <div class="section-header-six">
                        <h2> प्रशासनिक संरचना<span class="text-primary">.</span></h2>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="text-end">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">

                                            <!--begin::Table-->
                            <div class="custom-datatable-filter table-responsive">
                                <table class="table datatable">

				  <thead>
							<tr>
                                <th> # </th>
                                <th> उपखंड का नाम  </th>
                                <th> ब्लॉक / खंड का नाम </th>
                                <th> तहसील का नाम  </th>
                                <th> ग्राम पंचायतों की संख्या </th>
                                <th> ग्राम पंचायत की सूची  </th>
                            </tr>
                  </thead>
                  <tbody>
                    
                            <tr>
                                <td> 1.  </td>
                                <td> आमेट  </td>
                                <td> आमेट  </td>
                                <td> आमेट  </td>
								<td> 20 </td>
                                <td> <a href='ps-amet.php' class=''>  सूची  </a> </td>
                            </tr>
                            <tr>
                                <td> 2.  </td>
                                <td> भीम  </td>
                                <td> भीम  </td>
                                <td> भीम  </td>
								<td> 31 </td>
                                <td> <a href='ps-bhim.php' class=''> सूची  </a> </td>
                            </tr>
                            <tr>
                                <td> 3.  </td>
                                <td> देवगढ  </td>
                                <td> देवगढ  </td>
                                <td> देवगढ  </td>
								<td> 20 </td>
                                <td> <a href='ps-deogarh.php' class=''> सूची  </a> </td>
                            </tr>
                            <tr>
                                <td> 4.  </td>
                                <td> कुम्भलगढ़  </td>
                                <td> कुम्भलगढ़  </td>
                                <td> कुम्भलगढ़  </td>
								<td> 37 </td>
                                <td> <a href='ps-kumbhalgarh.php' class=''>  सूची  </a> </td>
                            </tr>

                            <tr>
                                <td> 4.  </td>
                                <td>   </td>
                                <td>  </td>
                                <td> गढ़बोर  </td>
								<td> </td>
                                <td> <a href='#.php' class=''> सूची  </a> </td>
                            </tr>
                            <tr>
                                <td> 5.  </td>
                                <td> नाथद्वारा </td>
                                <td> नाथद्वारा </td>
                                <td> नाथद्वारा </td>
								<td> </td>
                                <td> <a href='#.php' class=''> सूची  </a> </td>
                            </tr>

                            <tr>
                                <td> 6.  </td>
                                <td>   </td>
                                <td> देलवाडा  </td>
                                <td> देलवाडा  </td>
								<td> 16 </td>
                                <td> <a href='ps-delwada.php' class=''> सूची  </a> </td>
                            </tr>
                            <tr>
                                <td> 7.  </td>
                                <td>   </td>
                                <td> खमनोर  </td>
                                <td> खमनोर  </td>
								<td> 25 </td>
                                <td> <a href='ps-khamnor.php' class=''> सूची  </a> </td>
                            </tr>
                            <tr>
                                <td> 8.  </td>
                                <td> राजसमन्द </td>
                                <td> राजसमन्द </td>
                                <td> राजसमन्द </td>
								<td> 33 </td>
                                <td> <a href='ps-rajsamand.php' class=''>  सूची  </a> </td>
                            </tr>
                            <tr>
                                <td> 9.  </td>
                                <td>   </td>
                                <td>  </td>
                                <td> कुंवारिया   </td>
								<td> </td>
                                <td> <a href='#.php' class=''> सूची  </a> </td>
                            </tr>
                            <tr>
                                <td> 10.  </td>
                                <td> रेलमगरा   </td>
                                <td> रेलमगरा   </td>
                                <td> रेलमगरा   </td>
								<td> 29 </td>
                                <td> <a href='ps-relmagara.php' class=''> सूची  </a> </td>
                            </tr>
				  </tbody>

                                  </table>
                            </div>

                </div>
            </div>
        </div>
    </section>

                  <!--end::Row-->


                      <!--begin::Section-->
           <section class="section blog-section blog-sec-six lang en">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-12 wow fadeInUp" data-wow-delay="0.2s">
                    <div class="section-header-six">
                        <h2> Admin Structure <span class="text-primary">.</span></h2>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="text-end">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">

                                            <!--begin::Table-->
                            <div class="custom-datatable-filter table-responsive">
                                <table class="table datatable">
                    <thead>
                            <tr>
                                 <th> # </th>
                                 <th> Subdivision name </th>
                                 <th> Block / Section Name </th>
                                 <th> Tehsil Name </th>
                                 <th> Number of Gram Panchayats</th>
                                 <th> Gram Panchayat List </th>
                             </tr>
                   </thead>
                   <tbody>
                    
                             <tr>
                                 <td> 1. </td>
                                 <td> Amet </td>
                                 <td> Amet </td>
                                 <td> Amet </td>
                                 <td>20</td>
                                 <td> <a href='ps-amet.php' class=''> list </a> </td>
                             </tr>
                             <tr>
                                 <td> 2. </td>
                                 <td>Bheem</td>
                                 <td>Bheem</td>
                                 <td>Bheem</td>
<td>31</td>
                                 <td> <a href='ps-bhim.php' class=''> list </a> </td>
                             </tr>
                             <tr>
                                 <td> 3. </td>
                                 <td> Deogarh </td>
                                 <td> Deogarh </td>
                                 <td> Deogarh </td>
<td>20</td>
                                 <td> <a href='ps-deogarh.php' class=''> list </a> </td>
                             </tr>
                             <tr>
                                 <td> 4. </td>
                                 <td> Kumbhalgarh </td>
                                 <td> Kumbhalgarh </td>
                                 <td> Kumbhalgarh </td>
<td>37</td>
                                 <td> <a href='ps-kumbhalgarh.php' class=''> list </a> </td>
                             </tr>

                             <tr>
                                 <td> 5. </td>
                                 <td> </td>
                                 <td> </td>
                                 <td> Garhbor </td>
<td> </td>
                                 <td> <a href='#.php' class=''> list </a> </td>
                             </tr>
                             <tr>
                                 <td> 6. </td>
                                 <td>Nathdwara </td>
                                 <td>Nathdwara </td>
                                 <td>Nathdwara </td>
<td> </td>
                                 <td> <a href='#.php' class=''> list </a> </td>
                             </tr>

                             <tr>
                                 <td> 7. </td>
                                 <td> </td>
                                 <td>Delwada </td>
                                 <td>Delwada </td>
<td>16</td>
                                 <td> <a href='ps-delwada.php' class=''> list </a> </td>
                             </tr>
                             <tr>
                                 <td> 8. </td>
                                 <td> </td>
                                 <td> Khamnor </td>
                                 <td> Khamnor </td>
<td>25</td>
                                 <td> <a href='ps-khamnor.php' class=''> list </a> </td>
                             </tr>
                             <tr>
                                 <td> 8. </td>
                                 <td> Rajsamand </td>
                                 <td> Rajsamand </td>
                                 <td> Rajsamand </td>
<td>33</td>
                                 <td> <a href='ps-rajsamand.php' class=''> list </a> </td>
                             </tr>
                             <tr>
                                 <td> 9. </td>
                                 <td> </td>
                                 <td> </td>
                                 <td> virgin </td>
<td> </td>
                                 <td> <a href='#.php' class=''> list </a> </td>
                             </tr>
                             <tr>
                                 <td> 10. </td>
                                 <td> Railmagra </td>
                                 <td> Railmagra </td>
                                 <td> Railmagra </td>
<td>29</td>
                                 <td> <a href='ps-relmagara.php' class=''> list </a> </td>
                             </tr>
</tbody>
                                  </table>
                            </div>

                </div>
            </div>
        </div>
    </section>

                  <!--end::Row-->


{% include 'footerr.html' %}
