{% load static %}
{% include 'header.html' %}


                      <!--begin::Section-->
          <section class="section blog-section blog-sec-six lang hi active">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-12 wow fadeInUp" data-wow-delay="0.2s">
                    <div class="section-header-six">
                        <h2> जिले की प्रोफाइल<span class="text-primary">.</span></h2>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="text-end">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">

                                            <!--begin::Table-->
                            <div class="custom-datatable-filter table-responsive">
                                <table class="table datatable">
				  <thead>
							<tr>
                                <th> विषयवस्तु </th>
                                <th> विवरण  </th>
                            </tr>
				  </thead>
				  <tbody>
				<tr>
				  <td> <b> एसटीडी कोड  </b> </td>
				  <td> 02952   </td>
				</tr>
				<tr>
				  <td> <b> जिले का परिवहन कोड  </b> </td>
				  <td> RJ 30  (RJ30-XX-XXXX)</td>
				</tr>
				
				<tr>
				  <td> <b> जिले का मानचित्र  </b> </td>
				  <td> <img src='{{ url_for('static', filename='/img/maprajsamand.png') }}' />  </td>
				</tr>

				<tr>
				  <td> <b> स्थिति  </b> </td>
				  <td> राजसमन्द जिला राज्य के दक्षिणी भाग में स्थित है | </td>
				</tr>

				<tr>
				  <td> <b> भौतिक क्षेत्र  </b> </td>
				  <td> राजसमन्द जिला राजस्थान के अरावली (मध्यवर्ती पर्वतीय प्रदेश ) के अंतर्गत आता है | </td>
				</tr>
				<tr>
				  <td> <b> निर्देशांक  </b> </td>
				  <td> राजसमन्द जिला 24&deg;46' से 26&deg; 01' उत्तरी अक्षांश एवं 73&deg;28' से 74&deg;18' पूर्वी देशांतर के मध्य स्थित है | </td>
				</tr>

				<tr>
				  <td> <b> भारतीय मानक समय   </b> </td>
				  <td> ग्रीनविच मीन टाइम से 05 : 30 घंटे आगे  </td>
				</tr>
				<tr>
				  <td> <b> क्षेत्रफल  </b> </td>
				  <td>  4655 वर्ग किमी  </td>
				</tr>
				<tr>
				  <td> <b> पडोसी जिलें  </b> </td>
				  <td>  उत्तर में अजमेर  				  	   पश्चिम में पाली 					   दक्षिण में उदयपुर  					   पूर्व में चित्तौड़गढ़ 				भीलवाडा 	 जिलों से घिरा हुआ है |     </td>
				</tr>
				<tr>
				  <td> <b> समुंद्री सीमा  </b> </td>
				  <td>   चूँकि राजसमन्द जिला राज्य के आतंरिक भाग में स्थित है अतः इसकी कोई समुंद्री सीमा नहीं है | </td>
				</tr>
				<tr>
				  <td> <b> जलवायु   </b> </td>
				  <td>  <li> above sea level = 547 m . Climate  = Local steppe climate. अर्द्ध-शुष्क स्टेपी प्रकार की  . average annual temperature = 24.7 °C | 			   </td>
				</tr>
				<tr>
				  <td> <b> प्राकृतिक संसाधन  </b> </td>
				  <td>  सीसा जस्ता, संगमरमर (राजस्थान में सर्वाधिक उत्पादक जिला )  एस्बेस्टस , फेल्सपार, क्वार्टज़ आदि  </td>
				</tr>
				<tr>
				  <td> <b> भाषा एवं बोलियाँ </b> </td>
				  <td>  यहाँ की प्रमुख भाषा राजस्थानी है जिसकी उपबोली मेवाड़ी है जो कि मारवाड़ी बोली के अंतर्गत आती है |  </td>
				</tr>

				  </tbody>
                                  </table>
                            </div>

                </div>
            </div>
        </div>
    </section>

                  <!--end::Row-->


                      <!--begin::Section-->
           <section class="section blog-section blog-sec-six lang en">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-12 wow fadeInUp" data-wow-delay="0.2s">
                    <div class="section-header-six">
                        <h2>District Profile<span class="text-primary">.</span></h2>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="text-end">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">

                                            <!--begin::Table-->
                            <div class="custom-datatable-filter table-responsive">
                                <table class="table datatable">
<thead>
<tr>
                                 <th> theme </th>
                                 <th> description </th>
                             </tr>
</head>
<tbody>
<tr>
<td> <b> STD Code </b> </td>
<td>02952</td>
</tr>
<tr>
<td> <b>District Transportation Code</b> </td>
<td>RJ 30 (RJ30-XX-XXXX)</td>
</tr>

<tr>
<td> <b>District Map</b> </td>
				  <td> <img src='{{ url_for('static', filename='/img/maprajsamand.png') }}' />  </td>
</tr>

<tr>
<td> <b>status</b> </td>
<td> Rajsamand district is situated in the southern part of the state. </td>
</tr>

<tr>
<td> <b>Physical Area</b> </td>
<td> Rajsamand district comes under Aravalli (intermediate hill region) of Rajasthan. </td>
</tr>
<tr>
<td> <b>coordinates</b> </td>
<td> Rajsamand District 24&deg;46' to 26&deg; It is situated between 01' north latitude and 73&deg;28' to 74&deg;18' east longitude. </td>
</tr>

<tr>
<td> <b>Indian Standard Time</b> </td>
<td> 05 : 30 hours ahead of Greenwich Mean Time </td>
</tr>
<tr>
<td> <b>area</b> </td>
<td> 4655 sq km </td>
</tr>
<tr>
<td> <b> Neighboring Districts </b> </td>
<td> Ajmer in the north, Pali in the west, Udaipur in the south, Chittorgarh in the east is surrounded by Bhilwara districts. </td>
</tr>
<tr>
<td> <b>sea border</b> </td>
<td> Since Rajsamand district is located in the interior of the state, it does not have any sea border. </td>
</tr>
<tr>
<td> <b>Climate </b> </td>
<td> <li>above sea level = 547 m. Climate = local steppe climate. Semi-arid steppe type. average annual temperature = 24.7 °C. </td>
</tr>
<tr>
<td> <b>Natural Resources</b> </td>
<td> lead zinc, marble (most producing district in Rajasthan) asbestos, feldspar, quartz etc. </td>
</tr>
<tr>
<td> <b> Languages and Dialects </b> </td>
<td> The main language here is Rajasthani whose sub-dialect is Mewari which comes under Marwari dialect. </td>
</tr>

</tbody>
                                  </table>
                            </div>

                </div>
            </div>
        </div>
    </section>

                  <!--end::Row-->


{% include 'footerr.html' %}
