{% load static %}
{% include 'header.html' %}


											<!--begin::Section-->
          <section class="section blog-section blog-sec-six lang hi active">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-12 wow fadeInUp" data-wow-delay="0.2s">
                    <div class="section-header-six">
                        <h2>अर्थव्यवस्था<span class="text-primary">.</span></h2>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="text-end">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    

<div class='card shadow-none blog-grid-six'>
    <div class='row align-items-center'>
        <div class='col-md-6 d-flex'>
            <div class='card-img flex-fill'>
                <a href='#'>
                    <img src="{% static 'assets/img/rkmine.jpg' %}" class='rounded w-100 h-100' alt='Img'>
                </a>
                <span class='badge bg-primary'>...</span>
            </div>
        </div>
        <div class='col-md-6 d-flex'>
            <div class='card-body ps-md-0 flex-fill'>
                <h5 class='mb-2'><a href='#'>   खनिज व फसलें  </a></h5>
                <p class='mb-4 text-truncatee line-clamb-3'> 
                                        राजसमन्द जिला संगमरमर उत्पादन में केवल देश में ही नहीं अपितु संपूर्ण विश्व में एक महत्वपूर्ण स्थान रखता है | इसका उत्पादन में राज्य में प्रथम स्थान है | संगमरमर के निर्यात आज संपूर्ण विश्व में किया 
                    जाता है | यह न सिर्फ सर्वाधिक राजस्व प्रदान करता है बल्कि अधिक से अधिक रोजगार भी प्रदान करता है | यहाँ की खदानों में आरके मार्बल, जेके नेचुरल मार्बल एवं कई अन्य महत्वपूर्ण खदानें है | यहाँ की प्रमुख फसलों में गेहूं एवं मक्का है |
                    
                </p>
            </div>
        </div>
    </div>
</div>



<div class='card shadow-none blog-grid-six'>
    <div class='row align-items-center'>
        <div class='col-md-6 d-flex'>
            <div class='card-img flex-fill'>
                <a href='#'>
                    <img src="{% static 'assets/img/jktyre.jpg' %}" class='rounded w-100 h-100' alt='Img'>
                </a>
                <span class='badge bg-primary'>...</span>
            </div>
        </div>
        <div class='col-md-6 d-flex'>
            <div class='card-body ps-md-0 flex-fill'>
                <h5 class='mb-2'><a href='#'> प्रमुख उद्योग  </a></h5>
                <p class='mb-4 text-truncatee line-clamb-3'> 

 राजसमन्द में स्थित जेके टायर उद्योग का कारखाना एशिया का सबसे बड़ा टायर उद्योग है जो कि एमडी ग्राम के निकट स्थित है | अन्य प्रमुख उद्योगों में मिराज ग्रुप है जो कि नाथद्वारा में स्थित है |
                                                                                        
                </p>

            </div>

        </div>

    </div>

</div>


                </div>
            </div>
        </div>
    </section>

									<!--end::Row-->



                                            <!--begin::Section-->
           <section class="section blog-section blog-sec-six lang en">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-12 wow fadeInUp" data-wow-delay="0.2s">
                    <div class="section-header-six">
                        <h2>Economy<span class="text-primary">.</span></h2>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="text-end">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    
<div class='card shadow-none blog-grid-six'>
    <div class='row align-items-center'>
        <div class='col-md-6 d-flex'>
            <div class='card-img flex-fill'>
                <a href='#'>
                    <img src="{% static 'assets/img/rkmine.jpg' %}" class='rounded w-100 h-100' alt='Img'>
                </a>
                <span class='badge bg-primary'>...</span>
            </div>
        </div>
        <div class='col-md-6 d-flex'>
            <div class='card-body ps-md-0 flex-fill'>
                <h5 class='mb-2'><a href='#'> Minerals and crops </a></h5>
                <p class='mb-4 text-truncatee line-clamb-3'> 
            Rajsamand district holds an important place in marble production not only in the country but also in the whole world. It ranks first in the state in production. Marble is exported all over the world today
goes | It not only provides maximum revenue but also provides maximum employment. The mines here have RK Marble, JK Natural Marble and many other important mines. The main crops here are wheat and maize.

                </p>
            </div>
        </div>
    </div>
</div>



<div class='card shadow-none blog-grid-six'>
    <div class='row align-items-center'>
        <div class='col-md-6 d-flex'>
            <div class='card-img flex-fill'>
                <a href='#'>
                    <img src="{% static 'assets/img/jktyre.jpg' %}" class='rounded w-100 h-100' alt='Img'>
                </a>
                <span class='badge bg-primary'>...</span>
            </div>
        </div>
        <div class='col-md-6 d-flex'>
            <div class='card-body ps-md-0 flex-fill'>
                <h5 class='mb-2'><a href='#'> Major Industries </a></h5>
                <p class='mb-4 text-truncatee line-clamb-3'> 

                JK Tyre Industry factory located in Rajsamand is Asia's largest tyre industry which is located near Emdi Village. Other major industries include Miraj Group which is located in Nathdwara.
                                                            
                </p>

            </div>

        </div>

    </div>

</div>


                </div>
            </div>
        </div>
    </section>

                                    <!--end::Row-->



{% include 'footerr.html' %}
