{% load static %}
<!-- Ekko Lightbox -->
<script src="{% static 'assets/plugins/ekko-lightbox/ekko-lightbox.min.js' %}"></script>
<!-- Filterizr-->
<script src="{% static 'assets/plugins/filterizr/jquery.filterizr.min.js' %}"></script>
<script>
  $(function () {
    $(document).on('click', '[data-toggle="lightbox"]', function(event) {
      event.preventDefault();
      $(this).ekkoLightbox({
        alwaysShowClose: true
      });
    });

    $('.filter-container').filterizr({gutterPixels: 3});
    $('.btn[data-filter]').on('click', function() {
      $('.btn[data-filter]').removeClass('active');
      $(this).addClass('active');
    });
  })
</script>
