{% load static %}
{% include 'header.html' %}

											<!--begin::Section-->
          <section class="section blog-section blog-sec-six lang hi active">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-12 wow fadeInUp" data-wow-delay="0.2s">
                    <div class="section-header-six">
                        <h2> मेलें <span class="text-primary">.</span></h2>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="text-end">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    
                    <div class='card shadow-none blog-grid-six'>
                        <div class='row align-items-center'>
                            <div class='col-md-6 d-flex'>
                                <div class='card-img flex-fill'>
                                    <a href='#'>
                                        <img src="{% static 'assets/img/fairgangor.jpg' %}" class='rounded w-100 h-100' alt='Img'>
                                    </a>
                                    <span class='badge bg-primary'>...</span>
                                </div>
                            </div>
                            <div class='col-md-6 d-flex'>
                                <div class='card-body ps-md-0 flex-fill'>
                                    <h5 class='mb-2'><a href='#'> गणगौर मेला  </a></h5>
                                <p class='mb-4 text-truncatee line-clamb-3'>                                                               होली के दूसरे दिन से ही गणगौर का त्योहार आरंभ हो जाता है जो पूरे 18 दिनों तक लगातार चलता रहता है। महिलाएं गणगौर पर्व के पहले दिन की सूबह ही गाती-बजाती हुईं होली की राख अपने घर ले जाती है। मिट्टी गलाकर उससे सोलह पिंडियां बनाईं जाती है। साथ ही दीवार पर सोलह बिंदियां कुंकुम की, सोलह बिंदिया मेहंदी की और सोलह बिंदिया काजल की प्रतिदिन लगाई जाती है। गणगौर का व्रत केवल सुहागिन स्त्रियां ही नहीं करती बल्कि कुंवारी लड़कियां मनपसंद वर की कामना करते हुए इस व्रत और पूजा को करती है। विवाहित महिलाएं अपने पति की दीर्घायु की कामना करती हैं। गणगौर पर्व के सभी दिन मां पार्वती की स्तुति का सिलसिला चलता रहता है। अंतिम दिन भगवान शिव की प्रतिमा के साथ सुसज्जित हाथियों, घोड़ों का जुलूस और गणगौर की सवारी निकाली जाती है जो आकर्षण का केंद्र बन जाती ही हैं।              
                                                                
                                </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    


                    <div class='card shadow-none blog-grid-six'>
                        <div class='row align-items-center'>
                            <div class='col-md-6 d-flex'>
                                <div class='card-img flex-fill'>
                                    <a href='#'>
                                        <img src="{% static 'assets/img/fairamajmata.jpg' %}" class='rounded w-100 h-100' alt='Img'>
                                    </a>
                                    <span class='badge bg-primary'>...</span>
                                </div>
                            </div>
                            <div class='col-md-6 d-flex'>
                                <div class='card-body ps-md-0 flex-fill'>
                                    <h5 class='mb-2'><a href='#'>आमज माता का मेला </a></h5>
                                
                                <p class='mb-4 text-truncatee line-clamb-3'>                                                            
                                    राजसमन्द जिले के गढ़बोर में स्थित रिछेड गाँव में स्थित आमज माता के मंदिर में ज्येष्ठ नवमी को आयोजित होता हैं|  
                                </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    


                    <div class='card shadow-none blog-grid-six'>
                        <div class='row align-items-center'>
                            <div class='col-md-6 d-flex'>
                                <div class='card-img flex-fill'>
                                    <a href='#'>
                                        <img src="{% static 'assets/img/fairkunwaria.jpg' %}" class='rounded w-100 h-100' alt='Img'>
                                    </a>
                                    <span class='badge bg-primary'>...</span>
                                </div>
                            </div>
                            <div class='col-md-6 d-flex'>
                                <div class='card-body ps-md-0 flex-fill'>
                                    <h5 class='mb-2'><a href='#'> कुंवारिया पशु मेला </a></h5>
                                <p class='mb-4 text-truncatee line-clamb-3'>                                                            
राजसमंद पंचायत समि​ति की ओर से नवरा​त्रि के मौके पर कुंवारिया कस्बे में जोहिड़ा भैरव जी का विशाल पशु मेला आयोजित किया जाता है | रोजाना मेले में हजारों की संख्या में लोग शामिल होते हैं | इस दौरान मेले में आकर्षक साज-सज्जा की जाती है | रात के वक्त पूरा मेला परिसर रोशनी से नहा जाता है. आकर्षक सजावट होने से रात के वक्त मेले की रौनक और बढ़ जाती है. मेले मे डोलर, चकरी, खाद्य सामग्री, श्रृंगार की वस्तुएं, ऊनी वस्त्रों के बाजार और तरह-तरह के मनोरंजन के साधन उपलब्ध है. मेले में हर वर्ष गाय और भैंस के अलावा उन्नत नस्ल के घोड़े, बकरियां और भेड़े भी बिकने के लिए आती है | जिसमे पशु धन की जोरदार आवक और खरीदी होती है | साथ ही मेले में आने वाले किसानों और व्यापरियों के साथ ही अन्य नागरिकों को मनोरंजक कार्यक्रम का आयोजन प्रतिदिन किया जाता है | 
                                                            
                                                                                             </p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>

									<!--end::Row-->


                                            <!--begin::Section-->
           <section class="section blog-section blog-sec-six lang en">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-12 wow fadeInUp" data-wow-delay="0.2s">
                    <div class="section-header-six">
                        <h2> Fairs <span class="text-primary">.</span></h2>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="text-end">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    
                    <div class='card shadow-none blog-grid-six'>
                        <div class='row align-items-center'>
                            <div class='col-md-6 d-flex'>
                                <div class='card-img flex-fill'>
                                    <a href='#'>
                                        <img src="{% static 'assets/img/fairgangor.jpg' %}" class='rounded w-100 h-100' alt='Img'>
                                    </a>
                                    <span class='badge bg-primary'>...</span>
                                </div>
                            </div>
                            <div class='col-md-6 d-flex'>
                                <div class='card-body ps-md-0 flex-fill'>
                                    <h5 class='mb-2'><a href='#'> Gangaur Mela</a></h5>
                                <p class='mb-4 text-truncatee line-clamb-3'>                                                               The festival of Gangaur starts from the second day of Holi and continues continuously for 18 days. On the morning of the first day of Gangaur festival, women take the ashes of Holi to their homes while singing and playing. Sixteen pindis are made by melting clay. Also, sixteen dots of Kumkum, sixteen dots of Mehndi and sixteen dots of Kajal are applied on the wall every day. Gangaur fast is not only observed by married women but also unmarried girls perform this fast and puja while wishing for their favorite groom. Married women wish for the long life of their husbands. The process of praising Mother Parvati continues on all the days of Gangaur festival. On the last day, a procession of decorated elephants, horses and Gangaur ride is taken out along with the idol of Lord Shiva which becomes the center of attraction.
                                                                              
                                                                
                                </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    


                    <div class='card shadow-none blog-grid-six'>
                        <div class='row align-items-center'>
                            <div class='col-md-6 d-flex'>
                                <div class='card-img flex-fill'>
                                    <a href='#'>
                                        <img src="{% static 'assets/img/fairamajmata.jpg' %}" class='rounded w-100 h-100' alt='Img'>
                                    </a>
                                    <span class='badge bg-primary'>...</span>
                                </div>
                            </div>
                            <div class='col-md-6 d-flex'>
                                <div class='card-body ps-md-0 flex-fill'>
                                    <h5 class='mb-2'><a href='#'>    Aamj Mata Mela</a></h5>
                                
                                <p class='mb-4 text-truncatee line-clamb-3'>                                                            
                                    Jyeshtha Navami is organized in the temple of Amaj Mata located in Richhed village of Garhbor in Rajsamand district. 
                                                              
                                </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    


                    <div class='card shadow-none blog-grid-six'>
                        <div class='row align-items-center'>
                            <div class='col-md-6 d-flex'>
                                <div class='card-img flex-fill'>
                                    <a href='#'>
                                        <img src="{% static 'assets/img/fairkunwaria.jpg' %}" class='rounded w-100 h-100' alt='Img'>
                                    </a>
                                    <span class='badge bg-primary'>...</span>
                                </div>
                            </div>
                            <div class='col-md-6 d-flex'>
                                <div class='card-body ps-md-0 flex-fill'>
                                    <h5 class='mb-2'><a href='#'> Kunwaria Cattle Fair</a></h5>
                                <p class='mb-4 text-truncatee line-clamb-3'>                                                            
                                                            Rajsamand Panchayat Committee organizes a huge cattle fair of Johida Bhairav ji in Kunwaria town on the occasion of Navratri. Thousands of people participate in the fair every day. During this time, attractive decorations are made in the fair. At night the entire fair complex is bathed in lights. Attractive decorations add to the charm of the fair at night. Dollars, chakri, food items, makeup items, woolen clothes market and various types of entertainment are available in the fair.
  Every year, apart from cows and buffaloes, advanced breed horses, goats and sheep also come for sale in the fair. In which there is strong inflow and purchase of livestock. Besides, entertaining programs are organized every day for the farmers and traders as well as other citizens coming to the fair.
                                                              
                                                                                             </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    

                </div>
            </div>
        </div>
    </section>

                                    <!--end::Row-->


{% include 'footerr.html' %}
