    <!-- Faq Section -->
    <section class="section faq-sec-two pt-0">
        <div class="faq-sec-bg">
            <img src="assets/img/bg/hotel-bg-05.svg" class="bg-1" alt="Img">
        </div>
        <div class="container">
            <div class="faq-secpath-two">
                <div class="">
                    <img src="assets/img/bg/bg-03.png" class="bg-3" alt="img">
                </div>
                <div class="row align-items-center">
                    <div class="col-lg-6">
                        <div class="faq-five  wow zoomIn">
                            <img src="assets/img/features.png" alt="img">
                        </div>
                    </div>
                <div class="col-lg-6">
                    <div class="tourism-text-info">
                        <div class="text-header">
                            <h2><span class="text-primary"> <img src="assets/img/logo03tp.png" alt="Img" width="84" height="84">SRIJAN</span> Services</h2>
                        </div>
                        <div class="card border-secondary shadow-none bg-secondary-transparent">
                            <div class="card-body d-flex align-items-center">
                                <span class="avatar bg-secondary rounded-circle flex-shrink-0">
                                    <i class="isax isax-lock-1 text-gray-9 fs-20"></i>
                                </span>
                                <div class="ms-3">
                                    <h5 class="mb-1">सरकारी सेवाएँ की जानकारी </h5>
                                </div>
                            </div>
                        </div>
                        <div class="card border-purple shadow-none bg-purple-transparent">
                            <div class="card-body d-flex align-items-center">
                                <span class="avatar bg-purple rounded-circle flex-shrink-0">
                                    <i class="isax isax-receipt-add fs-20"></i>
                                </span>
                                <div class="ms-3">
                                    <h5 class="mb-1">व्यवसाय निर्देशिका (Business Directory) </h5>
                                </div>
                            </div>
                        </div>
                        <div class="card border-teal shadow-none bg-teal-transparent">
                            <div class="card-body d-flex align-items-center">
                                <span class="avatar bg-teal rounded-circle flex-shrink-0">
                                    <i class="isax isax-location-tick fs-20"></i>
                                </span>
                                <div class="ms-3">
                                    <h5 class="mb-1">पर्यटन स्थल (Tourism) </h5>
                                </div>
                            </div>
                        </div>
                        <div class="card border-success shadow-none bg-secondary-transparent">
                            <div class="card-body d-flex align-items-center">
                                <span class="avatar bg-secondary rounded-circle flex-shrink-0">
                                    <i class="isax isax-lock-1 text-gray-9 fs-20"></i>
                                </span>
                                <div class="ms-3">
                                    <h5 class="mb-1"> रोज़गार और कौशल विकास (Jobs & Skill Development)</h5>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                </div>
            </div>
        </div>
    </section>
    <!-- Faq Section -->
