{% load static %}
{% include 'header.html' %}


											<!--begin::Section-->
          <section class="section blog-section blog-sec-six lang hi active">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-12 wow fadeInUp" data-wow-delay="0.2s">
                    <div class="section-header-six">
                        <h2>त्यौहार<span class="text-primary">.</span></h2>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="text-end">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    

                    <div class='card shadow-none blog-grid-six'>
                        <div class='row align-items-center'>
                            <div class='col-md-6 d-flex'>
                                <div class='card-img flex-fill'>
                                    <a href='#'>
                                        <img src="{% static 'assets/img/gawari.jpg' %}" class='rounded w-100 h-100' alt='Img'>
                                    </a>
                                    <span class='badge bg-primary'>...</span>
                                </div>
                            </div>
                            <div class='col-md-6 d-flex'>
                                <div class='card-body ps-md-0 flex-fill'>
                                    <h5 class='mb-2'><a href='#'>  गवरी नृत्य  </a></h5>
                                <p class='mb-4 text-truncatee line-clamb-3'>                                                               वादन संवाद, प्रस्तुतिकरण और लोक-संस्कृति के प्रतीकों में मेवाड़ की गवरी निराली है। गवरी का उदभव शिव-भस्मासुर की कथा से माना जाता है। इसका आयोगन रक्षाबंधन के दुसरे दिन से शुरू होता है। गवरी सवा महीने तक खेली जाती है। इसमें भील संस्कृति की प्रमुखता रहती है। यह पर्व आदिवासी जाती पर पौराणिक तथा सामाजिक प्रभाव की अभिव्यक्ति है। गवरी में पुरुष पात्र होते है। इसके खेलों में गणपति काना-गुजरी, जोगी, लाखा बणजारा इत्यादि के खेल होते है।                                       
                                                                
                                </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    


                    <div class='card shadow-none blog-grid-six'>
                        <div class='row align-items-center'>
                            <div class='col-md-6 d-flex'>
                                <div class='card-img flex-fill'>
                                    <a href='#'>
                                        <img src="{% static 'assets/img/annakut.jpg' %}" class='rounded w-100 h-100' alt='Img'>
                                    </a>
                                    <span class='badge bg-primary'>...</span>
                                </div>
                            </div>
                            <div class='col-md-6 d-flex'>
                                <div class='card-body ps-md-0 flex-fill'>
                                    <h5 class='mb-2'><a href='#'> गोवर्धन पूजा </a></h5>
                                <p class='mb-4 text-truncatee line-clamb-3'>                                                            दिवाली के अगले दिन, गोवर्धन पूजा का दिन होता है (गोवर्धन बृज में भगवान कृष्ण के जन्म स्थान के पास की पहाड़ी है)। दोपहर में ग्वाल भक्त पवित्र गायों के साथ खेलते हैं और उन्हें गौशाला से श्रीनाथ जी मंदिर ले जाते हैं।  देर शाम को, कई प्रकार के स्वादिष्ट खाद्य पदार्थों के अलावा, बड़ी मात्रा में चावल (जिसे 100 टीले कहा जाता है) को मूर्ति के सामने रखा जाता है, जो तब मध्य रात्रि में भील जनजाति के लोगों द्वारा लूटा जाता है। इसी तरह का समारोह द्वारिकादिश कांकरोली में भी मनाया जाता है
                                                                                            
                                                                                            </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    


                    <div class='card shadow-none blog-grid-six'>
                        <div class='row align-items-center'>
                            <div class='col-md-6 d-flex'>
                                <div class='card-img flex-fill'>
                                    <a href='#'>
                                        <img src="{% static 'assets/img/gangor.jpg' %}" class='rounded w-100 h-100' alt='Img'>
                                    </a>
                                    <span class='badge bg-primary'>...</span>
                                </div>
                            </div>
                            <div class='col-md-6 d-flex'>
                                <div class='card-body ps-md-0 flex-fill'>
                                    <h5 class='mb-2'><a href='#'>गणगौर </a></h5>
    <p class='mb-4 text-truncatee line-clamb-3'>                                                                                        
                            माँ पार्वती का प्रतीक गणगौर का त्यौहार न केवल राजसमन्द में मनाया बल्कि संपूर्ण राजस्थान में हर्ष और उल्लास के साथ मनाया जाता है | राजसमन्द में यह त्यौहार राजसमन्द नगर परिषद् की ओर से हर वर्ष मार्च या अप्रैल 
                                  के    महीनों में तीन दिनों तक चलता है जिसमे की सवारी निकाली जाती है | मेला भी आयोजित होता है 
                                  
                                  </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    


                    <div class='card shadow-none blog-grid-six'>
                        <div class='row align-items-center'>
                            <div class='col-md-6 d-flex'>
                                <div class='card-img flex-fill'>
                                    <a href='#'>
                                        <img src="{% static 'assets/img/jaljhulani.jpg' %}" class='rounded w-100 h-100' alt='Img'>
                                    </a>
                                    <span class='badge bg-primary'>...</span>
                                </div>
                            </div>
                            <div class='col-md-6 d-flex'>
                                <div class='card-body ps-md-0 flex-fill'>
                                    <h5 class='mb-2'><a href='#'> जलझुलनी एकादशी </a></h5>
                                <p class='mb-4 text-truncatee line-clamb-3'>                                                            राजसमन्द के गढ़बोर में स्थित श्री चारभुजानाथ जी के मंदिर में जलझुलनी एकादशी पर मेला भरता है , जहाँ इनका बालस्वरूप सरोवर स्नान के लिए रवाना होता है | एवं लाखों लोग सम्मिलित होते है |
                                                                                        </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    


                </div>
            </div>
        </div>
    </section>

									<!--end::Row-->

                                            <!--begin::Section-->
           <section class="section blog-section blog-sec-six lang en">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-12 wow fadeInUp" data-wow-delay="0.2s">
                    <div class="section-header-six">
                        <h2>Festivals<span class="text-primary">.</span></h2>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="text-end">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    
<div class='card shadow-none blog-grid-six'>
    <div class='row align-items-center'>
        <div class='col-md-6 d-flex'>
            <div class='card-img flex-fill'>
                <a href='#'>
                                        <img src="{% static 'assets/img/gawari.jpg' %}" class='rounded w-100 h-100' alt='Img'>
                </a>
                <span class='badge bg-primary'>...</span>
            </div>
        </div>
        <div class='col-md-6 d-flex'>
            <div class='card-body ps-md-0 flex-fill'>
                <h5 class='mb-2'><a href='#'> Gawari dance </a></h5>
                <p class='mb-4 text-truncatee line-clamb-3'> Mewar's Gavari is unique in its playing, dialogue, presentation and symbols of folk culture. Gavari is believed to have originated from the story of Shiva-Bhasmasura. Its performance begins on the second day of Rakshabandhan. Gavari is
                    played for a month and a quarter. Bhil culture is prominent in it. This festival is an expression of mythological and social influence on the tribal caste. Male characters are in Gavari. Ganpati Kana-Gujari, Jogi, Lakha Banjara etc.
                    are played in its games. There are games of.

                </p>
            </div>
        </div>
    </div>
</div>



<div class='card shadow-none blog-grid-six'>
    <div class='row align-items-center'>
        <div class='col-md-6 d-flex'>
            <div class='card-img flex-fill'>
                <a href='#'>
                                        <img src="{% static 'assets/img/annakut.jpg' %}" class='rounded w-100 h-100' alt='Img'>
                </a>
                <span class='badge bg-primary'>...</span>
            </div>
        </div>
        <div class='col-md-6 d-flex'>
            <div class='card-body ps-md-0 flex-fill'>
                <h5 class='mb-2'><a href='#'> Govardhan Puja </a></h5>
                <p class='mb-4 text-truncatee line-clamb-3'> On the day after Diwali, Govardhan It is the day of Puja (Govardhan is the hill near the birthplace of Lord Krishna in Brij). In the afternoon, the cowherd devotees play with the holy cows and take them from the Gaushala to the Shrinathji
                    temple. In the late evening, a variety of delicious food is served. Apart from food items, large quantities of rice (called 100 mounds) are placed in front of the idol, which is then plundered by the people of the Bhil tribe at midnight.
                    A similar ceremony is also celebrated in Dwarkadish Kankroli </p>

            </div>

        </div>

    </div>

</div>

<div class='card shadow-none blog-grid-six'>
    <div class='row align-items-center'>
        <div class='col-md-6 d-flex'>
            <div class='card-img flex-fill'>
                <a href='#'>
                                        <img src="{% static 'assets/img/fairgangor.jpg' %}" class='rounded w-100 h-100' alt='Img'>
                </a>
                <span class='badge bg-primary'>...</span>
            </div>
        </div>
        <div class='col-md-6 d-flex'>
            <div class='card-body ps-md-0 flex-fill'>
                <h5 class='mb-2'><a href='#'>Gangaur </a></h5>
                <p class='mb-4 text-truncatee line-clamb-3'>
                    The festival of Gangaur, a symbol of Goddess Parvati, is celebrated not only in Rajsamand but also in the whole of Rajasthan with great joy and enthusiasm. In Rajsamand, this festival is celebrated every year in March or April by the Rajsamand Municipal
                    Council. It lasts for three days in the month of in which the procession is taken out. Fair is also organized

                </p>
            </div>
        </div>
    </div>
</div>



<div class='card shadow-none blog-grid-six'>
    <div class='row align-items-center'>
        <div class='col-md-6 d-flex'>
            <div class='card-img flex-fill'>
                <a href='#'>
                                        <img src="{% static 'assets/img/jaljhulani.jpg' %}" class='rounded w-100 h-100' alt='Img'>
                </a>
                <span class='badge bg-primary'>...</span>
            </div>
        </div>
        <div class='col-md-6 d-flex'>
            <div class='card-body ps-md-0 flex-fill'>
                <h5 class='mb-2'><a href='#'> Jaljhulani Ekadashi </a></h5>

                <p class='mb-4 text-truncatee line-clamb-3'> In Gadhbor of Rajsamand A fair is held on Jaljhulani Ekadashi in the temple of Shri Charbhujanath Ji, where his child form leaves for the lake bath. And lakhs of people participate.

                </p>

            </div>

        </div>

    </div>

    </div>

                </div>
            </div>
        </div>
    </section>

                                    <!--end::Row-->

{% include 'footerr.html' %}
