    <footer class="footer-four">
        <div class="footer-top">
            <div class="container">
                <div class="row">
                    <div class="col-xl-7">
                        <div class="row row-cols-md-4 row-cols-sm-2 row-cols-1">
                        </div>
                    </div>
                    <div class="col-xl-5 col-lg-6">
                    </div>
                </div>


                <div class="footer-img">
                    <img src="assets/img/bg/footer.svg" class="img-fluid" alt="img">
                </div>

            </div>
        </div>
        <!-- Footer Bottom -->
        <div class="footer-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="d-flex align-items-center justify-content-between flex-wrap">
                            <p>Copyright &copy; 2025. All Rights Reserved, <a href="javascript:void(0);" class="text-primary fw-medium">
                                <img src="assets/img/logobs.png" width="70" height="70">Bharatsamand</a></p>
                            <div class="d-flex align-items-center">
                                <ul class="social-icon">
                                    <li>
                                        <a href="javascript:void(0);"><i class="fa-brands fa-facebook"></i></a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);"><i class="fa-brands fa-x-twitter"></i></a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);"><i class="fa-brands fa-instagram"></i></a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);"><i class="fa-brands fa-linkedin"></i></a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);"><i class="fa-brands fa-pinterest"></i></a>
                                    </li>
                                </ul>
                            </div>
                            <ul class="policy-links">
                                <li>
                                        <!--<?php include "visitors.php"; ?> -->
                                </li>
                                <li>
                                    <a href="termsofservice.php">Terms of service</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /Footer Bottom -->

    </footer>
