{% load static %}
<!-- geography.html -->
{% include 'header.html' %}

<!-- Page Content -->


<!-- Destination Section -->


    <!-- Destination Section -->
    <!-- who we are -->
    <section class="section place-section lang hi active">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-6 col-lg-10 text-center wow fadeInUp" data-wow-delay="0.2s">
                    <div class="section-header text-center">
                        <h2 class="mb-2"> <span class="text-primary  text-decoration-underline">भूगोल</span></h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-6 col-12 ">
                    <div class="destination-settt  woww fadeInUpp">
                        <div class="destination-img">
                            <img src="{% static 'assets/img/geo.png' %}" alt="Img">
                        </div>
						<div class="btn btn-success"><a href="{% url 'physiography' %}" target="_blank"><i class="fa fa-arrow-right"></i>विवरण देखें/See Details</a></div>
                    </div>
                    <br>
                    <div class="destination-sett  wow fadeInDown">
                        <div class="destination-img">
                            <img src="{% static 'assets/img/g2.png' %}" alt="Img">
                        </div>
						<div class="btn btn-success"><a href="{% url 'mines' %}" target="_blank"><i class="fa fa-arrow-right"></i>विवरण देखें/See Details</a></div>
                    </div>
                </div>

                
                <div class="col-lg-3 col-md-6 col-12">
                    <div class="destination-sett wow fadeInUp">
                        <div class="destination-img">
                            <img src="{% static 'assets/img/g3.png' %}" alt="Img">
                        </div>
						<div class="btn btn-success"><a href="{% url 'climate' %}" target="_blank"><i class="fa fa-arrow-right"></i>विवरण देखें/See Details</a></div>
                    </div>
                    <div class="destination-sett wow fadeInDown">
                        <div class="destination-img">
                            <img src="{% static 'assets/img/g4.png' %}" alt="Img">
                        </div>
						<div class="btn btn-success"><a href="{% url 'rivers' %}" target="_blank"><i class="fa fa-arrow-right"></i>विवरण देखें/See Details</a></div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-12">
                    <div class="destination-sett wow fadeInUp">
                        <div class="destination-img">
                            <img src="{% static 'assets/img/g5.png' %}" alt="Img">
                        </div>
						<div class="btn btn-success"><a href="{% url 'crops' %}" target="_blank"><i class="fa fa-arrow-right"></i>विवरण देखें/See Details</a></div>
                    </div>
                    <div class="destination-sett wow fadeInDown">
                        <div class="destination-img">
                            <img src="{% static 'assets/img/g6.png' %}" alt="Img">
                        </div>
						<div class="btn btn-success"><a href="{% url 'soils' %}" target="_blank"><i class="fa fa-arrow-right"></i>विवरण देखें/See Details</a></div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-12">
                    <div class="destination-sett wow fadeInUp">
                        <div class="destination-img">
                            <img src="{% static 'assets/img/g7.png' %}" alt="Img">
                        </div>
						<div class="btn btn-success"><a href="{% url 'irrigation' %}" target="_blank"><i class="fa fa-arrow-right"></i>विवरण देखें/See Details</a></div>
                    </div>
                    <div class="destination-settt wow fadeInDown">
                        <div class="destination-img">
                            <img src="{% static 'assets/img/g8.png' %}" alt="Img">
                        </div>
						<div class="btn btn-success"><a href="{% url 'wildlife' %}" target="_blank"><i class="fa fa-arrow-right"></i>विवरण देखें/See Details</a></div>
                    </div>
                </div>
                -->#}
                
            </div>
        </div>
    </section>
    <!-- Place Section -->


    <!-- Place Section -->


{% include 'footerr.html' %}
