{% load static %}
{% include 'header.html' %}

{% include 'toast.html' %}

                      <!--begin::Section-->
          <section class="section blog-section blog-sec-six lang hi active">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-12 wow fadeInUp" data-wow-delay="0.2s">
                    <div class="section-header-six">
                        <h2> सहायता <span class="text-primary">.</span></h2>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="text-end">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">

                                            <!--begin::Table-->
                            <div class="custom-datatable-filter table-responsive">
                                <table class="table datatable">
				  <thead>
											<tr>
												<th>  विभाग    </th>
												<th>  नंबर   </th>
											</tr>
				  </thead>
										<tbody>
											<tr>
												<td>   कलेक्ट्रेट नियंत्रण कक्ष  </td>
												<td>     </td>
											</tr>
				
											<tr>
												<td>   पुलिस कण्ट्रोल रूम  </td>
												<td> 100  </td>
											</tr>
											<tr>
												<td>  अग्निशमन कण्ट्रोल रूम  </td>
												<td>  101  </td>
											</tr>
				
											<tr>
												<td> एम्बुलेंस सेवा  </td>
												<td>  102  </td>
											</tr>
				
											<tr>
												<td>   चाइल्डलाइन </td>
												<td>  1098  </td>
											</tr>
                                            <tr>
                                                <td>   राजस्थान संपर्क  </td>
                                                <td>   181  </td>
                                            </tr>
                                            <tr>
                                                <td>  एल पि जी लीक हेल्पलाइन नंबर  </td>
                                                <td>   1906  </td>
                                            </tr>
                                            <tr>
                                                <td>   राजस्थान संपर्क  </td>
                                                <td>   181  </td>
                                            </tr>
                                            <tr>
                                                <td>   राष्ट्रीय आपात सहायता  </td>
                                                <td>   112  </td>
                                            </tr>

                                            <tr>
                                                <td>   आपदा प्रबंधन  </td>
                                                <td>   108  </td>
                                            </tr>
                                            <tr>
                                                <td>   हवाई एम्बुलेंस  </td>
                                                <td>   9540161344  </td>
                                            </tr>

                                            <tr>
                                                <td>   एड्स  </td>
                                                <td>   1097  </td>
                                            </tr>
                                            <tr>
                                                <td>   रेलवे पूछताछ सुविधा  </td>
                                                <td>   139  </td>
                                            </tr>


				  </tbody>

                                  </table>
                            </div>

                </div>
            </div>
        </div>
    </section>

                  <!--end::Row-->


                      <!--begin::Section-->
           <section class="section blog-section blog-sec-six lang en">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-12 wow fadeInUp" data-wow-delay="0.2s">
                    <div class="section-header-six">
                        <h2>Helpline<span class="text-primary">.</span></h2>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="text-end">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">

                                            <!--begin::Table-->
                            <div class="custom-datatable-filter table-responsive">
                                <table class="table datatable">
<thead>
<tr>
<th> Service  </th>
<th> Number (Toll Free) </th>
</tr>
</thead>
<tbody>


<tr>
<td>Collectorate Control Room</td>
<td> </td>
</tr>

<tr>
<td> Police Control Room </td>
<td>100</td>
</tr>
<tr>
<td>Fire Control Room</td>
<td>101</td>
</tr>

<tr>
<td> Ambulance Service </td>
<td>102</td>
</tr>

<tr>
<td> childline </td>
<td>1098</td>
</tr>
                                             <tr>
                                                 <td> Rajasthan Contact </td>
                                                 <td>181</td>
                                             </tr>
                                             <tr>
                                                 <td>LPG Leak Helpline Number</td>
                                                 <td>1906</td>
                                             </tr>
                                             <tr>
                                                 <td> Rajasthan Contact </td>
                                                 <td>181</td>
                                             </tr>
                                             <tr>
                                                 <td>National Emergency Assistance</td>
                                                 <td>112</td>
                                             </tr>

                                             <tr>
                                                 <td>Disaster Management</td>
                                                 <td>108</td>
                                             </tr>
                                             <tr>
                                                 <td> air ambulance </td>
                                                 <td>9540161344</td>
                                             </tr>

                                             <tr>
                                                 <td> AIDS </td>
                                                 <td>1097</td>
                                             </tr>
                                             <tr>
                                                 <td>Railway Inquiry Facility</td>
                                                 <td>139</td>
                                             </tr>


                                             </tbody>
											 </table>
                            </div>

                </div>
            </div>
        </div>
    </section>

                  <!--end::Row-->



{% include 'footerr.html' %}
