{% load static %}
{% include 'header.html' %}

                      <!--begin::Section-->
          <section class="section blog-section blog-sec-six lang hi active">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-12 wow fadeInUp" data-wow-delay="0.2s">
                    <div class="section-header-six">
                        <span class="badge badge-soft-primary rounded-pill mb-1">Our History</span>
                        <h2> इतिहास <span class="text-primary">.</span></h2>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="text-end">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">


						<link rel="stylesheet" href="{% static 'assets/css/timeline.css' %}">

                                            <!--begin::Table-->
                            <div class="custom-datatable-filter table-responsive">
                                <table class="table datatable">

                              

        <div class='row'>
            
            <div class='col-md-12'>
                <div class='main-timeline4'>
                    
                    <!-- first 4 starting -->
                    <div class='timeline'>
                        <span class='timeline-icon'></span>
                        <span class='year'>  1629 </span>
                        <div class='timeline-content'>
                            <h2 class='title'> </h3>
                            <p class='text-default'>
                                 महाराणा राज सिंह जी का जन्म 24 सितंबर 1629 को हुआ था । पिता महाराणा जगत सिंह जी और मां महारानी मेडतणीजी थीं । 
                            </p>
                        </div>
                    </div>
                    <div class='timeline'>
                        <span class='timeline-icon'></span>
                        <span class='year'> 1662 </span>
                        <div class='timeline-content'>
                            <h3 class='title'> </h3>
                            <p class='descriptionn text-default'>
                            राजसमंद झील का निर्माण महाराणा राजसिंह ने 1 जनवरी 1662 से 30 जनवरी 1676 के मध्य गोमती नदी के जल को रोककर करवाया गया |
                            </p>
                        </div>
                    </div>
                    <div class='timeline'>
                        <span class='timeline-icon'></span>
                        <span class='year'> 1672 </span>
                        <div class='timeline-content'>
                            <h3 class='title'></h3>
                            <p class='descriptionn text-default'>
                                 नाथद्वारा में राज सिंह जी ने श्रीनाथ जी की प्रतिमा एवं कांकरोली में श्री द्वारकाधीशजी की प्रतिमा स्थापित करवाई और वहां मंदिर का निर्माण करवाया गया 
                            </p>
                        </div>
                    </div>
                    <div class='timeline'>
                        <span class='timeline-icon'></span>
                        <span class='year'> 1857 </span>
                        <div class='timeline-content'>
                            <h3 class='title'> </h3>
                            <p class='descriptionn text-default'>
                                    राजसमन्द जिले में स्थित 'रकमगढ़ का छापर' 1857 के स्वतंत्रासंग्राम का साक्षी बना |    
                            </p>
                        </div>
                    </div>

                    <div class='timeline'>
                        <span class='timeline-icon'></span>
                        <span class='year'> 1991  </span>
                        <div class='timeline-content'>
                            <h3 class='title'> </h3>
                            <p class='descriptionn text-default'>
                            उदयपुर जिले का विभाजन कर 10 अप्रैल, 1991 को राजसमन्द जिले की स्थापना की गयी थी | राजसमन्द से 2 तहसीलों को अलग कर के बनाया गया था | 
                                 </p>
                        </div>
                    </div>
                    <div class='timeline'>
                        <span class='timeline-icon'></span>
                        <span class='year'> 2025 </span>
                        <div class='timeline-content'>
                            <h3 class='title'> </h3>
                            <p class='descriptionn text-default'>
                                उदयपुर जिले का विभाजन कर बनाया गया जिला अब 7 उपखंडों एवं 10 तहसीलों में विभाजित है |
                            </p>
                        </div>
                    </div>
           						</table>
                            </div>

                </div>
            </div>
<br/>
            <div class="row">
                <div class="col-md-12">


                                            <!--begin::Table-->
                            <div class="custom-datatable-filter table-responsive">
                                <table class="table datatable">
				  <thead>
							<tr>
                                <th> वर्ष </th>
                                <th> वर्ष </th>
                                <th> सम्बंधित व्यक्ति  </th>
                                <th> विवरण   </th>
                            </tr>
				  </thead>
				  <tbody>
                            <tr>
                                <td> 1. </td>
                                <td> 1403  </td>
                                <td> महाराणा कुम्भा </td>
                                <td> कई तरह की उपाधियाँ धारण करने वाले महाराणा कुम्भा का जन्म सन 1403 में हुआ था | </td>
                            </tr>
                            <tr>
                                <td> 1. </td>
                                <td> 1458 </td>
                                <td> महाराणा कुम्भा </td>
                                <td>  कुम्भा ने कुम्भलगढ़ दुर्ग का निर्माण अपनी पत्नी कुम्भल देवी की स्मृति में निर्मित करवाया था |  </td>
                            </tr>
                            <tr>
                                <td> 1. </td>
                                <td> 1537 </td>
                                <td> उदयसिंह  </td>
                                <td> उदयपुर के संस्थापक उदयसिंह का जीवन पन्नाधाय ने अपने पुत्र चन्दन का बलिदान देकर बचाया था |  </td>
                            </tr>
                            <tr>
                                <td> 1. </td>
                                <td> 1539 </td>
                                <td> महाराणा प्रताप   </td>
                                <td> उदयसिंह के पुत्र वीर शिरोमणि प्रताप का जन्म कुम्भलगढ़ दुर्ग में हुआ था | </td>
                            </tr>
                            <tr>
                                <td> 1. </td>
                                <td> 1572</td>
                                <td> महाराणा प्रताप   </td>
                                <td> महाराणा प्रताप का राज्याभिषेक गोगुन्दा में हुआ | मेवाड़ के सरदारों ने उनके भाई जगमाल को हटाकर उन्हें गद्दी पर बैठाया था | </td>
                            </tr>
                            <tr>
                                <td> 1. </td>
                                <td> 1572 से 1576  </td>
                                <td>  अकबर   </td>
                                <td> क्रूर और विदेशी अकबर ने महाराणा प्रताप को अधीनता स्वीकार करवाने हेतु उनके पास चार शिष्ट मंडल भेजे किन्तु वह प्रताप को अधीन लाने में असफल रहा | </td>
                            </tr>
                            <tr>
                                <td> 1. </td>
                                <td> 1576 </td>
                                <td> महाराणा प्रताप   </td>
                                <td> उपरोक्त योजना असफल होने के कारण हल्दीघाटी का युद्ध 21 जून, 1576 (कुछ पुस्तकों में 18 जून ) को हुआ था जिसमे प्रताप की तरफ से हाकिम खा सूरी और मुगलों की तरफ से मानसिंह ने युद्ध में भाग लिया | 
								     इस युद्ध में प्रताप का घोडा चेतक घायल हो गया था और अंत में एक बड़े नाले को पार करते समय वीरगति को प्राप्त हो गया | </td>
                            </tr>
                            <tr>
                                <td> 1. </td>
                                <td> 1582 </td>
                                <td> महाराणा प्रताप   </td>
                                <td> अक्टूबर में महाराणा प्रताप ने दिवेर के सुल्तान खान पर आक्रमण किया | और विजयी हुए | </td>
                            </tr>
                            <tr>
                                <td> 1. </td>
                                <td> 1585 </td>
                                <td> महाराणा प्रताप   </td>
                                <td> महाराणा प्रताप ने अपना अंतिम अभियान चावंड में लूणा चावंडीया को परस्त कर चावंड को अपनी राजधानी बनाया | </td>
                            </tr>
                            <tr>
                                <td> 1. </td>
                                <td> 1652 </td>
                                <td> महाराणा राजसिंह   </td>
                                <td> महाराणा जगतसिंह के पुत्र राजसिंह जी  ने औरंगजेब की धर्म विरोधी नीतियों के प्रबल विरोध किया | इन्होने वल्लभ संप्रदाय को मूर्तियों को सुरक्षित स्थानों पर पहुँचाया जिसमे से एक मूर्ति की स्थापना कांकरोली में 
								      राजसमन्द झील के तट पर करवाई और अन्य की स्थापना सिंहाड (वर्तमान नाथद्वारा ) में करवाई | </td>
                            </tr>
                            <tr>
                                <td> 1. </td>
                                <td> 1662 </td>
                                <td> महाराणा राजसिंह   </td>
                                <td> गोमती नदी को रोककर राजसमन्द झील का निर्माण करवाया एवं इसके समीप ही राजनगर शहर बसाया | 		 </td>
                            </tr>
                                </table>
                            </div>


                </div>
            </div>





        </div>
    </section>

                  <!--end::Row-->



                      <!--begin::Section-->
           <section class="section blog-section blog-sec-six lang en">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-12 wow fadeInUp" data-wow-delay="0.2s">
                    <div class="section-header-six">
                        <span class="badge badge-soft-primary rounded-pill mb-1"></span>
                        <h2>Our History<span class="text-primary">.</span></h2>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="text-end">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">



                                            <!--begin::Table-->
                            <div class="custom-datatable-filter table-responsive">
                                <table class="table datatable">
         <div class='row'>
            
<div class='col-md-12'>
                 <div class='main-timeline4'>
                    
<!-- first 4 starting -->
<div class='timeline'>
                         <span class='timeline-icon'></span>
                         <span class='year'> 1629 </span>
                         <div class='timeline-content'>
                             <h2 class='title'> </h3>
                             <p class='text-default'>
Maharana Raj Singh ji was born on 24 September 1629. Father was Maharana Jagat Singh and mother was Maharani Medtaniji.
                             </p>
                         </div>
                     </div>
                     <div class='timeline'>
                         <span class='timeline-icon'></span>
                         <span class='year'> 1662 </span>
                         <div class='timeline-content'>
                             <h3 class='title'> </h3>
                             <p class='description text-default'>
                             Rajsamand Lake was constructed by Maharana Raj Singh between 1st January 1662 to 30th January 1676 by stopping the water of Gomti river.
                             </p>
                         </div>
                     </div>
                     <div class='timeline'>
                         <span class='timeline-icon'></span>
                         <span class='year'> 1672 </span>
                         <div class='timeline-content'>
                             <h3 class='title'></h3>
                             <p class='description text-default'>
Raj Singh ji installed the statue of Shrinathji in Nathdwara and the statue of Shri Dwarkadhishji in Kankroli and the temple was built there.
                             </p>
                         </div>
                     </div>
                     <div class='timeline'>
                         <span class='timeline-icon'></span>
                         <span class='year'>1857 </span>
                         <div class='timeline-content'>
                             <h3 class='title'> </h3>
                             <p class='description text-default'>
'Rakamgarh Ka Chapar' located in Rajsamand district became a witness to the freedom struggle of 1857.
                             </p>
                         </div>
                     </div>

<div class='timeline'>
                         <span class='timeline-icon'></span>
                         <span class='year'> 1991 </span>
                         <div class='timeline-content'>
                             <h3 class='title'> </h3>
                             <p class='description text-default'>
                             Rajsamand district was formed on April 10, 1991 by bifurcating Udaipur district. It was created by separating two tehsils from Rajsamand.
</p>
                         </div>
                     </div>
                     <div class='timeline'>
                         <span class='timeline-icon'></span>
                         <span class='year'> 2025 </span>
                         <div class='timeline-content'>
                             <h3 class='title'> </h3>
                             <p class='description text-default'>
                                The district created by bifurcation of Udaipur district is now divided into 7 subdivisions and 10 tehsils.
                             </p>
                         </div>
                     </div>

                                            </table>
                            </div>

                </div>
            </div>
<br/>
            <div class="row">
                <div class="col-md-12">


                                            <!--begin::Table-->
                            <div class="custom-datatable-filter table-responsive">
                                <table class="table datatable">

<thead>
<tr>
<th> Year </th>
<th> Year </th>
<th> Related Person </th>
<th> Description </th>
</tr>
</thead>
<tbody>
<tr>
    <td> 1. </td>
    <td> 1403 </td>
    <td> Maharana Kumbha </td>
    <td> Maharana Kumbha, who held many titles, was born in the year 1403. </td>
</tr>

<tr>
    <td> 1. </td>
    <td> 1458 </td>
    <td> Maharana Kumbha </td>
    <td> Kumbha built the Kumbhalgarh fort in memory of his wife Kumbhal Devi. </td> 
</tr> 

<tr> 
    <td> 1. </td> 
    <td> 1537 </td> 
    <td> Udai Singh </td> 
    <td> The life of Udai Singh, the founder of Udaipur, was saved by Pannadhay by sacrificing his son Chandan. </td> 

</tr> 


<tr> 
        <td> 1. </td> 
        <td> 1539 </td> 
        <td> Maharana Pratap </td> 
        <td> Veer Shiromani Pratap, son of Udai Singh, was born in Kumbhalgarh fort. 

    </td> 
</tr> 


<tr> 
    <td> 1. </td> 
    <td> 1572</td> 
    <td> Maharana Pratap </td> 
    <td> The coronation of Maharana Pratap took place in Gogunda. The chieftains of Mewar had removed his brother Jagmal and made him sit on the throne. </td>

</tr>

<tr>
        <td> 1. </td>
        <td> 1572 to 1576 </td>
        <td> Akbar </td>
        <td> The cruel and foreign Akbar sent four delegations to Maharana Pratap to make him accept his subordination but he was unsuccessful in bringing Pratap under his control. </td>

</tr>

<tr>

        <td> 1. </td>
        <td> 1576 </td>
        <td> Maharana Pratap </td>
        <td> Due to the failure of the above plan, the battle of Haldighati was fought on 21 June 1576 (18 June in some books) in which Hakim Khan Suri participated from Pratap's side and Mansingh from the Mughals' side. In this war, Pratap's horse Chetak was injured and finally died while crossing a big drain. </td>
</tr>

<tr>
        <td> 1. </td>
        <td> 1582 </td>
        <td> Maharana Pratap </td>
        <td> In October, Maharana Pratap attacked Sultan Khan of Diwar and was victorious. </td>
</tr>

<tr>
        <td> 1. </td>
        <td> 1585 </td>
        <td> Maharana Pratap </td>
        <td> Maharana Pratap made Chavand his capital after defeating Luna Chavandiya in his last campaign. </td>
</tr>

<tr>
        <td> 1. </td>
        <td> 1652 </td>
        <td> Maharana Rajsingh </td>
        <td> Maharana Jagatsingh's son Rajsingh strongly opposed Aurangzeb's anti-religious policies. He sent the idols of Vallabh sect to safe places, out of which one idol was installed in Kankroli on the banks of Rajsamand lake and the other was installed in Singhad (present Nathdwara). </td>

</tr>

<tr>
        <td> 1. </td>
        <td> 1662 </td>
        <td> Maharana Rajsingh </td>
        <td> Built Rajsamand lake by stopping the Gomti river and established the city of Rajnagar near it. </td>

</tr>

                                            </table>
                            </div>


                </div>
            </div>





        </div>
    </section>

                  <!--end::Row-->


{% include 'footerr.html' %}
