
<!-- Loader 
{#{% include 'loader.html' %}#}
     /Loader -->    

<!--
<div id="preloader">
  <div id="lottie-container" style="width: 250px; height: 250px;"></div>
  <div class="preloader-text">Save Girl Child<br>Educate Child<br>Save Environment</div>
</div>
-->



    
{% include 'main-header0.html' %}


{% include 'modules.html' %}


    <!-- Jquery JS -->
    <script src="{% static 'assets/js/jquery-3.7.1.min.js' %}" type=""></script>

    <!-- Bootstrap JS -->
    <script src="{% static 'assets/js/bootstrap.bundle.min.js' %}" type="45caf2e60a81b705632d21fa-text/javascript"></script>

    <!-- Wow JS -->
    <script src="{% static 'assets/js/wow.min.js' %}" type="45caf2e60a81b705632d21fa-text/javascript"></script>

    <!-- MeanMenu Js -->
    <script src="{% static 'assets/js/jquery.meanmenu.min.js' %}" type="45caf2e60a81b705632d21fa-text/javascript"></script>

    <!-- Swiper Js -->
    <script src="{% static 'assets/plugins/owlcarousel/owl.carousel.min.js' %}" type="45caf2e60a81b705632d21fa-text/javascript"></script>

    <!-- Fancybox JS -->
    <script src="{% static 'assets/plugins/fancybox/jquery.fancybox.min.js' %}" type="45caf2e60a81b705632d21fa-text/javascript"></script>

    <!-- Counter JS -->
    <script src="{% static 'assets/js/jquery.counterup.min.js' %}" type="45caf2e60a81b705632d21fa-text/javascript"></script>
    <script src="{% static 'assets/js/jquery.waypoints.min.js' %}" type="45caf2e60a81b705632d21fa-text/javascript"></script>

    <!-- Datepicker Core JS -->
    <script src="{% static 'assets/plugins/moment/moment.js' %}" type="45caf2e60a81b705632d21fa-text/javascript"></script>
    <script src="{% static 'assets/js/bootstrap-datetimepicker.min.js' %}" type="45caf2e60a81b705632d21fa-text/javascript"></script>

    <!-- cursor JS -->
    <script src="{% static 'assets/js/cursor.js' %}" type="45caf2e60a81b705632d21fa-text/javascript"></script>

    <!-- Script JS -->
    <script src="{% static 'assets/js/script.js' %}" type="45caf2e60a81b705632d21fa-text/javascript"></script>

    <!-- Script JS
    <script src="{% static 'assets/cdn-cgi/scripts/7d0fa10a/cloudflare-static/rocket-loader.min.js' %}" data-cf-settings="45caf2e60a81b705632d21fa-|49" defer></script>
     -->

<!--<script>
var animation = lottie.loadAnimation({
  container: document.getElementById('lottie-container'),
  renderer: 'svg',
  loop: true,
  autoplay: true,
  path: 'https://assets10.lottiefiles.com/packages/lf20_lk80fpsm.json' // Example animation
});

window.addEventListener('load', function () {
  document.getElementById("preloader").style.opacity = 0;
  setTimeout(() => {
    document.getElementById("preloader").style.display = "none";
  }, 800);
});
</script>
-->
