{% load static %}
<!DOCTYPE html>
<html lang="en">
{% include 'header.html' %}
<body hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>


{% include 'modules.html' %}

<!-- Footer -->
{% include 'footer.html' %}
    <!-- /Footer -->

{# {% include 'modals.html' %} #}

    <!-- Cursor -->
    <div class="xb-cursor tx-js-cursor">
        <div class="xb-cursor-wrapper">
            <div class="xb-cursor--follower xb-js-follower"></div>
        </div>
    </div>
    <!-- /Cursor -->

    <div class="back-to-top">
        <a class="back-to-top-icon align-items-center justify-content-center d-flex"  href="#top"><i class="fa-solid fa-arrow-up"></i></a>
    </div>



<script>
function setLang(lang) {
    document.querySelectorAll('.lang').forEach(el => {
        el.classList.remove('active');
    });

    document.querySelectorAll('.' + lang).forEach(el => {
        el.classList.add('active');
    });
}
</script>



<script>
document.addEventListener("DOMContentLoaded", (event) => {

const tl = gsap
  .timeline({
    repeat: -1,
    defaults:{ duration: 3, ease: 'power1.inOut' }
  })
  .set('#svg-stage', { opacity: 1 })
  .from('path', { drawSVG:'0% 0%' })
  .to('path', { drawSVG:'100% 100%' })

  // आपका सारा कोड इसके अंदर आएगा
  document.querySelectorAll(".box").forEach((box, index) => {
    box.addEventListener("click", () => {
      gsap.to(".box", {
        duration: 0.5,
        opacity: 0,
        y: -100,
        stagger: {
          from: index,
          amount: 1
        },
        ease: "back.in",
        overwrite: "auto"
      });
    });
  });
});
</script>
{% include 'ekko.html' %}


</body>
</html>