{% load static %}
{% include 'header.html' %}


                      <!--begin::Section-->
          <section class="section blog-section blog-sec-six lang hi active">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-12 wow fadeInUp" data-wow-delay="0.2s">
                    <div class="section-header-six">
                        <h2>कैसे पहुंचे राजसमन्द<span class="text-primary">.</span></h2>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="text-end">
                    </div>
                </div>
            </div>

<br />

            <div class='row justify-content-center g-4'>

                <!-- Pick-Up & Drop-Off -->
                <div class='col-lg-4 col-md-6 d-flex'>
                    <div class='card border-0 shadow-none pickup-card bg-secondary-100 flex-fill'>
                        <div class='card-body'>
                            <div class='d-flex align-items-center justify-content-between mb-3'>
                                <h5> सड़क मार्ग से </h5>
                                <span class='avatar avatar-lg bg-secondary rounded-circle flex-shrink-0 ms-3'>
                                    <i class='isax isax-card-coin fs-24'></i>
                                </span>
                            </div>
                            <p>
                              राजसमन्द जिला सड़क मार्ग से सभी प्रमुख जिलों से जुड़ा हुआ है. दिल्ली या मुंबई से यहाँ नेशनल हाईवे न. 48 (पुराना नाम - NH08 ) से पहुंचा जा सकता है | उदयपुर से दिल्ली जाने वाले मार्ग पर स्थित है | 
                            </p>
                        </div>
                    </div>
                </div>
                <!-- /Pick-Up & Drop-Off -->

                <!-- Business Travel -->
                <div class='col-lg-4 col-md-6 d-flex'>
                    <div class='card border-0 shadow-none pickup-card bg-purple-100 flex-fill'>
                        <div class='card-body'>
                            <div class='d-flex align-items-center justify-content-between mb-3'>
                                <h5> रेल मार्ग से </h5>
                                <span class='avatar avatar-lg bg-purple rounded-circle flex-shrink-0 ms-3'>
                                    <i class='isax isax-chart fs-24'></i>
                                </span>
                            </div>
                            <p>
                       राजसमन्द जिला मावली से मारवाड़ मीटरगेज रेल लाइन पर स्थित है| इसका नजदीकी ब्रोडगेज रेलवे स्टेशन मावली है जो कि उदयपुर जिले में स्थित है. जहाँ से चित्तौड़गढ़, भीलवाडा होते हुवे अजमेर और जयपुर पहुंचा जा सकता है |
                            </p>
                        </div>
                    </div>
                </div>
                <!-- /Business Travel -->

                <!-- Pick-Up & Drop-Off -->
                <div class='col-lg-4 col-md-6 d-flex'>
                    <div class='card border-0 shadow-none pickup-card bg-teal-100 flex-fill'>
                        <div class='card-body'>
                            <div class='d-flex align-items-center justify-content-between mb-3'>
                                <h5> हवाई मार्ग से </h5>
                                <span class='avatar avatar-lg bg-teal rounded-circle flex-shrink-0 ms-3'>
                                    <i class='isax isax-coin fs-24'></i>
                                </span>
                            </div>
                            <p>
                     राजसमन्द जिले का अपना स्वयं का कोई हवाईअड्डा  नहीं है| इसका नजदीकी हवाईअड्डा उदयपुर में स्थित है जिसका नाम महाराणाप्रताप एअरपोर्ट है जो कि राजसमन्द से लगभग 70 किलोमीटर की दुरी पर ही स्थित है |
                            </p>
                        </div>
                    </div>
                </div>
                <!-- /Pick-Up & Drop-Off -->

            </div>


<br />


            <div class="row">
                <div class="col-md-12">

                                            <!--begin::Table-->
                            <div class="custom-datatable-filter table-responsive">
                                <table class="table datatable">


                                        <thead>
							<tr>
                                <th> <b>  शहर का नाम    </th>
                                <th> <b>  शहर से दूरी (distance)  किलोमीटर में  </th>
                            </tr>
										</thead>
										<tbody>
                            <tr>
                                <td>  उदयपुर </td>
                                <td>  67   </td>
                            </tr>

                            <tr>
                                <td>   जयपुर   </td>
                                <td> 352   </td>
                            </tr>
                            <tr>
                                <td>   अजमेर </td>
                                <td>  220    </td>
                            </tr>

                            <tr>
                                <td>  भीलवाडा  </td>
                                <td>  102   </td>
                            </tr>

                            <tr>
                                <td>   चित्तोरगढ़  </td>
                                <td>  121  </td>
                            </tr>

                            <tr>
                                <td>  नई दिल्ली  </td>
                                <td>  580    </td>
                            </tr>

                            <tr>
                                <td>   अहमदाबाद  </td>
                                <td>  317   </td>
                            </tr>
                            <tr>
                                <td>  इंदौर </td>
                                <td>  470  </td>
                            </tr>

                            <tr>
                                <td>  जोधपुर   </td>
                                <td>  200   </td>
                            </tr>

                            <tr>
                                <td>   पाली  </td>
                                <td>  125  </td>
                            </tr>
                                        </tbody>

                                  </table>
                            </div>

                </div>
            </div>
        </div>
    </section>

                  <!--end::Row-->

                      <!--begin::Section-->
           <section class="section blog-section blog-sec-six lang en">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-12 wow fadeInUp" data-wow-delay="0.2s">
                    <div class="section-header-six">
                        <h2> How to Reach <span class="text-primary">.</span></h2>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="text-end">
                    </div>
                </div>
            </div>

<br />
<div class='row justify-content-center g-4'>

    <!-- Pick-Up & Drop-Off -->

    <div class='col-lg-4 col-md-6 d-flex'>

        <div class='card border-0 shadow-none pickup-card bg-secondary-100 flex-fill'>

            <div class='card-body'>
                <div class='d-flex align-items-center justify-content-between mb-3'>
                    <h5> By road </h5>
                    <span class='avatar avatar-lg bg-secondary rounded-circle flex-shrink-0 ms-3'>
<i class='isax isax-card-coin fs-24'></i>

</span>

                </div>
                <p>

                    Rajsamand district is connected to all major districts by road. National Highway No. 1 is connected to Delhi or Mumbai. It can be reached via NH 48 (old name - NH08). It is situated on the route from Udaipur to Delhi. </p>
            </div>
        </div>
    </div>
    <!-- /Pick-Up & Drop-Off -->

    <!-- Business Travel -->
    <div class='col-lg-4 col-md-6 d-flex'>
        <div class='card border-0 shadow-none pickup-card bg-violet-100 flex-fill'>
            <div class='card-body'>
                <div class='d-flex align-items-center justify-content-between mb-3'>
                    <h5> By rail </h5>
                    <span class='avatar avatar-lg bg-violet rounded-circle flex-shrink-0 ms-3'>
 <i class='isax isax-chart fs-24'></i>
 </span>
                </div>
                <p>
                    Rajsamand District Mavli to Marwar Meter Gauge Rail It is situated on the line. Its nearest broad gauge railway station is Mavli which is situated in Udaipur district. From where one can reach Ajmer and Jaipur via Chittorgarh, Bhilwara. </p>

            </div>

        </div>

    </div>

    <!-- /Business Travel -->

    <!-- Pick-Up & Drop-Off -->

    <div class='col-lg-4 col-md-6 d-flex'>

        <div class='card border-0 shadow-none pickup-card bg-teal-100 flex-fill'>

            <div class='card-body'>

                <div class='d-flex align-items-center justify-content-between mb-3'>

                    <h5> By air </h5>

                    <span class='avatar avatar-lg bg-teal rounded-circle flex-shrink-0 ms-3'>

<i class='isax isax-coin fs-24'></i>

</span>

                </div>
                <p>

                    Rajsamand district does not have its own airport Its nearest airport is located in Udaipur, named Maharana Pratap Airport, which is located at a distance of about 70 kilometers from Rajsamand.

                </p>

            </div>

        </div>

        <!-- /Pick-Up & Drop-Off -->

    </div>

<br>

<br />


            <div class="row">
                <div class="col-md-12">

                                            <!--begin::Table-->
                            <div class="custom-datatable-filter table-responsive">
                                <table class="table datatable">
                                         <thead>
<tr>
                                 <th> <b> City / Town Name </th>
                                 <th> <b> Distance from City/ Town in kilometers</th>
                             </tr>
</thead>
<tbody>
                             <tr>
                                 <td> Udaipur</td>
                                 <td> 67</td>
                             </tr>

                             <tr>
                                 <td> Jaipur</td>
                                 <td>352</td>
                             </tr>
                             <tr>
                                 <td> Ajmer </td>
                                 <td> 220</td>
                             </tr>

                             <tr>
                                 <td>Bhilwara </td>
                                 <td> 102</td>
                             </tr>

                             <tr>
                                 <td> Chittorgarh </td>
                                 <td> 121</td>
                             </tr>

                             <tr>
                                 <td> New Delhi</td>
                                 <td> 580</td>
                             </tr>

                             <tr>
                                 <td> Ahmedabad </td>
                                 <td>317</td>
                             </tr>
                             <tr>
                                 <td> Indore</td>
                                 <td> 470</td>
                             </tr>

                             <tr>
                                 <td>Jodhpur </td>
                                 <td> 200</td>
                             </tr>

                             <tr>
                                 <td> Pali</td>
                                 <td> 125</td>
                             </tr>
                                         </tbody>
                                     </table>
                            </div>

                </div>
            </div>
        </div>
    </section>

                  <!--end::Row-->

{% include 'footerr.html' %}
