{% load static %}
{% include 'header.html' %}


                      <!--begin::Section-->
          <section class="section blog-section blog-sec-six lang hi active">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-12 wow fadeInUp" data-wow-delay="0.2s">
                    <div class="section-header-six">
                        <h2> सिंचाई <span class="text-primary">.</span></h2>
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-md-12">

                                            <!--begin::Table-->
                            <div class="custom-datatable-filterr table-responsive">
                                <table class="table table-bordered datatable" id="exampleTbl">

                                               <thead>
                                                    <tr>
                                                        <th class=''> क्रम संख्या </th>
                                                        <th class=''> बाँध का नाम </th>
                                                        <th class='min-w-125px'> विवरण </th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                            <tr>
                                <td> 1.  </td>
                                <td>  नंदसमंद बाँध </td>
                                <td> नाथद्वारा तहसील के निचली ओडन ग्राम स्थित परियोजना जिससे जिले को सिंचाई एवं पेयजल की सुविधा प्राप्त होती है | यह राजसमन्द की लाइफलाइन कही जाती है | </td>
                            </tr>
                            <tr>
                                <td> 2. </td>
                                <td> बाघेरी का नाका बांध  </td>
                                <td class='text-dark mb-0 fw-medium fs-14'> राजसमन्द तहसील में स्थित बाघेरी का नाका परियोजना भी बनास नदी पर निर्मित की गयी है जिससे इससे कयी गाँवों और कस्बों में पेयजल एवं सिंचाई सुविधा का लाभ प्राप्त होता है | </td>
                            </tr>
                         </tbody>   
                                  </table>
                            </div>

                </div>
            </div>
        </div>
    </section>


                      <!--begin::Section-->
           <section class="section blog-section blog-sec-six lang en">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-12 wow fadeInUp" data-wow-delay="0.2s">
                    <div class="section-header-six">
                        <h2> Irrigation <span class="text-primary">.</span></h2>
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-md-12">

                                            <!--begin::Table-->
                            <div class="custom-datatable-filterr table-responsive">
                                <table class="table table-bordered datatable" id="exampleTbl">
<thead>
<tr>
<th class=''> Serial No. </th>
<th class=''> Name of the Dam </th>
<th class='min-w-125px'> Description </th>
</tr>
</thead>
<tbody>
<tr>
<td> 1. </td>
<td> Nandasmand Dam </td>
<td> Project located in Lower Odan village of Nathdwara Tehsil, which provides irrigation and drinking water facilities to the district. It is called the lifeline of Rajsamand. </td>
</tr>
<tr>
<td> 2. </td>
<td> Bagheri Ka Naka Dam </td>
<td> Bagheri Ka Naka Project located in Rajsamand Tehsil is also built on the Banas River, which provides drinking water and irrigation facilities to many villages and towns. </td> </tr> </tbody>
                                  </table>
                            </div>

                </div>
            </div>
        </div>
    </section>


{% include 'footerr.html' %}
