{% load static %}
<!DOCTYPE html>
<html lang="en">
{% include 'head.html' %}
{% include 'headd.html' %}

<body>

    <!-- Main Wrapper -->
    <div class="main-wrapper authentication-wrapper">
        <div class="container-fuild">

            <!-- Register -->
            <div class="w-100 overflow-hidden position-relative flex-wrap d-block vh-100">
                <div class="row justify-content-center align-items-center vh-100 overflow-auto flex-wrap ">
                    <div class="col-xxl-4 col-lg-6 col-md-6 col-11 mx-auto">
                        <div class="p-4 text-center">
                            <img src="assets/img/logo-dark.svg" alt="logo" class="img-fluid">
                        </div>
                        <div class="card authentication-card" id="login-container">
                            <div class="card-header">
                                <div class="text-center">
                                    <h5 class="mb-1">Sign Up</h5>
                                    <p>Create your DreamsTour Account</p>
                                </div>
                            </div>
                            <div class="card-body">

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

                                <!-- 
                                <form hx-post="/login/" hx-target="#login-container" hx-swap="innerHTML">
                                -->
                                <form method="POST" action="{% url 'login' %}">
                                    {% csrf_token %}
                                    <div class="mb-3">
                                        <label class="form-label">Email</label>
                                        <div class="input-icon">
                                            <span class="input-icon-addon">
												<i class="isax isax-message"></i>
											</span>
                                            <input type="email" class="form-control" value="" name="email" placeholder="enter email ">
                                        </div>
                                    </div>
                                    <div class="mb-3">
                                        <label class="form-label">Email</label>
                                        <div class="input-icon">
                                            <span class="input-icon-addon">
												<i class="isax isax-message"></i>
											</span>
                                            <input type="password" class="form-control" value="" name="password" placeholder="enter name ">
                                        </div>
                                    </div>
                                    <div class="mb-3">
                                        <button type="submit" class="btn btn-xl btn-primary d-flex align-items-center justify-content-center w-100">Register<i class="isax isax-arrow-right-3 ms-2"></i></button>
                                    </div>
                                    <div class="login-or mb-3">
                                        <span class="span-or">Or</span>
                                    </div>
                                    <div class="d-flex align-items-center mb-3">
                                        <a href="javascript:void(0);" class="btn btn-light flex-fill d-flex align-items-center justify-content-center me-2">
                                            <img src="assets/img/icons/google-icon.svg" class="me-2" alt="Img">Google
                                        </a>
                                        <a href="javascript:void(0);" class="btn btn-light flex-fill d-flex align-items-center justify-content-center">
                                            <img src="assets/img/icons/fb-icon.svg" class="me-2" alt="Img">Facebook
                                        </a>
                                    </div>
                                    <div class="d-flex justify-content-center">
                                        <p class="fs-14">Already have an account? <a href="login.html" class="link-primary fw-medium">Sign In</a></p>
                                    </div>
                                </form>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <!-- /Register -->

        </div>
        <div class="coprright-footer">
            <p class="fs-14">Copyright &copy; 2025. All Rights Reserved, <a href="javascript:void(0);" class="text-primary fw-medium">DreamsTour</a></p>
        </div>
    </div>
    <!-- /Main Wrapper -->

    <!-- Cursor -->
    <div class="xb-cursor tx-js-cursor">
        <div class="xb-cursor-wrapper">
            <div class="xb-cursor--follower xb-js-follower"></div>
        </div>
    </div>
    <!-- /Cursor -->





    <!-- Cursor -->
    <div class="xb-cursor tx-js-cursor">
        <div class="xb-cursor-wrapper">
            <div class="xb-cursor--follower xb-js-follower"></div>
        </div>
    </div>
    <!-- /Cursor -->

    <div class="back-to-top">
        <a class="back-to-top-icon align-items-center justify-content-center d-flex"  href="#top"><i class="fa-solid fa-arrow-up"></i></a>
    </div>

<!-- jQuery (सबसे पहले) -->
<script src="https://code.jquery.com"></script>
<!-- Toastr JS (दूसरे नंबर पर) -->
<script src="https://cdnjs.cloudflare.com"></script>
<!-- HTMX (अंत में) -->
<script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.8/dist/htmx.min.js"></script>

<script type="text/javascript" src="{% static 'assets/src/toastify.js' %}"></script>

<script>
  document.body.addEventListener('success', function (evt) {
      console.log("Success event triggered!");    
      // सुधार: i और bgColors को डिफाइन किया गया है ताकि एरर न आए
      Toastify({
        text: "firstसफलता! राजसमंद फॉर्म जमा हो गया", // हिंदी संदेश
        duration: 3000,
        close: true,
        gravity: "top", // top or bottom
        position: "right", // left, center or right
        style: {
          background: "linear-gradient(to right, #FF8C00, #FFD700)", // राजस्थानी ग्रेडिएंट
        }
      }).showToast();
    
  });
</script>
<script>
  document.body.addEventListener('fail', function (evt) {
      console.log("Success event triggered!");    
      // सुधार: i और bgColors को डिफाइन किया गया है ताकि एरर न आए
      Toastify({
        text: "firstसफलता! राजसमंद फॉर्म जमा हो गया", // हिंदी संदेश
        duration: 3000,
        close: true,
        gravity: "top", // top or bottom
        position: "right", // left, center or right
        style: {
          background: "yellow", // राजस्थानी ग्रेडिएंट
        }
      }).showToast();
    
  });
</script>

    <!-- गड़बड़ वाली लाइन को इससे बदलें -->
    <script src="{% static 'assets/js/jquery-3.7.1.min.js' %}"></script>

    <!-- Bootstrap JS -->
    <script src="{% static 'assets/js/bootstrap.bundle.min.js' %}" type="45caf2e60a81b705632d21fa-text/javascript"></script>

    <!-- Wow JS -->
    <script src="{% static 'assets/js/wow.min.js' %}" type="45caf2e60a81b705632d21fa-text/javascript"></script>

    <!-- MeanMenu Js -->
    <script src="{% static 'assets/js/jquery.meanmenu.min.js' %}" type="45caf2e60a81b705632d21fa-text/javascript"></script>

    <!-- Swiper Js -->
    <script src="{% static 'assets/plugins/owlcarousel/owl.carousel.min.js' %}" type="45caf2e60a81b705632d21fa-text/javascript"></script>

    <!-- Fancybox JS -->
    <script src="{% static 'assets/plugins/fancybox/jquery.fancybox.min.js' %}" type="45caf2e60a81b705632d21fa-text/javascript"></script>

    <!-- Counter JS -->
    <script src="{% static 'assets/js/jquery.counterup.min.js' %}" type="45caf2e60a81b705632d21fa-text/javascript"></script>
    <script src="{% static 'assets/js/jquery.waypoints.min.js' %}" type="45caf2e60a81b705632d21fa-text/javascript"></script>

    <!-- Datepicker Core JS -->
    <script src="{% static 'assets/plugins/moment/moment.js' %}" type="45caf2e60a81b705632d21fa-text/javascript"></script>
    <script src="{% static 'assets/js/bootstrap-datetimepicker.min.js' %}" type="45caf2e60a81b705632d21fa-text/javascript"></script>

    <!-- cursor JS -->
    <script src="{% static 'assets/js/cursor.js' %}" type="45caf2e60a81b705632d21fa-text/javascript"></script>

    <!-- Script JS -->
    <script src="{% static 'assets/js/script.js' %}" type="45caf2e60a81b705632d21fa-text/javascript"></script>

    <script src="{% static 'assets/cdn-cgi/scripts/7d0fa10a/cloudflare-static/rocket-loader.min.js' %}" data-cf-settings="45caf2e60a81b705632d21fa-|49" defer></script>

<!--<script>
var animation = lottie.loadAnimation({
  container: document.getElementById('lottie-container'),
  renderer: 'svg',
  loop: true,
  autoplay: true,
  path: 'https://assets10.lottiefiles.com/packages/lf20_lk80fpsm.json' // Example animation
});

window.addEventListener('load', function () {
  document.getElementById("preloader").style.opacity = 0;
  setTimeout(() => {
    document.getElementById("preloader").style.display = "none";
  }, 800);
});
</script>
-->
<!-- 1. पहले jQuery -->



<script>
function setLang(lang) {
    document.querySelectorAll('.lang').forEach(el => {
        el.classList.remove('active');
    });

    document.querySelectorAll('.' + lang).forEach(el => {
        el.classList.add('active');
    });
}
</script>


</body>
</html>