    <!-- Countries Section -->
    <section class="section countries-sec-seven">
        <div class="container">
            <div class="section-header text-center">
                <h2 class="mb-2 line-icon">Popular Connected Countries</h2>
                <p class="sub-title">Explore Seamless Bus Connections Across Borders</p>
            </div>

            <!-- start row -->
            <div class="row row-gap-3">
{% for service in services %}
                <div class="col-lg-2 col-md-3 col-sm-4 col-6">
                    <div class="countries-item d-flex align-items-center gap-2">
                        <img src="assets/img/icons/lang-01.svg" alt="img" class="img-fluid">
                        <h6>{{ service.name }} </h6>
                    </div>
                </div>
{% endfor %}
                <div class="col-lg-2 col-md-3 col-sm-4 col-6">
                    <div class="countries-item d-flex align-items-center gap-2">
                        <img src="assets/img/icons/lang-02.svg" alt="img" class="img-fluid">
                        <h6>Niger</h6>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4 col-6">
                    <div class="countries-item d-flex align-items-center gap-2">
                        <img src="assets/img/icons/lang-03.svg" alt="img" class="img-fluid">
                        <h6>Slovenia</h6>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4 col-6">
                    <div class="countries-item d-flex align-items-center gap-2">
                        <img src="assets/img/icons/lang-04.svg" alt="img" class="img-fluid">
                        <h6>NetherLands</h6>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4 col-6">
                    <div class="countries-item d-flex align-items-center gap-2">
                        <img src="assets/img/icons/lang-05.svg" alt="img" class="img-fluid">
                        <h6>Singapore</h6>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4 col-6">
                    <div class="countries-item d-flex align-items-center gap-2">
                        <img src="assets/img/icons/lang-06.svg" alt="img" class="img-fluid">
                        <h6>Finland</h6>
                    </div>
                </div>

                <div class="col-lg-2 col-md-3 col-sm-4 col-6">
                    <div class="countries-item d-flex align-items-center gap-2">
                        <img src="assets/img/icons/lang-07.svg" alt="img" class="img-fluid">
                        <h6>Argentina</h6>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4 col-6">
                    <div class="countries-item d-flex align-items-center gap-2">
                        <img src="assets/img/icons/lang-08.svg" alt="img" class="img-fluid">
                        <h6>Croatia</h6>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4 col-6">
                    <div class="countries-item d-flex align-items-center gap-2">
                        <img src="assets/img/icons/lang-09.svg" alt="img" class="img-fluid">
                        <h6>Canada</h6>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4 col-6">
                    <div class="countries-item d-flex align-items-center gap-2">
                        <img src="assets/img/icons/lang-10.svg" alt="img" class="img-fluid">
                        <h6>England</h6>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4 col-6">
                    <div class="countries-item d-flex align-items-center gap-2">
                        <img src="assets/img/icons/lang-11.svg" alt="img" class="img-fluid">
                        <h6>Romania</h6>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4 col-6">
                    <div class="countries-item d-flex align-items-center gap-2">
                        <img src="assets/img/icons/lang-12.svg" alt="img" class="img-fluid">
                        <h6>Turkey</h6>
                    </div>
                </div>

                <div class="col-lg-2 col-md-3 col-sm-4 col-6">
                    <div class="countries-item d-flex align-items-center gap-2">
                        <img src="assets/img/icons/lang-13.svg" alt="img" class="img-fluid">
                        <h6>Peru</h6>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4 col-6">
                    <div class="countries-item d-flex align-items-center gap-2">
                        <img src="assets/img/icons/lang-14.svg" alt="img" class="img-fluid">
                        <h6>France</h6>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4 col-6">
                    <div class="countries-item d-flex align-items-center gap-2">
                        <img src="assets/img/icons/lang-15.svg" alt="img" class="img-fluid">
                        <h6>Sweden</h6>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4 col-6">
                    <div class="countries-item d-flex align-items-center gap-2">
                        <img src="assets/img/icons/lang-16.svg" alt="img" class="img-fluid">
                        <h6>Brazil</h6>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4 col-6">
                    <div class="countries-item d-flex align-items-center gap-2">
                        <img src="assets/img/icons/lang-17.svg" alt="img" class="img-fluid">
                        <h6>Kuwait</h6>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4 col-6">
                    <div class="countries-item d-flex align-items-center gap-2">
                        <img src="assets/img/icons/lang-18.svg" alt="img" class="img-fluid">
                        <h6>Botswana</h6>
                    </div>
                </div>
            </div>
            <!-- end row -->

        </div>
    </section>
    <!-- /Countries Section -->

