{% load static %}
                <div class="offcanvas-info">
                    <div class="offcanvas-wrap">
                        <div class="offcanvas-detail">
                            <div class="offcanvas-head">
                                <div class="d-flex justify-content-between align-items-center mb-3">
                                    <a href="index.php" class="black-logo-responsive">
                                        <img src="{% static 'assets/img/logo02.png'%}" alt="logo-img">
                                    </a>
                                    <a href="index.php" class="white-logo-responsive">
                                        <img src="{% static 'assets/img/logo02.png'%}" alt="logo-img">
                                    </a>
                                    <div class="offcanvas-close">
                                        <i class="ti ti-x"></i>
                                    </div>
                                </div>
                                <div class="wishlist-info d-flex justify-content-between align-items-center">
                                    <h6 class="fs-16 fw-medium">Wishlist</h6>
                                    <div class="d-flex align-items-center">
                                        <div class="fav-dropdown">
                                            <a href="wishlist.html" class="position-relative">
                                                <i class="isax isax-heart"></i><span class="count-icon bg-secondary text-gray-9">0</span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="mobile-menu fix mb-3"></div>
                            <div class="offcanvas__contact">
                                <div class="mt-4">
                                    <div class="header-dropdown d-flex flex-fill">
                                        <div class="w-100">
                                            <div class="dropdown">
                                            llll
                                            </div>
                                        </div>
                                    </div>
                                    <!--
                                    <div>
                                            <a href="javascript:void(0);" class="text-white btn btn-dark w-100 mb-3" data-bs-toggle="modal" data-bs-target="#login-modal">
                                            Sign In
                                            </a>
                                    </div>
                                -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
