{% load static %}

                                <li class="has-submenu mega-innermenu">
                                    <a href="javascript:void(0);"><img src="{% static 'assets/img/mainnav1.png' %}"  width="96" height="136"><i class="fa-solid fa-angle-down"></i></a>
                                    <ul class="submenu mega-submenu">
                                        <li>
                                            <div class="megamenu-wrapper">
                                                <div class="row">
                                                    <div class="col-lg-6">
                                                        <ul>
                                                            <li><a href="{% url 'main:geography'  %}" target="_blank">भूगोल</a></li>
                                                            <li><a href="{% url 'main:history'  %}" target="_blank">इतिहास</a></li>
                                                            <li><a href="{% url 'main:art_culture'  %}" target="_blank">कला_संस्कृति</a></li>
                                                            <li><a href="{% url 'main:constituencies'  %}" target="_blank">निर्वाचन क्षेत्र</a></li>
                                                            <li><a href="{% url 'main:constituencies'  %}" target="_blank">निर्वाचन क्षेत्र</a></li>
                                                            <li><a href="{% url 'main:demography'  %}" target="_blank">जनसांख्यिकी</a></li>
                                                            <li><a href="{% url 'main:dprofile'  %}" target="_blank">डीप्रोफाइल</a></li>
                                                        </ul>
                                                    </div>
                                                    <div class="col-lg-6">
                                                        <div class="menu-img">
                                                            <img src="{% static 'assets/img/rajsamandmap.png' %}" alt="img" class="img-fluid">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </li>
                                <li class="has-submenu mega-innermenu">
                                    <a href="javascript:void(0);"><img src="{% static 'assets/img/mainnav2.png' %}"/  width="96" height="16"><i class="fa-solid fa-angle-down"></i></a>
                                    <ul class="submenu mega-submenu">
                                        <li>
                                            <div class="megamenu-wrapper">
                                                <div class="row">
                                                    <div class="col-lg-6">
                                                        <ul>

                                                            <li><a href="{% url 'main:whoiswho'  %}" target="_blank">कौन कौन है</a></li>
                                                            <li><a href="{% url 'main:representatives'  %}" target="_blank">प्रतिनिधि</a></li>
                                                            <li><a href="{% url 'main:disadmin'  %}" target="_blank">जिला प्रशासन</a></li>
                                                            <li><a href="{% url 'main:districtstructure'  %}" target="_blank">जिला संरचना</a></li>
                                                            <li><a href="{% url 'main:departments'  %}" target="_blank">विभाग</a></li>
                                                            <li><a href="{% url 'main:stateoffices'  %}" target="_blank">राज्य कार्यालय</a></li>
                                                            <li><a href="{% url 'main:urban'  %}" target="_blank">शहरी</a></li>
                                                            <li><a href="{% url 'main:rural'  %}" target="_blank">ग्रामीण</a></li>

                                <!--
                                <li><a href="acts-rules.php" target="_blank"><i class="fa fa-blog"></i> &nbsp;  <?= _menuli31 ?>  </a></li>
                                -->
                                                        </ul>
                                                    </div>
                                                    <div class="col-lg-6">
                                                        <div class="menu-img">
                                                            <img src="{% static 'assets/img/menu/hotel.jpg' %}" alt="img" class="img-fluid">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </li>
                                <li class="has-submenu mega-innermenu">
                                    <a href="javascript:void(0);"><img src="{% static 'assets/img/mainnav3.png' %}"/  width="96" height="36"><i class="fa-solid fa-angle-down"></i></a>
                                    <ul class="submenu mega-submenu">
                                        <li>
                                            <div class="megamenu-wrapper">
                                                <div class="row">
                                                    <div class="col-lg-6">
                                                        <ul>
                                                            <li><a href="{% url 'main:events'  %}" target="_blank">आयोजन</a></li>
                                                            <li><a href="{% url 'main:utilities'  %}" target="_blank">उपयोगिताएँ</a></li>
                                                        </ul>
                                                    </div>
                                                    <div class="col-lg-6">
                                                        <div class="menu-img">
                                                            <img src="{% static 'assets/img/menu/car.jpg' %}" alt="img" class="img-fluid">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </li>
                                <li class="has-submenu mega-innermenu">
                                    <a href="javascript:void(0);"><img src="{% static 'assets/img/mainnav4.png' %}"/  width="96" height="36"><i class="fa-solid fa-angle-down"></i></a>
                                    <ul class="submenu mega-submenu">
                                        <li>
                                            <div class="megamenu-wrapper">
                                                <div class="row">
                                                    <div class="col-lg-6">
                                                        <ul>
                                                            <li><a href="{% url 'main:economy'  %}" target="_blank">अर्थव्यवस्था</a></li>
                                                        </ul>
                                                    </div>
                                                    <div class="col-lg-6">
                                                        <div class="menu-img">
                                                            <img src="{% static 'assets/img/menu/cruise.jpg' %}" alt="img" class="img-fluid">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </li>
                                <li class="has-submenu mega-innermenu">
                                    <a href="javascript:void(0);"><img src="{% static 'assets/img/mainnav5.png' %}"/  width="96" height="36"><i class="fa-solid fa-angle-down"></i></a>
                                    <ul class="submenu mega-submenu">
                                        <li>
                                            <div class="megamenu-wrapper">
                                                <div class="row">
                                                    <div class="col-lg-6">
                                                        <ul>
                                                            <li><a href="{% url 'main:howtoreach'  %}" target="_blank">कैसे पहुंचें</a></li>
                                                            <li><a href="{% url 'main:pureslider'  %}" target="_blank">प्योरस्लाइडर</a></li>
                                                        </ul>
                                                    </div>
                                                    <div class="col-lg-6">
                                                        <div class="menu-img">
                                                            <img src="{% static 'assets/img/menu/tour.jpg' %}" alt="img" class="img-fluid">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </li>
                                <li class="has-submenu mega-innermenu">
                                    <a href="javascript:void(0);"><img src="{% static 'assets/img/mainnav6.png' %} "/  width="96" height="36"><i class="fa-solid fa-angle-down"></i></a>
                                    <ul class="submenu mega-submenu">
                                        <li>
                                            <div class="megamenu-wrapper">
                                                <div class="row">
                                                    <div class="col-lg-6">
                                                        <ul>
                                                            <li><a href="{% url 'accounts:userprofile' %}" target="_blank">Django Testing </a></li>
                                                            <li><a href="{% url 'admin:index'  %}" target="_blank">Admin</a></li>
                                                            <li><a href="{% url 'mydjango:lists'  %}" target="_blank">my Django </a></li>
                                                            <li><a href="{% url 'accounts:sample'  %}" target="_blank">Django Testing </a></li>
                                                        </ul>
                                                    </div>
                                                    <div class="col-lg-6">
                                                        <div class="menu-img">
                                                            <img src="{% static 'assets/img/menu/tour.jpg' %}" alt="img" class="img-fluid">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </li>

{% if user.is_authenticated %}
                            <div class="dropdown profile-dropdown">
                                <a href="#" class="d-flex align-items-center" data-bs-toggle="dropdown">
                                    <span class="avatar avatar-md">
{% if user.profile_pic %}
    <img src="{{ user.profile_pic.url }}" alt="User Profile">
{% else %}
    <!-- यहाँ एक डिफ़ॉल्ट अवतार (Placeholder) दिखा दो -->
    <img src="{% static 'assets/img/default-user.png' %}" alt="Default Profile">
{% endif %}
                                    </span>
                                </a>
                                <ul class="dropdown-menu dropdown-menu-end p-3">
                                    <li>
                                        <a class="dropdown-item d-inline-flex align-items-center rounded fw-medium p-2"
                                            href="{% url 'accounts:dashboard' %}">Dashboard</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item d-inline-flex align-items-center rounded fw-medium p-2"
                                            href="{% url 'accounts:userprofile' %}" target="_blank">My Profile</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item d-inline-flex align-items-center rounded fw-medium p-2"
                                            href="{% url 'accounts:invoice' %}" target="_blank">My Invoice</a>
                                    </li>
                                    <li>
                                        <hr class="dropdown-divider my-2">
                                    </li>
                                    <li>
                                        <a class="dropdown-item d-inline-flex align-items-center rounded fw-medium p-2"
                                            href="profile-settings.html">Settings</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item d-inline-flex align-items-center rounded fw-medium p-2"
                                            href="login.html">Logout</a>
                                    </li>
                                </ul>
                            </div>
{% endif %}