                         <div class="header-btn align-items-center">
                            <div class="dropdown me-3">
                                    <p>..</p>

                            </div>
                            <div class="me-3">
                                <a href="#">
                                    <i class="isax isax-user"></i>
                                </a>
                            </div>
                            <div class="fav-dropdown  me-3">
                                <a href="#" class="position-relative">
                                    <i class="isax isax-heart"></i><span class="count-icon bg-secondary text-gray-9">0</span>
                                </a>
                            </div>
                            <div>

<!--
                                    <div><a href="javascript:void(0);" class="text-white btn btn-dark w-100 mb-3" data-bs-toggle="modal" data-bs-target="#login-modal">Sign In</a></div>

                                <a href="javascript:void(0);" class="text-white btn btn-dark w-100 mb-2" data-bs-toggle="modal" data-bs-target="#register-modal">Sign In</a>

-->

                            </div>
                        </div>
