{% load static %}
{% include 'header.html' %}

                      <!--begin::Section-->
          <section class="section blog-section blog-sec-six lang hi active">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-12 wow fadeInUp" data-wow-delay="0.2s">
                    <div class="section-header-six">
                        <h2>खनिज संसाधन<span class="text-primary">.</span></h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">

                                            <!--begin::Table-->
                            <div class="custom-datatable-filter table-responsive">
                                <table class="table table-bordered table-striped datatable">
                                               <thead>
                                                    <tr>
                                                        <th class=''>## </th>
                                                        <th class=''>खनिज </th>
                                                        <th class='min-w-125px'>उत्पादन क्षेत्र</th>
                                                    </tr>
                                                </thead>
                                                <tbody>


                            <tr>
                                <td> 1. </td>
                                <td> मैंगनीज </td>
                                <td> नाथद्वारा </td>
                            </tr>
                            <tr>
                                <td> 2.  </td>
                                <td> डोलोमाइट  </td>
                                <td> राजसमन्द  </td>
                            </tr>
                            <tr>
                                <td> 3.  </td>
                                <td> पन्ना , हरी अग्नि / Emrald   </td>
                                <td> ग़मगुढा, नाथद्वारा </td>
                            </tr>
                            <tr>
                                <td> 4.  </td>
                                <td> सीसा जस्ता </td>
                                <td> राजपुरा दरीबा , बामनिया कलां </td>
                            </tr>
                            <tr>
                                <td> 5.   </td>
                                <td> एस्बेस्टस   </td>
                                <td> गुढा, तिबी, नाथद्वारा, घंटिगला  </td>
                            </tr>
                            <tr>
                                <td> 6.  </td>
                                <td> संगमरमर </td>
                                <td> आमेट, केलवा, मोरवड , राजनगर, तलाई आदि  </td>
                            </tr>
                            <tr>
                                <td> 7.  </td>
                                <td> तांबा </td>
                                <td>  </td>
                            </tr>

                            <tr>
                                <td> 8.  </td>
                                <td> बैराईटस </td>
                                <td> देलवाडा-केसुली-नाथद्वारा बेल्ट </td>
                            </tr>
                            <tr>
                                <td> 9.  </td>
                                <td> डोलोमाइट </td>
                                <td> सीमल, हल्दीघाटी, ओडण -लाल मादडी , घोडाच, नेडच, करोली-कसोली  आदि  </td>
                            </tr>
                            <tr>
                                <td> 10. </td>
                                <td> फेल्सपार </td>
                                <td> </td>
                            </tr>
                            <tr>
                                <td> 11. </td>
                                <td> पन्ना </td>
                                <td> ग़म गुढा से अजमेर तक  </td>
                            </tr>
							
							
				  </tbody>
                       			</table>
                            </div>

                </div>
            </div>
        </div>
    </section>

                  <!--end::Row-->


                      <!--begin::Section-->
          <section class="section blog-section blog-sec-six lang en">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-12 wow fadeInUp" data-wow-delay="0.2s">
                    <div class="section-header-six">
                        <h2>Geography<span class="text-primary">.</span></h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">

                                            <!--begin::Table-->
                            <div class="custom-datatable-filter table-responsive">
                                <table class="table table-bordered table-striped datatable">


                                               <thead>
                                                    <tr>
                                                        <th class=''>## </th>
                                                        <th class=''> Mineral  </th>
                                                        <th class='min-w-125px'> Production area </th>
                                                    </tr>
                                                </thead>

<tbody>

<tr> 
<td> 1. </td> 
<td> Manganese </td>
<td> Nathdwara </td>
</tr>

<tr>

<td> 2. </td>

<td> Dolomite </td>

<td> Rajsamand </td>

</tr>

<tr>
<td> 3. </td>
<td> Emerald, Green Fire / Emrald </td>
<td> Ghamgudha, Nathdwara </td>
</tr>

<tr>
<td> 4. </td>
<td> Lead Zinc </td>

<td> Rajpura Dariba, Bamnia Kalan </td>

</tr>

<tr>

<td> 5. </td>

<td> Asbestos </td>

<td> Gudha, Tibi , Nathdwara, Ghantgla </td>
</tr>
<tr>
<td> 6. </td>
<td> Marble </td>
<td> Amet, Kelva, Morvad, Rajnagar, Talai etc. </td>
</tr>
<tr>
<td > 7. </td>
<td> Copper </td>
<td> </td>
</tr>

<tr>
<td> 8. </td>
<td> Barytes </td>
<td> Delvada -Kesuli-Nathdwara belt </td>

<tr>

<tr>

<td> 9. </td>

<td> Dolomite </td>

<td> Simal, Haldighati, Odan -Lal Maddi, Ghodach, Nedach, Karoli -Kasoli etc. </td>

</tr>
<tr>

<td> 10. </td>

<td> Feldspar </td>

<td> </td>

</tr>

<tr>

<td> 11. </td>

<td> Emerald </td >

<td> From Gham Gudha to Ajmer

</td>

</tr>

</tbody>
                                </table>
                            </div>

                </div>
            </div>
        </div>
    </section>

                  <!--end::Row-->


{% include 'footerr.html' %}
