{% load static %}
{% include 'header.html' %}


											<!--begin::Section-->
          <section class="section blog-section blog-sec-six lang hi active">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-12 wow fadeInUp" data-wow-delay="0.2s">
                    <div class="section-header-six">
                        <h2> चित्र शैलियाँ <span class="text-primary">.</span></h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    
                    <div class='card shadow-none blog-grid-six'>
                        <div class='row align-items-center'>
                            <div class='col-md-6 d-flex'>
                                <div class='card-img flex-fill'>
                                    <a href='#'>
                                        <img src="{% static 'assets/img/mewad.jpg' %}" class='rounded w-100 h-100' alt='Img'>
                                    </a>
                                    <span class='badge bg-primary'>...</span>
                                </div>
                            </div>
                            <div class='col-md-6 d-flex'>
                                <div class='card-body ps-md-0 flex-fill'>
                                    <h5 class='mb-2'><a href='#'>  मेवाड़ या उदयपुर शैली</a></h5>
                <p class='mb-4 text-truncatee line-clamb-3'>                                                                             
                                                                उदयपुर शैली राजस्थान की मूल एवं सबसे प्राचीन शैली है।
उदयपुर शैली का स्वर्णकाल जगत सिंह प्रथम के काल को माना जाता है।
उदयपुर शैली का विकास महाराणा कुंभा के शासन काल में शुरू हुआ था।
कलिला-दमना उदयपुर शैली के दो पात्र है।
जगत सिंह प्रथम ने राजमहल में चितेरों की ओवरी ( तस्वीरों रो कारखानों ) नाम से चित्रकला का विद्यालय खोला था।
मेवाड़ चित्रकला शैली को सुव्यवस्थित रूप देने का श्रेय महाराजा जगत सिंह को दिया जाता है, महाराजा जगत सिंह के काल में मेवाड़ में रसिकप्रिया, रागमाला, गीत गोविंद जैसे विषय लघु चित्रों पर चित्रण हुआ।
साहिबद्दीन व मनोहर उदयपुर शैली के प्रमुख चित्रकार है।
1605 में मेवाड़ के महाराणा अमर सिंह प्रथम के समय चित्रित रागमाला का चित्रकार नसीरुद्दीन का संबंध मेवाड़ शैली से है।
वर्तमान में इस चित्रित रागमाला का चित्र दिल्ली के अजायबघर में सुरक्षित है। 
मेवाड़ चित्रकला का शुरुआती उदाहरण रागमाला प्रसिद्ध श्रंखला से उत्पन्न हुआ। 
उदयपुर शैली के प्रमुख कलाकार - मनोहर, साहिबद्दीन, कृपाराम, उमरा। 
उदयपुर शैली के प्रमुख रंग - पीला और लाल रंग प्रधान। लाल व पीले सादा पट्टियों से चित्रित : हाशिये।
उदयपुर शैली के प्रमुख चित्रित ग्रंथ - मेवाड़ शैली का प्रथम चित्रित ग्रंथ श्रावक प्रतिक्रमण सूत्र चूर्णी का चित्रण 1260 में रावल तेज सिंह के समय आहड़ में हुआ था। इस शैली के प्रमुख चित्र सुपासनाह चरितम।, रामायण, शूकर क्षेत्र महात्म्य, गीतगोविंद आख्यायिका आदि है।
उदयपुर शैली के प्रमुख विषय - नायक नायिका भेद, रागमाला, लीलाओं का चित्रण, बारहमासा आदि प्रधान विषय है।
उदयपुर शैली में पुरुष आकृति एवं वेशभूषा - लंबी मूछें, छोटा कद, गठीला शरीर, विशाल नयन, कपोल तक जुल्फे। सिर पर पगड़ी, लंबा घेरदार जामा, कमर में पटका, कानों में मोती।
उदयपुर शैली में नारी आकृति - ओज, उदास व सरल भाव लिए चेहरे, गरुड़ के समान सीधी लंबी नाक, कमल आंखें, भरी हुई दोहरी चिबुक, चिबुक पर तिल, ठिगना कद, लंबी वेणी, पारदर्शी ओढ़नी एवं लहंगा। भौंहे नीम के पत्ते भांति।
 उदयपुर शैली की अन्य विशेषताएं: -
बादल से युक्त नीला आकाश।
गुर्जर व जैन शैली से प्रभावित।
कदंब वृक्ष व हाथी का चित्रण प्रधान।
पोथी ग्रंथों का अधिक चित्रण।
महाराणा अमर सिंह प्रथम के समय से मेवाड़ शैली पर मुगल प्रभाव आने लगा।
यह राजस्थान चित्रकला की मूल शैली मानी जाती है। 
कोयल, सारस व मछलियों से युक्त भरपूर प्रकृति चित्रण।

                                                                
                </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    


                    <div class='card shadow-none blog-grid-six'>
                        <div class='row align-items-center'>
                            <div class='col-md-6 d-flex'>
                                <div class='card-img flex-fill'>
                                    <a href='#'>
                                        <img src="{% static 'assets/img/Nathdwara.jpg' %}" class='rounded w-100 h-100' alt='Img'>
                                    </a>
                                    <span class='badge bg-primary'>...</span>
                                </div>
                            </div>
                            <div class='col-md-6 d-flex'>
                                <div class='card-body ps-md-0 flex-fill'>
                                    <h5 class='mb-2'><a href='#'> नाथद्वारा (राजसमंद) शैली  </a></h5>
                                
                                <p class='mb-4 text-truncatee line-clamb-3'>                                                            
                                                            नाथद्वारा शैली को वल्लभ शैली भी कहा जाता है।
नाथद्वारा शैली के प्रमुख महाराजा - नाथद्वारा शैली का प्रारंभ एवं स्वर्णकाल राजसिंह के शासनकाल को माना जाता है।
नाथद्वारा शैली के प्रमुख कलाकार - घासीराम, उदयराम, नारायण, चतुर्भुज।
नाथद्वारा शैली के प्रमुख चित्रित ग्रन्थ एवं विषय - कृष्ण चरित्र की बहुलता के कारण माता यशोदा, बाल ग्वाल, नंद, गोपियां आदि का चित्रण विशेष तौर पर हुआ है। इस शैली में श्रीनाथजी के विग्रह के चित्र प्रमुखत: बने हैं।
नाथद्वारा शैली के प्रमुख रंग - हरे एवं पीले रंग का अधिक प्रयोग हुआ है। पृष्ठभूमि में नींबुआ पीला रंग प्रयुक्त हुआ है।
नाथद्वारा शैली में पुरुष आकृति एवं वेशभूषा - नाथद्वारा शैली में पुरुषों में गुसाइयों के पुष्ट कलेवर, नंद और अन्य बाल गोपालो का भावपूर्ण चित्रण हुआ है।
नाथद्वारा शैली में नारी आकृति - नाथद्वारा शैली में स्त्रियों की आकृति में प्रौढ़ता, छोटा कद, तिरछी व चकोर के समान आंखें, छोटा कद, शारीरिक स्थूलता और भावों में वात्सल्य की झलक देखने को मिलती है। 

गायों का मनोरम अंकन।
पृष्ठभूमि में सघन वनस्पति।
पिछवाई व भित्ति चित्रण प्रमुख विशेषता।
केंद्रीय आकृति प्राय: श्रीनाथजी की काली नील कांटी के रंग से अंकित।
आसमान में देवताओं का अंकन।
केले के वृक्ष की प्रधानता।
इसका उद्भव व विकास नाथद्वारा में श्रीनाथजी के स्वरूप की स्थापना के बाद से ही माना जाता है।
                                </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    


                    <div class='card shadow-none blog-grid-six'>
                        <div class='row align-items-center'>
                            <div class='col-md-6 d-flex'>
                                <div class='card-img flex-fill'>
                                    <a href='#'>
                                        <img src="{% static 'assets/img/mewad.jpg' %}" class='rounded w-100 h-100' alt='Img'>
                                    </a>
                                    <span class='badge bg-primary'>...</span>
                                </div>
                            </div>
                            <div class='col-md-6 d-flex'>
                                <div class='card-body ps-md-0 flex-fill'>
                                    <h5 class='mb-2'><a href='#'> देवगढ़ शैली</a></h5>
                                <p class='mb-4 text-truncatee line-clamb-3'>                                                            
                                                            देवगढ़ शैली के प्रमुख कलाकार - चोखा, कंवला, बैजनाथ।
देवगढ़ शैली के प्रमुख चित्रित ग्रंथ एवं विषय - प्राकृतिक परिवेश, अंत:पुर, राजसी ठाठबाट, शिकार के दृश्य, श्रंगार, सवारी आदि का चित्र इस शैली का प्रमुख विषय रहा है।
देवगढ़ शैली के प्रमुख रंग - देवगढ़ शैली में पीले रंग का बाहुल्य है।
 देवगढ़ शैली की विशेषताएं:-
यह शैली मारवाड़, जयपुर व मेवाड़ की समन्वित शैली है।
इस शैली में मोटी और सधी हुई रेखा हैं।
सर्वप्रथम डॉक्टर श्रीधर अंधारे ने इस शैली को प्रकाशमान किया था।

                                                                                             </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    




                </div>
            </div>
        </div>
    </section>

									<!--end::Row-->


                                            <!--begin::Section-->
           <section class="section blog-section blog-sec-six lang en">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-12 wow fadeInUp" data-wow-delay="0.2s">
                    <div class="section-header-six">
                        <h2>Paintings<span class="text-primary">.</span></h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    
                    <div class='card shadow-none blog-grid-six'>
                        <div class='row align-items-center'>
                            <div class='col-md-6 d-flex'>
                                <div class='card-img flex-fill'>
                                    <a href='#'>
                                        <img src="{% static 'assets/img/mewad.jpg' %}" class='rounded w-100 h-100' alt='Img'>
                                    </a>
                                    <span class='badge bg-primary'>...</span>
                                </div>
                            </div>
                            <div class='col-md-6 d-flex'>
                                <div class='card-body ps-md-0 flex-fill'>
                                    <h5 class='mb-2'><a href='#'> Mewar or Udaipur style </a></h5>
                <p class='mb-4 text-truncatee line-clamb-3'>                                                                             
Udaipur style is the original and most ancient style of Rajasthan.
The golden age of Udaipur style is considered to be the period of Jagat Singh I.
The development of the Udaipur style began during the reign of Maharana Kumbha.
Kalila-Damna are two characters of Udaipur style.
Jagat Singh I opened a school of painting in the Rajmahal named Chitron ki Owari (pictures row factories).
Maharaja Jagat Singh is credited for giving a systematic form to the Mewar painting style, during the period of Maharaja Jagat Singh subjects like Rasikpriya, Ragamala, Geet Govind were depicted on miniature paintings in Mewar.
Sahibuddin and Manohar are the main painters of Udaipur style.
Naseeruddin, the painter of the ragamala painted during the time of Maharana Amar Singh I of Mewar in 1605, belongs to the Mewar style.
Presently the picture of this painted ragmala is safe in the museum of Delhi.
The earliest example of Mewar painting originated from the famous series Ragamala.
Prominent artists of Udaipur style - Manohar, Sahibuddin, Kriparam, Umra.
Major colors of Udaipur style - yellow and red color predominant. Painted with red and yellow plain stripes: Margins.
Major painted texts of Udaipur style - Shravak Pratikraman Sutra Churni, the first painted text of Mewar style, was painted in 1260 at Ahar during the time of Rawal Tej Singh. The main paintings of this genre are Supasanah Charitam, Ramayana, Sukar Kshetra Mahatmya, Gitagovinda Akhyayika etc.
The main subjects of Udaipur style are the distinction between hero and heroine, ragamala, depiction of pastimes, perennial etc.
Male figure and costume in Udaipur style - long moustache, short stature, stocky body, huge eyes, hair up to the cheekbones. Turban on the head, long hooped coat, belt in the waist, pearls in the ears.
Female figure in Udaipur style - ojas, sad and simple face, straight long nose like Garuda, lotus eyes, full double cheek, mole on cheek, short stature, long braid, transparent veil and lehenga. The eyebrows are like neem leaves.
  Other Features of Udaipur Style:-
Blue sky with clouds.
Influenced by Gurjar and Jain style.
The depiction of Kadamba tree and elephant is predominant.
More illustration of pothi texts.
From the time of Maharana Amar Singh I, the Mughal influence started coming on the Mewar style.
This is considered to be the original style of Rajasthan painting.
Rich nature illustration with cuckoo, stork and fishes.
                                                                
                </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    


                    <div class='card shadow-none blog-grid-six'>
                        <div class='row align-items-center'>
                            <div class='col-md-6 d-flex'>
                                <div class='card-img flex-fill'>
                                    <a href='#'>
                                        <img src="{% static 'assets/img/Nathdwara.jpg' %}" class='rounded w-100 h-100' alt='Img'>
                                    </a>
                                    <span class='badge bg-primary'>...</span>
                                </div>
                            </div>
                            <div class='col-md-6 d-flex'>
                                <div class='card-body ps-md-0 flex-fill'>
                                    <h5 class='mb-2'><a href='#'> Nathdwara (Rajsamand) style </a></h5>
                                
                                <p class='mb-4 text-truncatee line-clamb-3'>                                                            
Chief king of Nathdwara style - The beginning and golden period of Nathdwara style is considered to be the reign of Raj Singh.
Prominent artists of Nathdwara style - Ghasiram, Udayaram, Narayan, Chaturbhuj.
Main painted texts and subjects of Nathdwara style - Due to the multiplicity of Krishna character, the depiction of Mata Yashoda, Bal Gwal, Nand, Gopis etc. has been done specially. In this style the pictures of Shrinathji's Deity are mainly made.
The main colors of Nathdwara style - green and yellow have been used more. Lemon yellow color has been used in the background.
Male figure and costumes in Nathdwara style - In the Nathdwara style, there is a soulful depiction of Gusai's athletic body, Nanda and other Bal Gopalas in men.
Female figure in Nathdwara style - In the figure of women in Nathdwara style maturity, short stature, eyes like tirchi and square, short stature, physical stoutness and a glimpse of affection can be seen in expressions.

Delectable marking of cows.
Dense vegetation in the background.
Pichhwai and mural painting are the main features.
The central figure is often marked with the color of Shrinathji's black indigo thorn.
Marking of the gods in the sky.
dominance of the banana tree.
Its origin and development is considered only after the establishment of Shrinathji's form in Nathdwara.
                                </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    


                    <div class='card shadow-none blog-grid-six'>
                        <div class='row align-items-center'>
                            <div class='col-md-6 d-flex'>
                                <div class='card-img flex-fill'>
                                    <a href='#'>
                                        <img src="{% static 'assets/img/fairgangor.jpg' %}" class='rounded w-100 h-100' alt='Img'>
                                    </a>
                                    <span class='badge bg-primary'>...</span>
                                </div>
                            </div>
                            <div class='col-md-6 d-flex'>
                                <div class='card-body ps-md-0 flex-fill'>
                                    <h5 class='mb-2'><a href='#'> Deogarh style</a></h5>
                                <p class='mb-4 text-truncatee line-clamb-3'>                                                            
Prominent artists of Deogarh style - Chokha, Kanwala, Baijnath.
Major painted texts and subjects of Deogarh style - natural environment, interior, majestic glamour, hunting scenes, decorations, riding etc. have been the main subjects of this style.
Major colors of Deogarh style - Yellow is the predominant color in Deogarh style.
  Features of Deogarh style:-
This style is the coordinated style of Marwar, Jaipur and Mewar.
This style has thick and clean lines.
Dr. Sridhar Andhare first illuminated this style.

                                                                                             </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    

                </div>
            </div>
        </div>
    </section>

                                    <!--end::Row-->


{% include 'footerr.html' %}
