{% load static %}
{% include 'header.html' %}


                      <!--begin::Section-->
          <section class="section blog-section blog-sec-six lang hi active">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-12 wow fadeInUp" data-wow-delay="0.2s">
                    <div class="section-header-six">
                        <!--<span class="badge badge-soft-primary rounded-pill mb-1">Recent Blog</span>-->
                        <h2>राजसमन्द जिले का भौतिक स्वरुप<span class="text-primary"></span></h2>
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-md-12">

                                            <!--begin::Table-->
                            <div class="custom-datatable-filter table-responsive">
                                <table class="table table-bordered table-striped datatable">
				  <thead>
							<tr>
                                <th> विषय   </th>
                                <th> विवरण </th>
                                <th> विविध </th>
                            </tr>
				  </thead>
				  <tbody>
                            <tr>
                                <td> अक्षांशीय स्थिति </td>
                                <td> 24 डिग्री  46' से 26 डिग्री  01' </td>
								<td> <img src="{%  static 'assets/img/geo/ '%}" alt='' /> </td>
                            </tr>
                            <tr>
                                <td> देशान्तरीय स्थिति </td>
                                <td> 73 डिग्री  28'  से 74 डिग्री  18' </td>
								<td> <img src="{%  static 'assets/img/geo/ '%}" alt='' /> </td>
                            </tr>
                            <tr>
                                <td> पूर्व दिशा में जिला -- </td>
                                <td> चित्तौड़गढ़, भीलवाडा </td>
								<td>  
										<img src="{% static 'assets/img/mapchittorgarh.png' %}"  width='48' height='48'> --------- 
										<img src="{% static 'assets/img/mapbhilwara.png' %}"  width='48' height='48'> --------- 
								</td>
                            </tr>
                            <tr>
                                <td> दक्षिण दिशा में जिला -- </td>
                                <td> उदयपुर  </td>
								<td> 
                                		<img src="{% static 'assets/img/mapudaipur.png' %}"  width='48' height='48'> --------- 
                                </td>
                            </tr>
                            <tr>
                                <td> पश्चिम दिशा में जिला -- </td>
                                <td> पाली  </td>
								<td> <img src="{% static 'assets/img/mappali.png' %}"  width='48' height='48'> --------- </td>
                            </tr>
                            <tr>
                                <td> उत्तर दिशा में जिला -- </td>
                                <td> अजमेर  </td>
								<td>  <img src="{% static 'assets/img/mapajmer.png' %}"  width='48' height='48'> ---------   </td>
                            </tr>
				  </tbody>
                                  </table>
                            </div>

                </div>
            </div>

<br />

            <h4 class='text-warning'>अरावली पर्वतीय प्रदेश </h4>
<p class='text-lg text-danger'> भारत देश के उत्तर-पश्चिमी भाग में स्थित एक पर्वतमाला है। जिसे राजस्थान में आडावाला पर्वत के नाम से भी जाना जाता है,भारत की भौगोलिक संरचना में अरावली प्राचीनतम वलित पर्वत श्रेणी है,जो दुनिया की सबसे 
प्राचीनतम (गोडवाना लेंड ) पर्वत श्रेणी है। यह श्रृंखला राजस्थान राज्य को उत्तर से दक्षिण दो भागों में बांटती है। इसकी उत्पत्ति प्रिकेंबियन युग (45000 लाख वर्ष ) में हुई।। अरावली का सर्वोच्च पर्वत शिखर सिरोही जिले में गुरुशिखर (1722 /1727 मी.) है, 
जो माउंट आबू(सिरोही) में है।             
</p>


        </div>
          </section>

                  <!--end::Row-->



                  <!--end::Row-->

{% include 'footerr.html' %}



