{% load static %}
{% include 'header.html' %}


   <!-- Page Wrapper -->
    <div class="content  lang hi active">
        <div class="container">
            

            <div class="row justify-content-center">
                <div class="col-md-12 wow fadeInUp" data-wow-delay="0.2s">
                    <div class="section-header-six">
                        <h2> जनप्रतिनिधिगण<span class="text-primary">.</span></h2>
                    </div>
                </div>
            </div>

            <div class="row justify-content-center row-gap-5">




                <div class='col-xxl-3 col-lg-4 col-md-6 col-sm-12'>
                    <div class='card team'>
                        <div class='card-body'>
                            <a href='#'>
                                <img src="{% static 'assets/img/mkm.jpg' %}" class='img-fluid' alt='Img'>
                            </a>
                        </div>
                        <div class='team-member rounded-pill text-center shadow'>
                            <h5><a href='#'>श्रीमती महिमा कुमारी </a></h5>
                            <p>सांसद,  संसदीय क्षेत्र - राजसमन्द</p>
                        </div>
                    </div>
                </div>
                <!-- Team Members -->

                <!-- Team Members -->
                <div class='col-xxl-3 col-lg-4 col-md-6 col-sm-12'>
                    <div class='card team'>
                        <div class='card-body'>
                            <a href='#'>
                                <img src="{% static 'assets/img/hsr.jpg' %}" class='img-fluid' alt='Img'>
                            </a>
                        </div>
                        <div class='team-member rounded-pill text-center shadow'>
                            <h5><a href='#'> श्री हरिसिंह रावत</a></h5>
                            <p class='fs-16'>विधायक - भीम विधानसभा क्षेत्र</p>
                        </div>
                    </div>
                </div>
                <!-- Team Members -->

                <!-- Team Members -->
                <div class='col-xxl-3 col-lg-4 col-md-6 col-sm-12'>
                    <div class='card team'>
                        <div class='card-body'>
                            <a href='#'>
                                <img src="{% static 'assets/img/ssr.jpg' %}" class='img-fluid' alt='Img'>
                            </a>
                        </div>
                        <div class='team-member rounded-pill text-center shadow'>
                            <h5><a href='#'>श्री सुरेन्द्र सिंह राठौड़ </a></h5>
                            <p class='fs-16'>         विधायक - कुम्भलगढ़ विधानसभा क्षेत्र </p>
                        </div>
                    </div>
                </div>
                <!-- Team Members -->

                <!-- Team Members -->
                <div class='col-xxl-3 col-lg-4 col-md-6 col-sm-12'>
                    <div class='card team'>
                        <div class='card-body'>
                            <a href='#'>
                                <img src="{% static 'assets/img/vrsm.jpg' %}" class='img-fluid' alt='Img'>
                            </a>
                        </div>
                        <div class='team-member rounded-pill text-center shadow'>
                            <h5><a href='#'>श्री विश्वराज सिंह मेवाड़</a></h5>
                            <p class='fs-16'>   विधायक - नाथद्वारा विधानसभा क्षेत्र  </p>
                        </div>
                    </div>
                </div>
                <!-- Team Members -->

                <!-- Team Members -->
                <div class='col-xxl-3 col-lg-4 col-md-6 col-sm-12'>
                    <div class='card team'>
                        <div class='card-body'>
                            <a href='#'>
                                <img src="{% static 'assets/img/dkm.jpg' %}" class='img-fluid' alt='Img'>
                            </a>
                        </div>
                        <div class='team-member rounded-pill text-center shadow'>
                            <h5><a href='#'>श्रीमती दीप्ति माहेश्वरी</a></h5>
                            <p class='fs-16'> विधायक - राजसमन्द  विधानसभा क्षेत्र</p>
                        </div>
                    </div>
                </div>
                <!-- Team Members -->


                <!-- Team Members -->

                <!-- Team Members -->

            </div>
        </div>
    </div>
    <!-- /Page Wrapper -->

    <!-- Footer -->


   <!-- Page Wrapper -->
    <div class="content lang en">
        <div class="container">
            

            <div class="row justify-content-center">
                <div class="col-md-12 wow fadeInUp" data-wow-delay="0.2s">
                    <div class="section-header-six">
                        <h2> Representatives<span class="text-primary">.</span></h2>
                    </div>
                </div>
            </div>

            <div class="row justify-content-center row-gap-5">

<div class='col-xxl-3 col-lg-4 col-md-6 col-sm-12'>
  <div class='card team'>
    <div class='card-body'>
      <a href='#'>
                                <img src="{% static 'assets/img/mkm.jpg' %}" class='img-fluid' alt='Img'>
      </a>
    </div>
    <div class='team-member rounded-pill text-center shadow'>
      <h5>
        <a href='#'>Smt. Mahima Kumari </a>
      </h5>
      <p>MP, Parliamentary Constituency - Rajsamand</p>
    </div>
  </div>
</div>
<!-- Team Members -->
<!-- Team Members -->
<div class='col-xxl-3 col-lg-4 col-md-6 col-sm-12'>
  <div class='card team'>
    <div class='card-body'>
      <a href='#'>
                                <img src="{% static 'assets/img/hsr.jpg' %}" class='img-fluid' alt='Img'>
      </a>
    </div>
    <div class='team-member rounded-pill text-center shadow'>
      <h5>
        <a href='#'>Harisingh Rawat</a>
      </h5>
      <p class='fs-16'>MLA - Bhim Assembly Constituency</p>
    </div>
  </div>
</div>
<!-- Team Members -->
<!-- Team Members -->
<div class='col-xxl-3 col-lg-4 col-md-6 col-sm-12'>
  <div class='card team'>
    <div class='card-body'>
      <a href='#'>
                                <img src="{% static 'assets/img/ssr.jpg' %}"' class='img-fluid' alt='Img'>
      </a>
    </div>
    <div class='team-member rounded-pill text-center shadow'>
      <h5>
        <a href='#'>Shri Surendra Singh Rathore </a>
      </h5>
      <p class='fs-16'>MLA - Kumbhalgarh Assembly Constituency </p>
    </div>
  </div>
</div>
<!-- Team Members -->
<!-- Team Members -->
<div class='col-xxl-3 col-lg-4 col-md-6 col-sm-12'>
  <div class='card team'>
    <div class='card-body'>
      <a href='#'>
                                <img src="{% static 'assets/img/vrsm.jpg' %}"' class='img-fluid' alt='Img'>
      </a>
    </div>
    <div class='team-member rounded-pill text-center shadow'>
      <h5>
        <a href='#'>Shri Vishwaraj Singh Mewar</a>
      </h5>
      <p class='fs-16'>MLA - Nathdwara Assembly Constituency </p>
    </div>
  </div>
</div>
<!-- Team Members -->
<!-- Team Members -->
<div class='col-xxl-3 col-lg-4 col-md-6 col-sm-12'>
  <div class='card team'>
    <div class='card-body'>
      <a href='#'>
                                <img src="{% static 'assets/img/dkm.jpg' %}" class='img-fluid' alt='Img'>
      </a> div> <div class='team-member rounded-pill text-center shadow'>
        <h5>
          <a href='#'>Mrs. Deepti Maheshwari</a>
        </h5>
        <p class='fs-16'> MLA - Rajsamand Assembly Constituency</p>
      </div>
    </div>
    <!-- Team Members -->

                <!-- Team Members -->

                <!-- Team Members -->

            </div>
        </div>
    </div>
    <!-- /Page Wrapper -->

    <!-- Footer -->


{% include 'footerr.html' %}
