{% load static %}
{% include 'header.html' %}

											<!--begin::Section-->
        <section class="section blog-section blog-sec-six lang hi active">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-12 wow fadeInUp" data-wow-delay="0.2s">
                    <div class="section-header-six">
                        <h2> नदियाँ एवं झीलें <span class="text-primary">.</span></h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    
                    <div class='card shadow-none blog-grid-six'>
                        <div class='row align-items-center'>
                            <div class='col-md-6 d-flex'>
                                <div class='card-img flex-fill'>
                                    <a href='#'>
                                        <img src="{% static 'assets/img/banas1.jpg' %}" class='rounded w-100 h-100' alt='Img'>
                                    </a>
                                    <span class='badge bg-primary'>...</span>
                                </div>
                            </div>
                            <div class='col-md-6 d-flex'>
                                <div class='card-body ps-md-0 flex-fill'>
                                    <h5 class='mb-2'><a href='#'>बनास / वर्नाशा नदी </a></h5>
                                <p class='mb-4 text-truncatee line-clamb-3'>                                                                                                                            बनास नदी का उद्गम राजसमंद जिले की खमनौर की पहाडिय़ों से होता है। बींगोद (भीलवाड़ा) में बनास नदी में मेनाल व बेड़च मिलकर ‘त्रिवेणी संगम’ बनाती है। इस नदी को वन की आशा, वशिष्ठी, वर्णाशा भी कहते हैं। यह राजस्थान में पूर्ण बहाव की दृष्टि से राज्य की सबसे लम्बी नदी (480 कि.मी.) है। कुछ स्रोतों में बनास की लम्‍बाई 512 किमी. भी मिलती है। सवाईमाधोपुर में रामेश्वरम धाम नामक स्थान पर बनास व सीप चम्बल नदी में मिलकर त्रिवेणी संगम बनाती है।
                                </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    


                    <div class='card shadow-none blog-grid-six'>
                        <div class='row align-items-center'>
                            <div class='col-md-6 d-flex'>
                                <div class='card-img flex-fill'>
                                    <a href='#'>
                                        <img src="{% static 'assets/img/kothari.jpg' %}" class='rounded w-100 h-100' alt='Img'>
                                    </a>
                                    <span class='badge bg-primary'>...</span>
                                </div>
                            </div>
                            <div class='col-md-6 d-flex'>
                                <div class='card-body ps-md-0 flex-fill'>
                                    <h5 class='mb-2'><a href='#'>कोठारी नदी</a></h5>
                                <p class='mb-4 text-truncatee line-clamb-3'>                                                            इसका उद्गम राजसमन्द जिले की दिवेर की पहाडिय़ों (देवगढ़) से होता है। य‍ह नदी भीलवाड़ा जिले में नंदराय गांव के पास बनास नदी में मिलती है। कोठारी नदी की कुल लंबाई 145 किमी. है। कोठारी नदी पर भीलवाड़ा जिले में मेजा बांध बनाया गया है।
                                                            
                                                                                            </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    


                    <div class='card shadow-none blog-grid-six'>
                        <div class='row align-items-center'>
                            <div class='col-md-6 d-flex'>
                                <div class='card-img flex-fill'>
                                    <a href='#'>
                                        <img src="{% static 'assets/img/noimage.jpg' %}" class='rounded w-100 h-100' alt='Img'>
                                    </a>
                                    <span class='badge bg-primary'>...</span>
                                </div>
                            </div>
                            <div class='col-md-6 d-flex'>
                                <div class='card-body ps-md-0 flex-fill'>
                                    <h5 class='mb-2'><a href='#'>खारी नदी</a></h5>
                                <p class='mb-4 text-truncatee line-clamb-3'>                                                            राजसमन्द जिले की बीजराल की पहाडिय़ों (बिजराला गाँव) से खारी नदी का उद्गम होता है। यह नदी राजस्‍थान में राजसमंद, भीलवाड़ा, अजमेर तथा टोंक जिलों में बहती है। टोंक (देवली) के बीसलपुर नामक स्थान पर यह नदी बनास व डाई के साथ मिलकर त्रिवेणी संगम बनाती है।
                                                            </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    


                    <div class='card shadow-none blog-grid-six'>
                        <div class='row align-items-center'>
                            <div class='col-md-6 d-flex'>
                                <div class='card-img flex-fill'>
                                    <a href='#'>
                                        <img src="{% static 'assets/img/noimage.jpg' %}" class='rounded w-100 h-100' alt='Img'>
                                    </a>
                                    <span class='badge bg-primary'>...</span>
                                </div>
                            </div>
                            <div class='col-md-6 d-flex'>
                                <div class='card-body ps-md-0 flex-fill'>
                                    <h5 class='mb-2'><a href='#'>चंद्रभागा नदी  </a></h5>
                                <p class='mb-4 text-truncatee line-clamb-3'>                                                            राजसमन्द में स्थित आमेट तहसील से निकलकर पूर्व में प्रवाहित होती हुयी यह भीलवाडा जिले में जाकर बनास नदी में मिल जाती है | 
                                                            </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    


                </div>
            </div>
        </div>
    </section>

		


{% include 'footerr.html' %}
