{% load static %}
{% include 'header.html' %}


                      <!--begin::Section-->
          <section class="section blog-section blog-sec-six lang hi active">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-12 wow fadeInUp" data-wow-delay="0.2s">
                    <div class="section-header-six">
                        <h2> ग्रामीण<span class="text-primary">.</span></h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">

                                            <!--begin::Table-->
                            <div class="custom-datatable-filter table-responsive">
                                <table class="table datatable" id="myTable">
                  <thead>
							<tr>
                                <th> SNO</th>
                                <th> ब्लॉक / खंड का नाम </th>
                                <th> प्रधान का नाम  </th>
                                <th> ग्राम पंचायतों की संख्या </th>
                                <th> ग्राम पंचायत की सूची  </th>
                                <th> ग्रामों की सूची  </th>
                            </tr>
                  </thead>
                  <tbody>
                    
                            <tr>
                                <th> 1.</th>
                                <td> जिला परिषद् - राजसमन्द  </td>
                                <td> जिला प्रमुख - श्रीमती रतनी देवी </td>
                                <td>  </td>
                                <td>  </td>
                                <td>  </td>
                            </tr>
                            <tr>
                                <th> 2.</th>
                                <td> आमेट  </td>
                                <td> श्रीमती अणसी बाई  </td>
								<td> 20 </td>
                                <td> <a href='ps-amet.php' class=''>  सूची  </a> </td>
                                <td> <a href='ps-amet-villages.php' class=''>  सूची  </a> </td>
                            </tr>
                            <tr>
                                <th> 3.</th>
                                <td> भीम  </td>
                                <td> श्री बीरम   </td>
								<td> 31 </td>
                                <td> <a href='ps-amet.php' class=''>  सूची  </a> </td>
                                <td> <a href='ps-bhim-villages.php' class=''>  सूची  </a> </td>
                            </tr>
                            <tr>
                                <th> 4.</th>
                                <td> देवगढ  </td>
                                <td> श्रीमती कल्पना कँवर </td>
								<td> 20 </td>
                                <td> <a href='ps-amet.php' class=''>  सूची  </a> </td>
                                <td> <a href='ps-devgadh-villages.php' class=''>  सूची  </a> </td>
                            </tr>
                            <tr>
                                <th> 5.</th>
                                <td> कुम्भलगढ़  </td>
                                <td> श्रीमती कमला दसाणा </td>
								<td> 37 </td>
                                <td> <a href='ps-amet.php' class=''>  सूची  </a> </td>
                                <td> <a href='ps-kumbhalgadh-villages.php' class=''>  सूची  </a> </td>
                            </tr>
                            <tr>
                                <th> 6.</th>
                                <td>  देलवाडा  </td>
                                <td> सुश्री कसनी गमेती </td>
								<td> 16 </td>
                                <td> <a href='ps-amet.php' class=''>  सूची  </a> </td>
                                <td> <a href='ps-delwara-villages.php' class=''>  सूची  </a> </td>
                            </tr>
                            <tr>
                                <th> 7.</th>
                                <td>  खमनोर  </td>
                                <td>  श्री भेरुलाल वीरवाल  </td>
								<td> 25 </td>
                                <td> <a href='ps-amet.php' class=''>  सूची  </a> </td>
                                <td> <a href='ps-khamnore-villages.php' class=''>  सूची  </a> </td>
                            </tr>
                            <tr>
                                <th> 8.</th>
                                <td> राजसमन्द </td>
                                <td> श्री अरविन्द सिंह  </td>
								<td> 33 </td>
                                <td> <a href='ps-amet.php' class=''>  सूची  </a> </td>
                                <td> <a href='ps-rajsamand-villages.php' class=''>  सूची  </a> </td>
                            </tr>
                            <tr>
                                <th> 9.</th>
                                <td> रेलमगरा  </td>
                                <td> श्री आदित्य प्रताप सिंह  </td>
								<td> 29 </td>
                                <td> <a href='ps-amet.php' class=''>  सूची  </a> </td>
                                <td> <a href='ps-relmagara-villages.php' class=''>  सूची  </a> </td>
                            </tr>
				  </tbody>

                                  </table>
                            </div>

                </div>
            </div>
        </div>
    </section>

                  <!--end::Row-->

                      <!--begin::Section-->
           <section class="section blog-section blog-sec-six lang en">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-12 wow fadeInUp" data-wow-delay="0.2s">
                    <div class="section-header-six">
                        <h2>Rural <span class="text-primary">.</span></h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">

                                            <!--begin::Table-->
                            <div class="custom-datatable-filter table-responsive">
                                <table class="table datatable" id="myTable">
                    <thead>
                            <tr>
                                 <th> Block / Section Name </th>
                                 <th> Principal Name </th>
                                 <th> Number of Gram Panchayats</th>
                                 <th> Gram Panchayat List </th>
                                 <th>List of Villages</th>
                             </tr>
                   </thead>
                   <tbody>
                    
                             <tr>
                                 <td> Zilla Parishad - Rajsamand </td>
                                 <td> District Head - Mrs. Ratni Devi </td>
                                 <td>20</td>
                                 <td> <a href='ps-amet.php' class=''> list </a> </td>
                                 <td> <a href='ps-amet-villages.php' class=''> list </a> </td>
                             </tr>
                             <tr>
                                 <td> Amet </td>
                                 <td> Mrs. Ansi Bai </td>
                                 <td>20</td>
                                 <td> <a href='ps-amet.php' class=''> list </a> </td>
                                 <td> <a href='ps-amet-villages.php' class=''> list </a> </td>
                             </tr>
                             <tr>
                                 <td>Bheem</td>
                                 <td> Mr. Biram </td>
                                <td>31</td>
                                 <td> <a href='ps-amet.php' class=''> list </a> </td>
                                 <td> <a href='ps-bhim-villages.php' class=''> list </a> </td>
                             </tr>
                             <tr>
                                 <td> Deogarh </td>
                                 <td> Mrs. Kalpana Kanwar </td>
                                <td>20</td>
                                 <td> <a href='ps-amet.php' class=''> list </a> </td>
                                 <td> <a href='ps-devgadh-villages.php' class=''> list </a> </td>
                             </tr>
                             <tr>
                                 <td> Kumbhalgarh </td>
                                 <td> Mrs. Kamla Dasna </td>
                                <td>37</td>
                                 <td> <a href='ps-amet.php' class=''> list </a> </td>
                                 <td> <a href='ps-kumbhalgadh-villages.php' class=''> list </a> </td>
                             </tr>
                             <tr>
                                 <td>Delwada </td>
                                 <td> Ms. Kasni Gameti </td>
                                  <td>16</td>
                                 <td> <a href='ps-amet.php' class=''> list </a> </td>
                                 <td> <a href='ps-delwara-villages.php' class=''> list </a> </td>
                             </tr>
                             <tr>
                                 <td> Khamnor </td>
                                 <td> Mr. Bherulal Veerwal </td>
                                <td>25</td>
                                 <td> <a href='ps-amet.php' class=''> list </a> </td>
                                 <td> <a href='ps-khamnore-villages.php' class=''> list </a> </td>
                             </tr>
                             <tr>
                                 <td> Rajsamand </td>
                                 <td> Mr. Arvind Singh </td>
                                    <td>33</td>
                                 <td> <a href='ps-amet.php' class=''> list </a> </td>
                                 <td> <a href='ps-rajsamand-villages.php' class=''> list </a> </td>
                             </tr>
                             <tr>
                                 <td> Railmagra </td><td> Mr. Aditya Pratap Singh </td>
                                    <td>29</td>
                                 <td> <a href='ps-amet.php' class=''> list </a> </td>
                                 <td> <a href='ps-relmagara-villages.php' class=''> list </a> </td>
                             </tr>
                    </tbody>
                                  </table>
                            </div>

                </div>
            </div>
        </div>
    </section>

                  <!--end::Row-->

{% include 'footerr.html' %}
