{% load static %}
{% include 'header.html' %}
    <!-- Breadcrumb
    <div class="breadcrumb-bar breadcrumb-bg-01 text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-12">
                    <h2 class="breadcrumb-title mb-2">Hotel Details</h2>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb justify-content-center mb-0">
                            <li class="breadcrumb-item"><a href="index.html"><i class="isax isax-home5"></i></a></li>
                            <li class="breadcrumb-item">Hotels</li>
                            <li class="breadcrumb-item active" aria-current="page">Hotel Details</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- /Breadcrumb -->

    <!-- Page Wrapper -->
    <div class="content">
        <div class="container">

            <div class="row">


                <div class="col-xl-12 col-lg-12">
                    <div class="d-flex align-items-center justify-content-between flex-wrap">
                        <h6 class="mb-3">1920 Tours Found on Your Search</h6>
                        <div class="d-flex align-items-center flex-wrap">
                            <div class="list-item d-flex align-items-center mb-3">
                                <a href="tour-grid.html" class="list-icon me-2"><i class="isax isax-grid-1"></i></a>
                                <a href="tour-list.html" class="list-icon active me-2"><i class="isax isax-firstline"></i></a>
                                <a href="tour-map.html" class="list-icon me-2"><i class="isax isax-map-1"></i></a>
                            </div>
                            <div class="dropdown mb-3">
                                <a href="javascript:void(0);" class="dropdown-toggle py-2" data-bs-toggle="dropdown" aria-expanded="false">
                                    <span class="fw-medium text-gray-9">Sort By : </span>Recommended
                                </a>
                                <div class="dropdown-menu dropdown-sm">
                                    <form action="https://dreamstour.dreamstechnologies.com/html/tour-list.html">
                                        <h6 class="fw-medium fs-16 mb-3">Sort By</h6>
                                        <div class="form-check d-flex align-items-center ps-0 mb-2">
                                            <input class="form-check-input ms-0 mt-0" name="recommend" type="checkbox" id="recommend1" checked>
                                            <label class="form-check-label ms-2" for="recommend1">Recommended</label>
                                        </div>
                                        <div class="form-check d-flex align-items-center ps-0 mb-2">
                                            <input class="form-check-input ms-0 mt-0" name="recommend" type="checkbox" id="recommend2">
                                            <label class="form-check-label ms-2" for="recommend2">Price: low to high</label>
                                        </div>
                                        <div class="form-check d-flex align-items-center ps-0 mb-2">
                                            <input class="form-check-input ms-0 mt-0" name="recommend" type="checkbox" id="recommend3">
                                            <label class="form-check-label ms-2" for="recommend3">Price: high to low</label>
                                        </div>
                                        <div class="form-check d-flex align-items-center ps-0 mb-2">
                                            <input class="form-check-input ms-0 mt-0" name="recommend" type="checkbox" id="recommend4">
                                            <label class="form-check-label ms-2" for="recommend4">Newest</label>
                                        </div>
                                        <div class="form-check d-flex align-items-center ps-0 mb-2">
                                            <input class="form-check-input ms-0 mt-0" name="recommend" type="checkbox" id="recommend5">
                                            <label class="form-check-label ms-2" for="recommend5">Ratings</label>
                                        </div>
                                        <div class="form-check d-flex align-items-center ps-0 mb-0">
                                            <input class="form-check-input ms-0 mt-0" name="recommend" type="checkbox" id="recommend6">
                                            <label class="form-check-label ms-2" for="recommend6">Reviews</label>
                                        </div>
                                        <div class="d-flex align-items-center justify-content-end border-top pt-3 mt-3">
                                            <a href="javascript:void(0);" class="btn btn-light btn-sm me-2">Reset</a>
                                            <button type="submit" class="btn btn-primary btn-sm">Apply</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="bg-info br-10 p-3 pb-2 mb-4">
                        <div class="d-flex align-items-center justify-content-between flex-wrap">
                            <p class="fs-14 fw-medium mb-2 d-inline-flex align-items-center"><i class="isax isax-info-circle me-2"></i>Save an average of 15% on thousands of hotels when you're signed in</p>
                            <a href="login.html" class="btn btn-white btn-sm mb-2">Sign In</a>
                        </div>
                    </div>
                    <div class="hotel-list">
                        <div class="row justify-content-center">
{% for x in ischeme %}
                            <div class="col-md-6">

                                <!-- Tours List -->
                                <div class="place-item mb-4">
                                    <!--
                                    <div class="place-img">
                                         
                                        <div class="img-slider image-slide owl-carousel nav-center">
                                           
                                            <div class="slide-images">
                                                <a href="tour-details.html">
                                                    <img src="assets/img/tours/tours-07.jpg" class="img-fluid" alt="img">
                                                </a>
                                            </div>
                                            <div class="slide-images">
                                                <a href="tour-details.html">
                                                    <img src="assets/img/tours/tours-08.jpg" class="img-fluid " alt="img">
                                                </a>
                                            </div>
                                            <div class="slide-images">
                                                <a href="tour-details.html">
                                                    <img src="assets/img/tours/tours-09.jpg" class="img-fluid " alt="img">
                                                </a>
                                            </div>
                                            <div class="slide-images">
                                                <a href="tour-details.html">
                                                    <img src="assets/img/tours/tours-10.jpg" class="img-fluid" alt="img">
                                                </a>
                                            </div>
                                        
                                        </div>
                                        
                                        <div class="fav-item">
                                            <a href="javascript:void(0);" class="fav-icon selected">
                                                <i class="isax isax-heart5"></i>
                                            </a>
                                            <span class="badge bg-info d-inline-flex align-items-center"><i class="isax isax-ranking me-1"></i>Trending</span>
                                        </div>
                                    </div>
                                    -->
                                    <div class="place-content">
                                        <div class="d-flex align-items-center justify-content-between flex-wrap row-gap-2 mb-3">
                                            <div>
                                                <h5 class="mb-1 text-truncate"><a href="tour-details.html"> {{ x.name_hi }}/ {{ x.name_en }} </a></h5>
                                                <!--
                                                    <p class="fs-14 d-flex align-items-center"><i class="isax isax-location5 me-2"></i>Ciutat Vella, Barcelona</p>
                                                -->
                                            </div>
                                            <div class="d-flex align-items-center">
                                                <p class="fs-14 text-gray-9  border-end pe-2 me-2 mb-0">
                                                    <span class="me-1"><i class="ti ti-receipt text-primary"></i></span> {{ x.category }}
                                                </p>
                                                <span class="badge badge-warning badge-xs text-gray-9 fs-13 fw-medium me-1">5.0</span>
                                                <p class="fs-14">(105 Reviews)</p>
                                            </div>
                                        </div>
                                        <p class="fs-14 border-bottom pb-3 mb-3">Journey through majestic peaks and serene valleys, where nature’s beauty surrounds you at every turn.</p>
                                        <div class="d-flex align-items-center justify-content-between flex-wrap row-gap-2">
                                            <div class="d-flex align-items-center">
                                                <span class="me-2"><i class="isax isax-calendar-tick text-gray-6"></i></span>
                                                <p class="fs-14 text-gray-9  border-end pe-2 me-2 mb-0">4 Day,3 Night</p>
                                                <p class="fs-14 text-gray-9 mb-0 text-truncate d-flex align-items-center">
                                                    <i class="isax isax-profile-2user me-1"></i>14 Guests
                                                </p>
                                            </div>
                                            <div class="d-flex align-items-center">
                                                <h6 class="d-flex align-items-center text-gray-6 fs-14 fw-normal border-end pe-2 me-2">
													Starts From 
													<span class="ms-1 fs-18 fw-semibold text-primary">$500</span>
													<span class="ms-1 fs-18 fw-semibold text-gray-3 text-decoration-line-through">$789</span>
												</h6>
                                                <a href="javascript:void(0);" class="avatar avatar-sm flex-shrink-0">
                                                    <img src="assets/img/users/user-08.jpg" class="rounded-circle" alt="img">
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- /Tours List -->

                            </div>
{% endfor %}

                        </div>

                    </div>

                    <!-- Pagination -->
                    <nav class="pagination-nav">
                        <ul class="pagination justify-content-center">
                            <li class="page-item disabled">
                                <a class="page-link" href="javascript:void(0);" aria-label="Previous">
                                    <span aria-hidden="true"><i class="fa-solid fa-chevron-left"></i></span>
                                </a>
                            </li>
                            <li class="page-item"><a class="page-link" href="javascript:void(0);">1</a></li>
                            <li class="page-item"><a class="page-link" href="javascript:void(0);">2</a></li>
                            <li class="page-item"><a class="page-link" href="javascript:void(0);">3</a></li>
                            <li class="page-item active"><a class="page-link" href="javascript:void(0);">4</a></li>
                            <li class="page-item"><a class="page-link" href="javascript:void(0);">5</a></li>
                            <li class="page-item">
                                <a class="page-link" href="javascript:void(0);" aria-label="Next">
                                    <span aria-hidden="true"><i class="fa-solid fa-chevron-right"></i></span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                    <!-- /Pagination -->

                </div>



            </div>
        </div>
    </div>
    <!-- /Page Wrapper -->
{% include 'footerr.html' %}
