    <!-- Page Wrapper -->
    <div class="content content-two">
        <div class="container">

            <div class="row">

                <!-- Sidebar -->
                <!-- Sidebar -->
                {% include 'user_sidebar.html' %} 
                <!-- /Sidebar -->
                <!-- /Sidebar -->

                <div class="col-xl-9 col-lg-8">
                    <div class="alert alert-teal alert-dismissible d-flex align-items-center border-0 mb-4 fade show">
                        <i class="isax isax-info-circle5 me-2"></i> Reminder about your upcoming booking Hotel Hayat on 15 May 2025 at 09:30 AM . We look forward to seeing you!
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"><i class="fas fa-xmark"></i></button>
                    </div>
                    <div class="row">
                        <div class="col-xl-4">
                            <div class="card shadow-none">
                                <div class="card-body">
                                    <div class="d-flex align-items-center">
                                        <span class="avatar avatar-xl rounded-circle bg-primary me-3">
											<i class="isax isax-calendar-15 fs-36"></i>
										</span>
                                        <div>
                                            <h3>80</h3>
                                            <p>Total Bookings</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4">
                            <div class="card shadow-none">
                                <div class="card-body">
                                    <div class="d-flex align-items-center">
                                        <span class="avatar avatar-xl rounded-circle bg-secondary me-3">
											<i class="isax isax-money-send5 fs-36"></i>
										</span>
                                        <div>
                                            <h3>$5.3K</h3>
                                            <p>Total Transactions</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4">
                            <div class="card shadow-none">
                                <div class="card-body">
                                    <div class="d-flex align-items-center">
                                        <span class="avatar avatar-xl rounded-circle bg-purple me-3">
											<i class="isax isax-money-tick5 fs-36"></i>
										</span>
                                        <div>
                                            <h3>$5965</h3>
                                            <p>Average Value</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row justify-content-center">
                        <div class="col-xl col-lg-4 col-sm-6">
                            <!-- Tours Plan-->
                            <div class="tours-item mb-4">
                                <a href="hotel-grid.html" class="tours-img">
                                    <img src="assets/img/hotels/hotel-15.jpg" class="img-fluid w-100" alt="img">
                                </a>
                                <div class="tours-content text-center">
                                    <h6 class="fs-16 fw-medium">968 Hotels</h6>
                                    <a href="hotel-grid.html" class="link-primary text-decoration-underline">Book Now</a>
                                </div>
                            </div>
                            <!-- /Tours Plan-->
                        </div>

                        <div class="col-xl col-lg-4 col-sm-6">
                            <!-- Tours Plan-->
                            <div class="tours-item mb-4">
                                <a href="flight-grid.html" class="tours-img">
                                    <img src="assets/img/flight/flight-07.jpg" class="img-fluid w-100" alt="img">
                                </a>
                                <div class="tours-content text-center">
                                    <h6 class="fs-16 fw-medium">689 Flights</h6>
                                    <a href="flight-grid.html" class="link-primary text-decoration-underline">Book Now</a>
                                </div>
                            </div>
                            <!-- /Tours Plan-->
                        </div>

                        <div class="col-xl col-lg-4 col-sm-6">
                            <!-- Tours Plan-->
                            <div class="tours-item mb-4">
                                <a href="tour-grid.html" class="tours-img">
                                    <img src="assets/img/tours/tours-24.jpg" class="img-fluid w-100" alt="img">
                                </a>
                                <div class="tours-content text-center">
                                    <h6 class="fs-16 fw-medium">985 Tours</h6>
                                    <a href="tour-grid.html" class="link-primary text-decoration-underline">Book Now</a>
                                </div>
                            </div>
                            <!-- /Tours Plan-->
                        </div>

                        <div class="col-xl col-lg-4 col-sm-6">
                            <!-- Tours Plan-->
                            <div class="tours-item mb-4">
                                <a href="car-grid.html" class="tours-img">
                                    <img src="assets/img/cars/car-11.jpg" class="img-fluid w-100" alt="img">
                                </a>
                                <div class="tours-content text-center">
                                    <h6 class="fs-16 fw-medium">698 Cars</h6>
                                    <a href="car-grid.html" class="link-primary text-decoration-underline">Book Now</a>
                                </div>
                            </div>
                            <!-- /Tours Plan-->
                        </div>

                        <div class="col-xl col-lg-4 col-sm-6">
                            <!-- Tours Plan-->
                            <div class="tours-item mb-4">
                                <a href="cruise-grid.html" class="tours-img">
                                    <img src="assets/img/cruise/cruise-15.jpg" class="img-fluid w-100" alt="img">
                                </a>
                                <div class="tours-content text-center">
                                    <h6 class="fs-16 fw-medium">968 Cruise</h6>
                                    <a href="cruise-grid.html" class="link-primary text-decoration-underline">Book Now</a>
                                </div>
                            </div>
                            <!-- /Tours Plan-->
                        </div>

                    </div>

                    <div class="row">

    <section class="update-section">
        <div class="container">
            <div class="row">
                
                <div class="col-md-12">
                  <div class="row">
                    
                    <div class="col-md-12">
                      <div class="update-sec">
                        <div class="input-group justify-content-center mx-auto">
                            <span class="input-group-text px-1"><i class="isax isax-message-favorite5"></i></span>
                            <input type="text" name="search_text" id="search_text" class="form-control" placeholder="यहाँ खोजें /Search here">
                        </div>
                        <div class="update-bg">
                            <img src="assets/img/bg/update-bg.png" alt="img">
                        </div>
                      </div>  
                    </div>  


                  </div>
                </div>

            </div>
        </div>
    </section>

                        <!-- /Recent Booking -->
                                        <?php include "srijanApps.php" ; ?>

                        <!-- Most Booked Services -->
                        <!-- /Most Booked Services -->

                    </div>

                    <div class="row">

                        <!-- Notifications -->
                        <div class="col-xl-5 d-flex">
                            <div class="card shadow-none flex-fill">
                                <div class="card-body">
                                    <div class="d-flex justify-content-between align-items-center mb-4">
                                        <h6>Notifications</h6>
                                        <div class="dropdown ">
                                            <a href="javascript:void(0);" class="dropdown-toggle btn bg-light-200 btn-sm text-gray-6 rounded-pill fw-normal fs-14 d-inline-flex align-items-center" data-bs-toggle="dropdown">
                                                <i class="isax isax-document-filter me-2 fs-14 text-gray-6"></i>All
                                            </a>
                                            <ul class="dropdown-menu  dropdown-menu-end p-3">
                                                <li>
                                                    <a href="javascript:void(0);" class="dropdown-item rounded-1">
                                                        <i class="ti ti-point-filled me-1"></i>All
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0);" class="dropdown-item rounded-1">
                                                        <i class="ti ti-point-filled me-1"></i>Recent
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="d-flex align-items-center mb-3">
                                        <span class="avatar avatar-lg bg-primary rounded-circle flex-shrink-0 me-2">
											<i class="isax isax-info-circle5"></i>
										</span>
                                        <div class="flex-fill overflow-hidden">
                                            <div class="d-flex justify-content-between align-items-center mb-1">
                                                <h6 class="fs-16 text-truncate">Pre-Tour Information</h6>
                                                <p class="fs-14 text-primary text-nowrap">1 day ago</p>
                                            </div>
                                            <p class="fs-14 two-line-ellipsis">Your <span class="fw-medium">Mountain Valley</span> is on 15 May 2024. Please arrive at los Angeles"</p>
                                        </div>
                                    </div>
                                    <div class="d-flex align-items-center mb-3">
                                        <span class="avatar avatar-lg bg-purple rounded-circle flex-shrink-0 me-2">
											<i class="isax isax-calendar-remove5"></i>
										</span>
                                        <div class="flex-fill overflow-hidden">
                                            <div class="d-flex justify-content-between align-items-center mb-1">
                                                <h6 class="fs-16 text-truncate">Rescheduling Notification</h6>
                                                <p class="fs-14 text-primary text-nowrap">1 day ago</p>
                                            </div>
                                            <p class="fs-14 two-line-ellipsis">Your Hotel Booking of Suite Room on 15 Jan 2025 has been rescheduled to 20 May 2025.</p>
                                        </div>
                                    </div>
                                    <div class="d-flex align-items-center mb-3">
                                        <span class="avatar avatar-lg bg-teal rounded-circle flex-shrink-0 me-2">
											<i class="isax isax-calendar-edit5"></i>
										</span>
                                        <div class="flex-fill overflow-hidden">
                                            <div class="d-flex justify-content-between align-items-center mb-1">
                                                <h6 class="fs-16 text-truncate">Booking Confirmation</h6>
                                                <p class="fs-14 text-primary text-nowrap">1 day ago</p>
                                            </div>
                                            <p class="fs-14 two-line-ellipsis">Thank you for choosing Air India. Your adventure is set for 21 Jan 2025 at 04:45 PM. </p>
                                        </div>
                                    </div>
                                    <div class="d-flex align-items-center">
                                        <span class="avatar avatar-lg bg-secondary rounded-circle flex-shrink-0 me-2">
											<i class="isax isax-color-swatch5"></i>
										</span>
                                        <div class="flex-fill overflow-hidden">
                                            <div class="d-flex justify-content-between align-items-center mb-1">
                                                <h6 class="fs-16 text-truncate">Special Offer Notification</h6>
                                                <p class="fs-14 text-primary text-nowrap">1 day ago</p>
                                            </div>
                                            <p class="fs-14 two-line-ellipsis">Book next tour with us by Jan 2025 to avail Offer</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /Notifications -->

                        <!-- Recent Invoices -->
                        <div class="col-xl-7 d-flex">
                            <div class="card shadow-none flex-fill">
                                <div class="card-body">
                                    <div class="d-flex justify-content-between align-items-center mb-4">
                                        <h6>Recent Invoices</h6>
                                        <div class="dropdown ">
                                            <a href="javascript:void(0);" class="dropdown-toggle btn bg-light-200 btn-sm text-gray-6 rounded-pill fw-normal fs-14 d-inline-flex align-items-center" data-bs-toggle="dropdown">
                                                <i class="isax isax-document-filter me-2 fs-14 text-gray-6"></i>All
                                            </a>
                                            <ul class="dropdown-menu  dropdown-menu-end p-3">
                                                <li>
                                                    <a href="javascript:void(0);" class="dropdown-item rounded-1">
                                                        <i class="ti ti-point-filled me-1"></i>All
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0);" class="dropdown-item rounded-1">
                                                        <i class="ti ti-point-filled me-1"></i>Recent
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="card shadow-none mb-4">
                                        <div class="card-body p-2">
                                            <div class="d-flex align-items-center">
                                                <a href="flight-details.html" class="avatar avatar-lg rounded-circle flex-shrink-0 me-2">
                                                    <img src="assets/img/flight/flight-01.jpg" class="img-fluid rounded-circle" alt="Img">
                                                </a>
                                                <div class="d-flex justify-content-between align-items-center flex-fill">
                                                    <div>
                                                        <h6 class="fs-16 fw-medium mb-1"><a href="flight-details.html">Cloudrider 789</a></h6>
                                                        <div class="d-flex align-items-center flex-wrap">
                                                            <a href="invoices.html" class="fs-14 link-primary border-end pe-2 me-2 mb-0">#INV12565</a>
                                                            <p class="fs-14">Date: 15 May 2024</p>
                                                        </div>
                                                    </div>
                                                    <div class="text-end">
                                                        <h6 class="fw-medium mb-1">$569</h6>
                                                        <p class="fs-14 text-success">Paid</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card shadow-none mb-4">
                                        <div class="card-body p-2">
                                            <div class="d-flex align-items-center">
                                                <a href="hotel-details.html" class="avatar avatar-lg rounded-circle flex-shrink-0 me-2">
                                                    <img src="assets/img/hotels/hotel-24.jpg" class="img-fluid rounded-circle" alt="Img">
                                                </a>
                                                <div class="d-flex justify-content-between align-items-center flex-fill">
                                                    <div>
                                                        <h6 class="fs-16 fw-medium mb-1"><a href="hotel-details.html">The Luxe Haven</a></h6>
                                                        <div class="d-flex align-items-center flex-wrap">
                                                            <a href="invoices.html" class="fs-14 link-primary border-end pe-2 me-2 mb-0">#INV12564</a>
                                                            <p class="fs-14">Date: 13 May 2024</p>
                                                        </div>
                                                    </div>
                                                    <div class="text-end">
                                                        <h6 class="fw-medium mb-1">$430</h6>
                                                        <p class="fs-14 text-success">Paid</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card shadow-none mb-4">
                                        <div class="card-body p-2">
                                            <div class="d-flex align-items-center">
                                                <a href="car-details.html" class="avatar avatar-lg rounded-circle flex-shrink-0 me-2">
                                                    <img src="assets/img/cars/car-07.jpg" class="img-fluid rounded-circle" alt="Img">
                                                </a>
                                                <div class="d-flex justify-content-between align-items-center flex-fill">
                                                    <div>
                                                        <h6 class="fs-16 fw-medium mb-1"><a href="car-details.html">Ford Mustang 4.0 AT</a></h6>
                                                        <div class="d-flex align-items-center flex-wrap">
                                                            <a href="invoices.html" class="fs-14 link-primary border-end pe-2 me-2 mb-0">#INV12563</a>
                                                            <p class="fs-14">Date: 10 May 2024</p>
                                                        </div>
                                                    </div>
                                                    <div class="text-end">
                                                        <h6 class="fw-medium mb-1">$380</h6>
                                                        <p class="fs-14 text-success">Paid</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card shadow-none mb-0">
                                        <div class="card-body p-2">
                                            <div class="d-flex align-items-center">
                                                <a href="cruise-details.html" class="avatar avatar-lg rounded-circle flex-shrink-0 me-2">
                                                    <img src="assets/img/cruise/cruise-02.jpg" class="img-fluid rounded-circle" alt="Img">
                                                </a>
                                                <div class="d-flex justify-content-between align-items-center flex-fill">
                                                    <div>
                                                        <h6 class="fs-16 fw-medium mb-1"><a href="cruise-details.html">Super Aquamarine</a></h6>
                                                        <div class="d-flex align-items-center flex-wrap">
                                                            <a href="invoices.html" class="fs-14 link-primary border-end pe-2 me-2 mb-0">#INV12562</a>
                                                            <p class="fs-14">Date: 04 May 2024</p>
                                                        </div>
                                                    </div>
                                                    <div class="text-end">
                                                        <h6 class="fw-medium mb-1">$475</h6>
                                                        <p class="fs-14 text-success">Paid</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /Recent Invoices -->

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /Page Wrapper -->
