{% load static %}
{% include 'header.html' %}


                      <!--begin::Section-->
          <section class="section blog-section blog-sec-six lang hi active">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-12 wow fadeInUp" data-wow-delay="0.2s">
                    <div class="section-header-six">
                        <h2>राज्य सरकार के विभाग और उपक्रम<span class="text-primary">.</span></h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">


                            <div class="custom-datatable-filter table-responsive">
                                <table class="table datatable">
                        <thead>
								<tr>
								
                                	<th> <b> विभाग का नाम </b> </th>
                                	<th> <b> विभाग </b> </th>
	                            </tr>
							</thead>
							<tbody>
							
<tr> 
	<td> <b> <a href="https://cmo.rajasthan.gov.in/" target="_blank"> Chief Minister Office </a> </b> </td> 
	<td> <b> <a href=" .php" target="_blank"> मुख्यमंत्री कार्यालय </a> </b> </td> 
</tr>
<tr> 
	<td> <b> <a href="http://lokayukta.rajasthan.gov.in/" target="_blank"> Lokayukt Rajasthan </a> </b> </td> 
	<td> <b><a href=" .php" target="_blank"> लोकायुक्त  </a> </b> </td> 
</tr>
<tr> 
	<td> <b>  <a href="http://rajbhawan.rajasthan.gov.in/content/rajbhawan/en.html" target="_blank"> Raj Bhawan </a> </b> </td> 
	<td> <b><a href=" .php" target="_blank"> राजभवन </a> </b> </td> 
</tr>
<tr> 
	<td> <b>  <a href="http://rcsat.rajasthan.gov.in/" target="_blank"> Rajasthan Civil Services Appellate Tribunal </a> </b> </td> 
	<td> <b><a href=" .php" target="_blank"> RCSAT </a> </b> </td> 
</tr>
<tr> 
	<td> <b>  <a href="http://sec.rajasthan.gov.in/" target="_blank"> State Election Commission </a> </b> </td> 
	<td> <b><a href=" .php" target="_blank"> राज्य निर्वाचन आयोग  </a> </b> </td> 
</tr>
<tr> 
	<td> <b><a href="https://advgen.rajasthan.gov.in/contents/index.htm" target="_blank">Advocate General </a> </b> </td>
	<td><b><a href=".php" target="_blank">महाधिवक्ता </a></b></td>
</tr>
<tr> 
	<td> <b>  <a href="http://home.rajasthan.gov.in/acb/#" target="_blank">Rajasthan  Anti Corruption Bureau  </a> </b> </td> 
	<td> <b><a href=" .php" target="_blank">भ्रष्टाचार निरोधक ब्यूरो</a> </b> </td> 
</tr>
<tr> 
	<td> <b> <a href="http://hcmripa.gov.in/" target="_blank">HCM Rajasthan State Institute of Public Administration  </a> </b> </td> 
	<td> <b><a href=" .php" target="_blank"> HCM RIPA </a> </b> </td>
</tr>
<tr> 
	<td> <b>  <a href="http://jawaharkalakendra.rajasthan.gov.in/" target="_blank">   Jawahar Kala Kendra </a> </b> </td> 
	<td> <b><a href=" .php" target="_blank"> जवाहर कला केंद्र  </a> </b> </td> 
</tr>
<tr> <td> <b>  <a href="https://health.rajasthan.gov.in/content/raj/medical/national-health-mission/en/home.html#" target="_blank"> National Health Mission </a> </b> </td> 
	  <td> <b><a href=" .php" target="_blank"> राष्ट्रीय स्वास्थ्य अभियान </a> </b> </td> 
</tr>
<tr> 
	<td> <b>  <a href="http://industries.rajasthan.gov.in/rf" target="_blank">Rajasthan Foundation </a> </b> </td> 
	<td> <b><a href=" .php" target="_blank"> राजस्थान फाउंडेशन  </a> </b> </td> 
</tr>
<tr> 
	<td> <b>  <a href="http://home.rajasthan.gov.in/rpa#" target="_blank"> Rajasthan Police Academy </a> </b> </td> 
	<td> <b><a href=" .php" target="_blank"> राजस्थान पुलिस अकादमी  </a> </b> </td> 
</tr>
<tr> 
	<td> <b>  <a href="https://education.rajasthan.gov.in/scoutsguides#" target="_blank">Rajasthan State Bharat Scouts & Guides </a> </b> </td> 
	<td> <b><a href=" .php" target="_blank"> राजस्थान स्काउट गाइड  </a> </b> </td> 
</tr>
<tr> 
	<td> <b>  <a href="https://urban.rajasthan.gov.in/ada#" target="_blank"> Ajmer Development Authority, Ajmer  </a> </b> </td> 
	<td> <b><a href=" .php" target="_blank"> अजमेर विकास प्राधिकरण </a> </b> </td> 
</tr>
<tr> 
	<td> <b>  <a href="https://energy.rajasthan.gov.in/avvnl#" target="_blank"> Ajmer Vidyut Vitran Nigam Limited  </a> </b> </td> 
	<td> <b><a href=" .php" target="_blank"> अजमेर विद्युत वितरण निगम लिमिटेड </a> </b> </td> 
</tr>
<tr> 
	<td> <b>  <a href="http://landrevenue.rajasthan.gov.in/bor/#" target="_blank">  Board of Revenue  </a> </b> </td> 
	<td> <b><a href=" .php" target="_blank"> राजस्व बोर्ड अजमेर  </a> </b> </td> 
</tr>
<tr> 
	<td> <b>  <a href="http://rajeduboard.rajasthan.gov.in/" target="_blank">  Board of Secondary Education, Rajasthan       </a> </b> </td> 
	<td> <b> <a href=" .php" target="_blank"> माध्यमिक शिक्षा बोर्ड, अजमेर  </a> </b> </td> 
</tr>
<tr> 
	<td> <b>  <a href="http://techedu.rajasthan.gov.in/" target="_blank"> Board of Technical Education  </a> </b> </td> 
	<td> <b> <a href=" .php" target="_blank"> तकनीकी शिक्षा बोर्ड  </a> </b> </td> 
</tr>
<tr> 
	<td> <b>  <a href="http://industries.rajasthan.gov.in/bip" target="_blank"> Bureau of Investment Promotion (BIP) </a> </b> </td> 
	<td> <b> <a href=" .php" target="_blank"> निवेश संवर्धन ब्यूरो  </a> </b> </td> 
</tr>
<tr> 
	<td> <b>  <a href="http://www.ceg.rajasthan.gov.in/" target="_blank"> Center for Electronic Governance     </a> </b> </td> 
	<td> <b> <a href=" .php" target="_blank"> सेण्टर फॉर इलेक्ट्रोनिक गवर्नेंस  </a> </b> </td> 
</tr>
<tr> 
	<td> <b>  <a href="http://igprgvs.rajasthan.gov.in/" target="_blank">  Indira Gandhi Panchayati Raj and Gramin Vikas Sanstahan </a> </b> </td> 
	<td> <b> <a href=" .php" target="_blank"> इंदिरा गाँधी पंचायती राज एवं ग्रामीण विकास संस्थान  </a> </b> </td> 
</tr>
<tr> 
	<td> <b>  <a href="http://transport.rajasthan.gov.in/jctsl#" target="_blank"> Jaipur City Transport Services Limited     </a> </b> </td> 
	<td> <b> <a href=" .php" target="_blank"> जयपुर सिटी ट्रांसपोर्ट सर्विसेज लिमिटेड  </a> </b> </td> 
</tr>
<tr> 
	<td> <b>  <a href="https://jda.urban.rajasthan.gov.in/content/raj/udh/jda---jaipur/en/home.html" target="_blank">  Jaipur Development Authority    </a> </b> </td> 
	<td> <b> <a href=" .php" target="_blank"> जयपुर विकास प्राधिकरण  </a> </b> </td> 
</tr>
<tr> 
	<td> <b>  <a href="http://transport.rajasthan.gov.in/jmrc#" target="_blank"> Jaipur Metro Rail Corporation Ltd.     </a> </b> </td> 
	<td> <b> <a href=" .php" target="_blank"> जयपुर मेट्रो रेल कारपोरेशन  </a> </b> </td> 
</tr>
<tr> 
	<td> <b>  <a href="https://energy.rajasthan.gov.in/jvvnl#" target="_blank">  Jaipur Vidyut Vitran Nigam Ltd     </a> </b> </td> 
	<td> <b> <a href=" .php" target="_blank"> जयपुर विद्युत वितरण लिमिटेड  </a> </b> </td> 
</tr>
<tr> 
	<td> <b>  <a href="https://urban.rajasthan.gov.in/joda#" target="_blank"> Jodhpur Development Authority     </a> </b> </td> 
	<td> <b> <a href=" .php" target="_blank"> जोधपुर विकास प्राधिकरण  </a> </b> </td> 
</tr>
<tr> 
	<td> <b>  <a href="https://energy.rajasthan.gov.in/jdvvnl" target="_blank"> Jodhpur Vidyut Vitran Nigam Ltd      </a> </b> </td> 
	<td> <b> <a href=" .php" target="_blank"> जोधपुर विद्युत वितरण लिमिटेड  </a> </b> </td> 
</tr>
<tr> 
	<td> <b>  <a href="http://bocw.labour.rajasthan.gov.in/" target="_blank"> Labour - Building and Other Construction Workers Welfare Board (BOCW)     </a> </b> </td> 
	<td> <b> <a href=" .php" target="_blank"> BOCW </a> </b> </td> 
</tr>
<tr> 
	<td> <b>  <a href="https://health.rajasthan.gov.in/content/raj/medical/national-ayush-mission/en/home.html#" target="_blank"> National Ayush Mission     </a> </b> </td> 
	<td> <b> <a href=" .php" target="_blank"> राष्ट्रीय आयुष मिशन  </a> </b> </td> 
</tr>
<tr> 
	<td> <b>  <a href="http://www.agriculture.rajasthan.gov.in/content/agriculture/en/RACP-dep.html#" target="_blank"> Rajasthan Agricultural Competitiveness Project</a> </b> </td> 
	<td> <b> <a href=" .php" target="_blank"> R A C P </a> </b> </td> 
</tr>
<tr> 
	<td> <b>  <a href="https://minority.rajasthan.gov.in/WAQF-Board/Index.aspx" target="_blank"> Rajasthan Board of Muslim Waqfs     </a> </b> </td> 
	<td> <b> <a href=" .php" target="_blank"> मुस्लिम वक्फ बोर्ड  </a> </b> </td> 
</tr>
<tr> 
	<td> <b>  <a href="http://www.sarasmilkfed.rajasthan.gov.in/index.aspx" target="_blank"> Rajasthan Co-Operative Dairy Federation Ltd. </a> </b> </td> 
	<td> <b> <a href=" .php" target="_blank"> राजस्थान सहकारी दुग्ध संघ  </a> </b> </td> 
</tr>
<tr> 
	<td> <b>  <a href="https://rajsmsa.nic.in/public/Default.aspx" target="_blank"> Rajasthan Council of Elementary Education (Sarva Shiksha Abhiyan) </a> </b> </td> 
	<td> <b> <a href=" .php" target="_blank"> प्रारंभिक शिक्षा ( सर्व शिक्षा अभियान ) </a> </b> </td> 
</tr>
<tr> 
	<td> <b>  <a href="https://health.rajasthan.gov.in/content/raj/medical/rajasthan-drugs-and-pharmaceuticals-ltd-/en/home.html#" target="_blank"> Rajasthan Drugs & Pharmaceuticals Ltd. (RDPL)     </a> </b> </td> 
	<td> <b> <a href=" .php" target="_blank"> R D P L </a> </b> </td> 
</tr>
<tr> 
	<td> <b>  <a href="http://www.reiljp.com/index.aspx" target="_blank"> Rajasthan Electronics and Instruments Ltd.     </a> </b> </td> 
	<td> <b> <a href=" .php" target="_blank"> राजस्थान इलेक्ट्रॉनिक्स , इंस्ट्रूमेंटेशन लिमिटेड  </a> </b> </td> 
</tr>
<tr> 
	<td> <b>  <a href="http://industries.rajasthan.gov.in/rfc#" target="_blank"> Rajasthan Financial Corporation     </a> </b> </td> 
	<td> <b> <a href=" .php" target="_blank"> राजस्थान वित्त निगम  </a> </b> </td> 
</tr>
<tr> 
	<td> <b>  <a href="https://forest.rajasthan.gov.in/rfbp#" target="_blank"> Rajasthan Forestry and Biodiversity Project (RFBP)     </a> </b> </td> 
	<td> <b> <a href=" .php" target="_blank"> RFBP </a> </b> </td> 
</tr>
<tr> 
	<td> <b>  <a href="http://www.rajeevika.rajasthan.gov.in/" target="_blank"> Rajasthan Grameen Aajivika vikas parisad     </a> </b> </td> 
	<td> <b> <a href=" .php" target="_blank"> राजस्थान ग्रामीण आजीविका परिषद्  </a> </b> </td> 
</tr>
<tr> 
	<td> <b>  <a href="https://health.rajasthan.gov.in/content/raj/medical/rajasthan-homeopathic-board/en/home.html#" target="_blank">  Rajasthan Homoeopathic Chikitsa Board     </a> </b> </td> 
	<td> <b> <a href=" .php" target="_blank"> राजस्थान होमियोपैथी  </a> </b> </td> 
</tr>
<tr> 
	<td> <b>  <a href="https://urban.rajasthan.gov.in/rhb#" target="_blank"> Rajasthan Housing Board     </a> </b> </td> 
	<td> <b> <a href=" .php" target="_blank"> राजस्थान आवासन मंडल  </a> </b> </td> 
</tr>
<tr> 
	<td> <b>  <a href="https://health.rajasthan.gov.in/content/raj/medical/rajasthan-indian-medicine-board/en/home.html#" target="_blank"> Rajasthan Indian Medicine Board     </a> </b> </td> 
	<td> <b> <a href=" .php" target="_blank"> RIMB </a> </b> </td> 
</tr>
<tr> 
	<td> <b>  <a href="https://health.rajasthan.gov.in/content/raj/medical/rajasthan-medical-council/en/home.html#" target="_blank"> Rajasthan Medical Council </a> </b> </td> 
	<td> <b> <a href=" .php" target="_blank"> RMC </a> </b> </td> 
</tr>
<tr> 
	<td> <b>  <a href="https://health.rajasthan.gov.in/rmsc" target="_blank"> Rajasthan Medical Services Corporation     </a> </b> </td> 
	<td> <b> <a href=" .php" target="_blank"> RMSC </a> </b> </td> 
</tr>
<tr> 
	<td> <b>  <a href="https://minority.rajasthan.gov.in/RMFDCC/index" target="_blank">  Rajasthan Minority Finance and Development Co-operative Corporation Limited (RMFDCC)     </a> </b> </td> 
	<td> <b> <a href=" .php" target="_blank"> RMFDCC </a> </b> </td> 
</tr>
<tr> 
	<td> <b>  <a href="http://www.agriculture.rajasthan.gov.in/content/agriculture/en/ROCL-dep.html#" target="_blank"> Rajasthan Olive Cultivation Limited     </a> </b> </td> 
	<td> <b> <a href=" .php" target="_blank"> ROCL </a> </b> </td> 
</tr>
<tr> 
	<td> <b>  <a href="http://industries.rajasthan.gov.in/rrbss#" target="_blank"> Rajasthan Rajya Bunkar Sahkari Sangh Ltd.     </a> </b> </td> 
	<td> <b> <a href=" .php" target="_blank"> RRBSS </a> </b> </td> 
</tr>
<tr> 
	<td> <b>  <a href="https://energy.rajasthan.gov.in/rvpnl" target="_blank">  Rajasthan Rajya Vidyut Prasaran Nigam Limited    </a> </b> </td> 
	<td> <b> <a href=" .php" target="_blank"> RRVPNL </a> </b> </td> 
</tr>
<tr> 
	<td> <b>  <a href="https://energy.rajasthan.gov.in/rrecl" target="_blank"> Rajasthan Renewable Energy Corporation Limited (RRECL)     </a> </b> </td> 
	<td> <b> <a href=" .php" target="_blank"> RRECL </a> </b> </td> 
</tr>
<tr> 
	<td> <b>  <a href="https://pwd.rajasthan.gov.in/content/raj/roads/pwd/en/rajasthan-road-sector-modernization-project--rrsmp-.html" target="_blank">  Rajasthan Road Sector Modernization Project    </a> </b> </td> 
	<td> <b> <a href=" .php" target="_blank"> RRSMP </a> </b> </td> 
</tr>
<tr> 
	<td> <b>  <a href="http://www.agriculture.rajasthan.gov.in/content/agriculture/en/RSAMB-dep.html#" target="_blank"> Rajasthan State Agriculture Marketing Board     </a> </b> </td> 
	<td> <b> <a href=" .php" target="_blank"> RSAMB </a> </b> </td> 
</tr>
<tr> 
	<td> <b>  <a href="https://health.rajasthan.gov.in/content/raj/medical/rajasthan-state-aids-control-society/en/home.html#" target="_blank"> Rajasthan State AIDS Control Society     </a> </b> </td> 
	<td> <b> <a href=" .php" target="_blank"> RSACS </a> </b> </td> 
</tr>
<tr> 
	<td> <b>  <a href="https://rajexcise.gov.in/RSBCL/Website/Default.aspx" target="_blank"> Rajasthan State Beverages Corporation Ltd. (RSBCL)     </a> </b> </td> 
	<td> <b> <a href=" .php" target="_blank"> RSBCL </a> </b> </td> 
</tr>
<tr> 
	<td> <b>  <a href="http://www.rsfcsc.org/" target="_blank"> Rajasthan State Food & Civil Supplies Corporation Ltd.     </a> </b> </td> 
	<td> <b> <a href=" .php" target="_blank"> RSFCSC </a> </b> </td> 
</tr>
<tr> 
	<td> <b>  <a href="https://rajexcise.gov.in/RSGSMWEB/Website/Default.aspx" target="_blank"> Rajasthan State Ganganager Sugar Mills (RSGSM)     </a> </b> </td> 
	<td> <b> <a href=" .php" target="_blank"> RSGSM </a> </b> </td> 
</tr>
<tr> 
	<td> <b>  <a href="http://industries.rajasthan.gov.in/handloom" target="_blank"> Rajasthan State Handloom Development Corporation     </a> </b> </td> 
	<td> <b> <a href=" .php" target="_blank"> RSHDC </a> </b> </td> 
</tr>
<tr> 
	<td> <b>  <a href="http://industries.rajasthan.gov.in/riico" target="_blank"> Rajasthan State Industrial Development and Investment Corporation Ltd     </a> </b> </td> 
	<td> <b> <a href=" .php" target="_blank"> RIICO </a> </b> </td> 
</tr>
<tr> 
	<td> <b>  <a href="https://www.rsmm.com/" target="_blank">  Rajasthan State Mines and Minerals Limited     </a> </b> </td> 
	<td> <b> <a href=" .php" target="_blank"> RSMML </a> </b> </td> 
</tr>
<tr> 
	<td> <b>  <a href="https://rspfcl.rajasthan.gov.in/" target="_blank"> Rajasthan State Power Finance Corporation Limited (RSPFCL)     </a> </b> </td> 
	<td> <b> <a href=" .php" target="_blank"> RSPFCL </a> </b> </td> 
</tr>
<tr> 
	<td> <b>  <a href="https://roads.rajasthan.gov.in/content/raj/roads/en/home.html#" target="_blank"> Rajasthan State Road Development and Construction Corporation     </a> </b> </td> 
	<td> <b> <a href=" .php" target="_blank"> RSRDCC </a> </b> </td> 
</tr>
<tr> 
	<td> <b>  <a href="http://www.agriculture.rajasthan.gov.in/content/agriculture/en/RSSOPCA-dep.html#" target="_blank"> Rajasthan State Seeds & Organic Production Certification Agency     </a> </b> </td> 
	<td> <b> <a href=" .php" target="_blank"> RSSOCPA </a> </b> </td> 
</tr>
<tr> 
	<td> <b>  <a href="http://www.agriculture.rajasthan.gov.in/content/agriculture/en/RSSCL-dep.html#" target="_blank"> Rajasthan State Seeds Corporation Limited     </a> </b> </td> 
	<td> <b> <a href=" .php" target="_blank"> RSSCL </a> </b> </td> 
</tr>
<tr> 
	<td> <b>  <a href="https://education.rajasthan.gov.in/content/raj/education/rajasthan-state-textbook-board/en/home.html#" target="_blank"> Rajasthan State Textbook Board     </a> </b> </td> 
	<td> <b> <a href=" .php" target="_blank">  RSTB </a> </b> </td> 
</tr>
<tr> 
	<td> <b>  <a href="http://www.agriculture.rajasthan.gov.in/content/agriculture/en/RSWC-dep.html#" target="_blank"> Rajasthan State Warehousing Corporation     </a> </b> </td> 
	<td> <b> <a href=" .php" target="_blank"> RSWC </a> </b> </td> 
</tr>
<tr> 
	<td> <b>  <a href="https://taxboard.rajasthan.gov.in/" target="_blank"> Rajasthan Tax Board, Ajmer      </a> </b> </td> 
	<td> <b> <a href=" .php" target="_blank"> RSTB </a> </b> </td> 
</tr>
<tr> 
	<td> <b>  <a href="https://urban.rajasthan.gov.in/rudsico" target="_blank"> Rajasthan Urban Drinking Water Sewerage & Infrastructure Corporation Limited (RUDSICO)     </a> </b> </td> 
	<td> <b> <a href=" .php" target="_blank"> RUDSICO </a> </b> </td> 
</tr>
<tr> 
	<td> <b>  <a href="https://energy.rajasthan.gov.in/ruvnl" target="_blank"> Rajasthan Vidyut Udpadan Ltd     </a> </b> </td> 
	<td> <b> <a href=" .php" target="_blank"> RVUNL </a> </b> </td> 
</tr>
<tr> 
	<td> <b>  <a href="https://risl.rajasthan.gov.in/" target="_blank">  RajCOMP Info Services Ltd.     </a> </b> </td> 
	<td> <b> <a href=" .php" target="_blank"> RISL </a> </b> </td> 
</tr>
<tr> 
	<td> <b>  <a href="http://www.rldb.nic.in/" target="_blank"> Rajasthan Livestock Development Board       </a> </b> </td> 
	<td> <b> <a href=" .php" target="_blank"> RLSDB </a> </b> </td> 
</tr>
<tr> 
	<td> <b>  <a href="https://minority.rajasthan.gov.in/Madarasa_Board/Index.aspx" target="_blank"> Rajasthan Madarsa Board     </a> </b> </td> 
	<td> <b> <a href=" .php" target="_blank"> RMB </a> </b> </td> 
</tr>
<tr> 
	<td> <b>  <a href="https://www.rmcjaipur.org/" target="_blank">  Rajasthan Medical Council      </a> </b> </td> 
	<td> <b> <a href=" .php" target="_blank"> RMC </a> </b> </td> 
</tr>
<tr> 
	<td> <b>  <a href="https://trifed.tribal.gov.in/Rajasthan" target="_blank"> Rajasthan Tribal Area Development Cooperative Federation Limited, Udaipur       </a> </b> </td> 
	<td> <b> <a href=" .php" target="_blank"> TRIFED </a> </b> </td> 
</tr>
<tr> 
	<td> <b>  <a href="https://energy.rajasthan.gov.in/content/raj/energy-department/rajasthan-urja-vikas-nigam-ltd-/en/home.html" target="_blank"> Rajasthan Urja Vikas Nigam Ltd  
     </a> </b> </td> 
	<td> <b> <a href=" .php" target="_blank"> RUVN </a> </b> </td> 
</tr>
<tr> 
	<td> <b>  <a href="" target="_blank">      </a> </b> </td> 
	<td> <b> <a href=" .php" target="_blank">  </a> </b> </td> 
</tr>
				  </tbody>

                                  </table>
                            </div>

                                            <!--begin::Table-->

                </div>
            </div>
        </div>
    </section>

                  <!--end::Row-->

{% include 'footerr.html' %}
