    <!-- Destination Section -->
    <section class="section destination-section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-5 col-lg-10 text-center wow fadeInUp" data-wow-delay="0.2s">
                    <div class="section-header section-header-four text-center">
                        <h2 class="mb-2"><span>Popular</span> Locations</h2>
                        <p class="sub-title">Connecting Needs with Offers for the Professional Flight Services, Book your next flight appointment with ease.</p>
                    </div>
                </div>
            </div>

            <div class="row justify-content-center g-4">
                
                {% for t in mytehsils %}
                <!-- Destination Item-->
                <div class="col-lg-3 col-sm-6">
                    <div class="location-wrap wow fadeInDown">
                        <!-- <img src="assets/img/destination/destination-15.jpg" alt="img"> -->
                        <span class="loc-name bg-white">{{ t.name_hi }}</span>
                        <!-- <a href="flight-grid.html" class="loc-view"><i class="isax isax-arrow-right-1"></i></a> -->
                         <p> {{ t.name_hi }} </p>
                    </div>
                </div>
                <!-- /Destination Item-->
                
                {% endfor %}


            </div>


            


            </div>


        </div>
    </section>
    <!-- /Destination Section -->
