    <!-- Benefit Section -->
    <section class="section work-section-six">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-xxl-3 col-lg-4">
                    <div class="section-header-six mb-0 wow fadeInUp" data-wow-delay="1.5">
                        <span class="badge badge-soft-primary rounded-pill mb-1">Visit Rajsamand</span>
                        <h2>क्यों पधारे राजसमन्द ? <span class="text-primary">.</span></h2>
                    </div>
                </div>
                <div class="col-xxl-9 col-lg-8">
                    <div class="row align-items-center">

                        <div class="col-md-4 col-sm-6">
                            <div class="bg-teal-trans mb-4 wow fadeInUp" data-wow-delay="1.5">
                                <div class="card border-0 mb-0">
                                    <div class="card-body">
                                        <div class="d-flex align-items-center justify-content-between mb-3">
                                            <span class="work-icon text-teal d-flex">
                                            <span class="work-avatar">
                                                01
                                            </span>
                                            </span>
                                        </div>
                                        <div>
                                            <h5 class="mb-2 text-truncate">ऐतिहासिक राजसमन्द </h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <div class="bg-prime-trans mb-4 wow fadeInUp" data-wow-delay="1.5">
                                <div class="card border-0 mb-0">
                                    <div class="card-body">
                                        <div class="d-flex align-items-center justify-content-between mb-3">
                                            <span class="work-icon text-primary d-flex">
                                            <span class="work-avatar">
                                                02
                                            </span>
                                            </span>
                                        </div>
                                        <div>
                                            <h5 class="mb-2 text-truncate">                                                सांस्कृतिक राजसमन्द </h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <div class="bg-purple-trans mb-4 wow fadeInUp" data-wow-delay="1.5">
                                <div class="card border-0 mb-0">
                                    <div class="card-body">
                                        <div class="d-flex align-items-center justify-content-between mb-3">
                                            <span class="work-icon text-purple d-flex">
                                            <span class="work-avatar">
                                                03
                                            </span>
                                                
                                            </span>
                                        </div>
                                        <div>
                                            <h5 class="mb-2">भौगोलिक राजसमन्द </h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>



                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- /Benefit Section -->
