  <link rel="stylesheet" href="assets/css/mapstyle.css">
          <!-- for other -->
          <div class="image-indicators">
                  <input type="checkbox" class="point" id="point-1" name="point" value="1">
                  <input type="checkbox" class="point" id="point-2" name="point" value="2">
                  <input type="checkbox" class="point" id="point-3" name="point" value="3">
                  <input type="checkbox" class="point" id="point-4" name="point" value="4">
                  <input type="checkbox" class="point" id="point-5" name="point" value="5">
                  <label for="point-1" id="label-1" >
                      <span>
                          <span></span>
                      </span>
                  </label>
                  <label for="point-2" id="label-2" >
                      <span>
                          <span></span>
                      </span>
                  </label>
                  <label for="point-3" id="label-3"> 
                      <span>
                          <span> </span>
                      </span>
                  </label>
                  <label for="point-4" id="label-4">
                      <span>
                          <span></span>
                      </span>
                  </label>
                  <label for="point-5" id="label-5">
                      <span>
                          <span></span>
                      </span>
                  </label>

        <!--
        <div class="description">
            <div>
                <p>La peste à la Tourette représentant le chevalier Roze et les échevins, huile sur toile, 1755, collection Musée d'Histoire de Marseille.</p>
            </div>
            <div>
                <p>Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil</p>
                <p>impedit quo minus id quod maxime placeat facere possimus.</p>
            </div>
            <div>
                <p>Proin nunc sem, pretium vehicula erat vitae, pulvinar faucibus lectus.</p>
                <p>Curabitur ullamcorper elementum augue, ac tristique lacus commodo.</p>
            </div>
            <div>
                <p>Aliquam euismod, leo nec efficitur aliquet, neque nulla volutpat mi </p>
                <p>eget pretium mauris ligula vel semper.</p>
            </div>
            <div>
                <p>Mauris posuere, mauris in ultricies, neque nulla volutpat mi </p>
                <p>eget pretium mauris ligula vel semper.</p>
            </div>
        </div>
      -->


                        <div class="section-right-img">
                            <div class="card review-rate-top border-0 mb-0">
                            </div>
                        </div>
                         
                        <img src="assets/img/rajsamandmap.png" alt="img" class="">
                      


        </div>
