{% load static %}
{% include 'header.html' %}


                      <!--begin::Section-->
          <section class="section blog-section blog-sec-six lang hi active">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-12 wow fadeInUp" data-wow-delay="0.2s">
                    <div class="section-header-six">
                        <h2>शहरी<span class="text-primary">.</span></h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">

                                            <!--begin::Table-->
                            <div class="custom-datatable-filter table-responsive">
                                <table class="table datatable">

                        <thead>
                            <tr>
                                <th> SNO </th>
                                <th> उपखंड का नाम  </th>
                                <th> स्थानीय निकाय </th>
                                <th> अध्यक्ष का नाम </th>
                                <th> वार्डों की संख्या   </th>
                                <th> पार्षदों की सूची </th>
                                          
                            </tr>
                        </thead>
                        <tbody>

                    
                            <tr>
                                <td> 1. </td>
                                <td> राजसमन्द  </td>
                                <td> नगर परिषद् राजसमन्द  </td>
                                <td>  </td>
								<td> 51 </td>
                                <td> <a href='' class=''>  सूची  </a> </td>
                            </tr>
                            <tr>
                                <td> 2. </td>
                                <td> आमेट  </td>
                                <td> नगर पालिका आमेट  </td>
                                <td>  </td>
								<td> 25 </td>
                                <td> <a href='' class=''> सूची  </a> </td>
                            </tr>
                            <tr>
                                <td> 3. </td>
                                <td> नाथद्वारा </td>
                                <td> नगर पालिका नाथद्वारा  </td>
                                <td>  </td>
								<td> 40 </td>
                                <td> <a href='.php' class=''> सूची  </a> </td>
                            </tr>
                            <tr>
                                <td> 4. </td>
                                <td> देवगढ  </td>
                                <td> नगर पालिका देवगढ़  </td>
                                <td> </td>
								<td> 30 </td>
                                <td> <a href='.php' class=''>  सूची  </a> </td>
                            </tr>
                 
                        </tbody>

                                  </table>
                            </div>

                </div>
            </div>
        </div>
    </section>

                  <!--end::Row-->


                      <!--begin::Section-->
           <section class="section blog-section blog-sec-six lang en">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-12 wow fadeInUp" data-wow-delay="0.2s">
                    <div class="section-header-six">
                        <h2> Urban <span class="text-primary">.</span></h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">

                                            <!--begin::Table-->
                            <div class="custom-datatable-filter table-responsive">
                                <table class="table datatable">
                    <thead>
                            <tr>
                                 <th> SNO </th>
                                 <th> subdivision name </th>
                                 <th> local body </th>
                                 <th>Chairman Name</th>
                                 <th> No. of Wards </th>
                                 <th>List of Councilors</th>
                             </tr>
                   </thead>
                   <tbody>
                    
                             <tr>
                                 <td>1. </td>
                                 <td> Rajsamand </td>
                                 <td> Municipal Council Rajsamand </td>
                                 <td> </td>
                                <td>51</td>
                                 <td> <a href='' class=''> list </a> </td>
                             </tr>
                             <tr>
                                 <td>2. </td>
                                 <td> Amet </td>
                                 <td>Nagar Palika Amet </td>
                                 <td> </td>
                                 <td>25</td>
                                 <td> <a href='' class=''> list </a> </td>
                             </tr>
                             <tr>
                                 <td>3. </td>
                                 <td>Nathdwara </td>
                                 <td> Nathdwara Nagar Palika </td>
                                 <td> </td>
                                 <td>40</td>
                                 <td> <a href='.php' class=''> list </a> </td>
                             </tr>
                             <tr>
                                 <td>4. </td>
                                 <td> Deogarh </td>
                                 <td>Municipality Deogarh </td>
                                 <td> </td>
                                 <td>30</td>
                                 <td> <a href='.php' class=''> list </a> </td>
                             </tr>
                    </tbody>
                                  </table>
                            </div>

                </div>
            </div>
        </div>
    </section>

                  <!--end::Row-->


{% include 'footerr.html' %}
