{% load static %}
{% include 'header.html' %}

    <!-- Hero Section -->
    <section class="hero-section-four">
        <div class="container">
            <div class="hero-content">
                <div class="row align-items-center">

                        <!-- Recently Added -->
                        <div class="col-xl-6 col-xxl-5 d-flex">
                            <div class="card shadow-none flex-fill">
                                <div class="card-body">
                                    <h6 class="mb-4"> Recently Added</h6>
                                    
                                    <div class="d-flex justify-content-between align-items-center mb-4">
                                        <div class="d-flex align-items-center">
                                            <a href="#" class="avatar avatar-lg flex-shrink-0 me-2">
                                                <img src="assets/img/bank.png" class="img-fluid rounded-circle" alt="Img">
                                            </a>
                                            
                                            <div>
                                                <h6 class="fs-16">Banks </h6>
                                            </div>
                                        </div>
                                        <a href="banks.php" class="btn btn-rounded btn-info rebook-btn "> See 00 List </a>
                                    </div>
                                    

                                    <div class="d-flex justify-content-between align-items-center mb-4">
                                        <div class="d-flex align-items-center">
                                            <a href="#" class="avatar avatar-lg flex-shrink-0 me-2">
                                                <img src="assets/img/electrical-energy.png" class="img-fluid rounded-circle" alt="Img">
                                            </a>
                                            <div>
                                                <h6 class="fs-16"> Electricity </h6>
                                            </div>
                                        </div>
                                        <a href="electricity.php" class="btn btn-rounded btn-info rebook-btn "> See 00 List </a>
                                    </div>

                                    <div class="d-flex justify-content-between align-items-center mb-4">
                                        <div class="d-flex align-items-center">
                                            <a href="#" class="avatar avatar-lg flex-shrink-0 me-2">
                                                <img src="assets/img/administration.png" class="img-fluid rounded-circle" alt="Img">
                                            </a>
                                            <div>
                                                <h6 class="fs-16"> Municipality </h6>
                                            </div>
                                        </div>
                                        <a href="municipality.php" class="btn btn-rounded btn-info rebook-btn "> See 00 List </a>
                                    </div>

                                    <div class="d-flex justify-content-between align-items-center mb-4">
                                        <div class="d-flex align-items-center">
                                            <a href="#" class="avatar avatar-lg flex-shrink-0 me-2">
                                                <img src="assets/img/college.png" class="img-fluid rounded-circle" alt="Img">
                                            </a>
                                            <div>
                                                <h6 class="fs-16"> Colleges </h6>
                                            </div>
                                        </div>
                                        <a href="colleges.php" class="btn btn-rounded btn-info rebook-btn "> See 00 List </a>
                                    </div>

                                    <div class="d-flex justify-content-between align-items-center mb-4">
                                        <div class="d-flex align-items-center">
                                            <a href="#" class="avatar avatar-lg flex-shrink-0 me-2">
                                                <img src="assets/img/police-station.png" class="img-fluid rounded-circle" alt="Img">
                                            </a>
                                            <div>
                                                <h6 class="fs-16"> Police Stations </h6>
                                            </div>
                                        </div>
                                        <a href="police.php" class="btn btn-rounded btn-info rebook-btn "> See 00 List </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /Recently Added -->


                        <!-- Recently Added -->
                        <div class="col-xl-6 col-xxl-5 d-flex">
                            <div class="card shadow-none flex-fill">
                                <div class="card-body">
                                    <h6 class="mb-4">Recently Added</h6>
                                    
                                    <div class="d-flex justify-content-between align-items-center mb-4">
                                        <div class="d-flex align-items-center">
                                            <a href="#" class="avatar avatar-lg flex-shrink-0 me-2">
                                                <img src="assets/img/postbox.png" class="img-fluid rounded-circle" alt="Img">
                                            </a>
                                            <div>
                                                <h6 class="fs-16">  Post Offices  </h6>
                                            </div>
                                        </div>
                                        <a href="postoffices.php" class="btn btn-rounded btn-info rebook-btn "> See 00 List </a>
                                    </div>

                                    <div class="d-flex justify-content-between align-items-center mb-4">
                                        <div class="d-flex align-items-center">
                                            <a href="#" class="avatar avatar-lg flex-shrink-0 me-2">
                                                <img src="assets/img/judge.png" class="img-fluid rounded-circle" alt="Img">
                                            </a>
                                            <div>
                                                <h6 class="fs-16"> Courts  </h6>
                                            </div>
                                        </div>
                                        <a href="courts.php" class="btn btn-rounded btn-info rebook-btn "> See 00 List </a>
                                    </div>

                                    <div class="d-flex justify-content-between align-items-center mb-4">
                                        <div class="d-flex align-items-center">
                                            <a href="#" class="avatar avatar-lg flex-shrink-0 me-2">
                                                <img src="assets/img/hospital.png" class="img-fluid rounded-circle" alt="Img">
                                            </a>
                                            <div>
                                                <h6 class="fs-16"> Hospitals </h6>
                                            </div>
                                        </div>
                                        <a href="hospitals.php" class="btn btn-rounded btn-info rebook-btn "> See 00 List </a>
                                    </div>

                                    <div class="d-flex justify-content-between align-items-center mb-4">
                                        <div class="d-flex align-items-center">
                                            <a href="#" class="avatar avatar-lg flex-shrink-0 me-2">
                                                <img src="assets/img/school.png" class="img-fluid rounded-circle" alt="Img">
                                            </a>
                                            <div>
                                                <h6 class="fs-16"> Schools </h6>
                                            </div>
                                        </div>
                                        <a href="schools.php" class="btn btn-rounded btn-info rebook-btn "> See 00 List </a>
                                    </div>

                                    <div class="d-flex justify-content-between align-items-center mb-4">
                                        <div class="d-flex align-items-center">
                                            <a href="#" class="avatar avatar-lg flex-shrink-0 me-2">
                                                <img src="assets/img/ngo.png" class="img-fluid rounded-circle" alt="Img">
                                            </a>
                                            <div>
                                                <h6 class="fs-16"> NGOs </h6>
                                            </div>
                                        </div>
                                        <a href="banks.php" class="btn btn-rounded btn-info rebook-btn "> See 00 List </a>
                                    </div>




                                </div>
                            </div>
                        </div>
                        <!-- /Recently Added -->



                </div>
            </div>
        </div>
    </section>
    <!-- /Hero Section -->


{% include 'footerr.html' %}
