    <!-- Blog Section -->
    <section class="section blog-section">
        <div class="container">
            <div class="row">
                <div class="col-xl-12 text-center wow fadeInUp" data-wow-delay="0.2s">
                    <div class="section-header text-center">
                        <span class="car-icon mb-1">
							<img src="assets/img/icons/car-icon.svg" alt="img">
						</span>
                        <h2 class="mb-2"><?= _vidg1 ?></h2>
                    </div>
                </div>
            </div>
            <div class="row g-4 justify-content-center">

                <!-- Blog Item-->
                <div class="col-lg-4 col-md-6 d-flex">
                    <div class="blog-item blog-wrap flex-fill wow fadeInUp" data-wow-delay="0.2s">
                        <a href="https://youtu.be/HWVsMyAglw8" class="blog-img">
                            <img src="assets/img/thumbnail01.jpg" alt="img">
                            <span class="badge bg-white text-gray-9 fs-14 fw-medium">Video</span>
                        </a>
                        <div class="blog-content">
                            <div class="d-flex align-items-center justify-content-between">
                                <a href="https://youtu.be/HWVsMyAglw8" class="d-flex align-items-center mb-2">
                                    <span class="avatar avatar-md flex-shrink-0 me-2">
										<img src="assets/img/logo02.png" alt="img" class="rounded-circle">
									</span>
                                    <p class="fs-14">Rajsamand.tech</p>
                                </a>
                                <p class="fs-13 fw-medium d-flex align-items-center mb-2"><i class="isax isax-calendar-1 text-gray-9 fs-20 me-2"></i>1 April, 2025</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /Blog Item-->

                <!-- /Blog Item-->

            </div>

            <!-- Business-
            <div class="app-wrap bg-light">
                <div class="row">
                    <div class="col-lg-6 d-flex">
                        <div class="app-info flex-fill  wow fadeIn">
                            <h2 class="display-5 mb-3">Download Our App to Enjoy Unlimited Services</h2>
                            <p class="mb-3">Out App Available iin all Platforms</p>
                            <div class="d-flex align-items-center">
                                <a href="javascript:void(0);" class="me-3">
                                    <img src="assets/img/icons/googleplay.svg" alt="img">
                                </a>
                                <a href="javascript:void(0);">
                                    <img src="assets/img/icons/appstore.svg" alt="img">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 d-flex">
                        <div class="app-img flex-fill wow zoomIn">
                            <img src="assets/img/cars/car.png" alt="img">
                        </div>
                    </div>
                </div>
                <div class="app-bg">
                    <img src="assets/img/bg/app-bg-01.png" alt="img" class="app-bg-01">
                    <img src="assets/img/bg/app-bg-02.png" alt="img" class="app-bg-02">
                </div>
            </div>
            /Business -->

            <!-- Client Section -
            <div class="client-section-three">
                <div class="container">
                    <div class="owl-carousel client-slider">
                        <div class="client-img">
                            <img src="assets/img/clients/client-01.svg" alt="img">
                        </div>
                        <div class="client-img">
                            <img src="assets/img/clients/client-02.svg" alt="img">
                        </div>
                        <div class="client-img">
                            <img src="assets/img/clients/client-03.svg" alt="img">
                        </div>
                        <div class="client-img">
                            <img src="assets/img/clients/client-04.svg" alt="img">
                        </div>
                        <div class="client-img">
                            <img src="assets/img/clients/client-05.svg" alt="img">
                        </div>
                        <div class="client-img">
                            <img src="assets/img/clients/client-06.svg" alt="img">
                        </div>
                        <div class="client-img">
                            <img src="assets/img/clients/client-07.svg" alt="img">
                        </div>
                    </div>
                </div>
            </div>
            /Client Section -->

        </div>
    </section>
    <!-- /Blog Section -->
