{% load static %}
{% include 'header.html' %}

                      <!--begin::Section-->
          <section class="section blog-section blog-sec-six lang hi active">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-12 wow fadeInUp" data-wow-delay="0.2s">
                    <div class="section-header-six">
                        <h2>कौन क्या है ? - Who is Who ? <span class="text-primary">.</span></h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">

                                            <!--begin::Table-->
                            <div class="custom-datatable-filter table-responsive">
                                <table class="table datatable">
											  <thead>
														<tr>
							                                <th> क्रमांक </th>
							                                <th> पद का नाम  </th>
							                                <th> फोटों  </th>
							                                <th> पदासीन व्यक्ति </th>
							                                <th> विवरण </th>
															
							                            </tr>
											  </thead>
											  <tbody>
<tr>
	<td>1</td>
	<td>President (Droupadi Murmu)</td>
	<td><img src='img/poli/.jpg' alt='' width='50' height='50'></td>
	<td></td>
	<td><a href=' ' target='_blank'>Link</a> </td>
</tr>
<tr><td>2</td><td>Vice-President (Jagdeep Dhankhar)</td><td><img src='img/poli/.jpg' alt='' width='50' height='50'></td><td></td><td><a href=' ' target='_blank'>Link</a> </td></tr>
<tr><td>3</td><td>Prime Minister (Narendra Modi)</td><td><img src='img/poli/.jpg' alt='' width='50' height='50'></td><td></td><td><a href=' ' target='_blank'>Link</a> </td></tr>
<tr><td>4</td><td>Governors of States (within their respective states)</td><td><img src='img/poli/.jpg' alt='' width='50' height='50'></td><td></td><td><a href=' ' target='_blank'>Link</a> </td></tr>
<tr><td>5</td><td>Former Presidents (Pratibha Patil and Ram Nath Kovind)</td><td><img src='img/poli/.jpg' alt='' width='50' height='50'></td><td></td><td><a href=' ' target='_blank'>Link</a> </td></tr>
<tr><td>6</td><td>Deputy Prime Minister (presently vacant)[3]</td><td><img src='img/poli/.jpg' alt='' width='50' height='50'></td><td></td><td><a href=' ' target='_blank'>Link</a> </td></tr>
<tr><td>7</td><td>    Chief Justice (Dhananjaya Y. Chandrachud)</td><td><img src='img/poli/.jpg' alt='' width='50' height='50'></td><td></td><td><a href=' ' target='_blank'>Link</a> </td></tr>
<tr><td>8</td><td>    Speaker of the Lok Sabha (Om Birla)</td><td><img src='img/poli/.jpg' alt='' width='50' height='50'></td><td></td><td><a href=' ' target='_blank'>Link</a> </td></tr>
<tr><td>9</td><td>    Cabinet Ministers of the Union</td><td><img src='img/poli/.jpg' alt='' width='50' height='50'></td><td></td><td><a href=' ' target='_blank'>Link</a> </td></tr>
<tr><td>10</td><td>    National Security Advisor (Ajit Doval)[4]</td><td><img src='img/poli/.jpg' alt='' width='50' height='50'></td><td></td><td><a href=' ' target='_blank'>Link</a> </td></tr>
<tr><td>11</td><td>    Principal Secretary to the Prime Minister (Pramod Kumar Misra)</td><td><img src='img/poli/.jpg' alt='' width='50' height='50'></td><td></td><td><a href=' ' target='_blank'>Link</a> </td></tr>
<tr><td>12</td><td>    Chief Ministers of States (within their respective states)</td><td><img src='img/poli/.jpg' alt='' width='50' height='50'></td><td></td><td><a href=' ' target='_blank'>Link</a> </td></tr>
<tr><td>13</td><td>    Deputy Chairman of the Planning Commission (position no longer exists, replaced by NITI Aayog)[a]</td><td><img src='img/poli/.jpg' alt='' width='50' height='50'></td><td></td><td><a href=' ' target='_blank'>Link</a> </td></tr>
<tr><td>14</td><td>    Former Prime Ministers (H. D. Deve Gowda and Manmohan Singh)</td><td><img src='img/poli/.jpg' alt='' width='50' height='50'></td><td></td><td><a href=' ' target='_blank'>Link</a> </td></tr>
<tr><td>15</td><td>    Leaders of the opposition in the Rajya Sabha (Mallikarjun Kharge) and the Lok Sabha (Vacant)</td><td><img src='img/poli/.jpg' alt='' width='50' height='50'></td><td></td><td><a href=' ' target='_blank'>Link</a> </td></tr>
<tr><td>16</td><td>    Holders of the Bharat Ratna decoration (Amartya Sen, Sachin Tendulkar and C. N. R. Rao)</td><td><img src='img/poli/.jpg' alt='' width='50' height='50'></td><td></td><td><a href=' ' target='_blank'>Link</a> </td></tr>
<tr><td>17</td><td>    Ambassadors Extraordinary and Plenipotentiary and the High Commissioners of Commonwealth countries accredited to India.</td><td><img src='img/poli/.jpg' alt='' width='50' height='50'></td><td></td><td><a href=' ' target='_blank'>Link</a> </td></tr>
<tr><td>18</td><td>    Governors of States (when outside their respective states)</td><td><img src='img/poli/.jpg' alt='' width='50' height='50'></td><td></td><td><a href=' ' target='_blank'>Link</a> </td></tr>
<tr><td>19</td><td>    Chief ministers of States (when outside their respective states)</td><td><img src='img/poli/.jpg' alt='' width='50' height='50'></td><td></td><td><a href=' ' target='_blank'>Link</a> </td></tr>
<tr><td>20</td><td>Judges of the Supreme Court of India</td><td><img src='img/poli/.jpg' alt='' width='50' height='50'></td><td></td><td><a href=' ' target='_blank'>Link</a> </td></tr>
<tr><td>21</td><td>    Chairperson of the Union Public Service Commission (Dr. Manoj Soni) [6]</td><td><img src='img/poli/.jpg' alt='' width='50' height='50'></td><td></td><td><a href=' ' target='_blank'>Link</a> </td></tr>
<tr><td>22</td><td>    Chief Election Commissioner (Rajiv Kumar)</td><td><img src='img/poli/.jpg' alt='' width='50' height='50'></td><td></td><td><a href=' ' target='_blank'>Link</a> </td></tr>
<tr><td>23</td><td>    Comptroller and Auditor General (Girish Chandra Murmu)</td><td><img src='img/poli/.jpg' alt='' width='50' height='50'></td><td></td><td><a href=' ' target='_blank'>Link</a> </td></tr>
<tr><td>24</td><td>    Deputy Chairman of the Rajya Sabha (Harivansh Narayan Singh)</td><td><img src='img/poli/.jpg' alt='' width='50' height='50'></td><td></td><td><a href=' ' target='_blank'>Link</a> </td></tr>
<tr><td>25</td><td>    Deputy Chief Ministers of States</td><td><img src='img/poli/.jpg' alt='' width='50' height='50'></td><td></td><td><a href=' ' target='_blank'>Link</a> </td></tr>
<tr><td>26</td><td>    Deputy Speaker of the Lok Sabha (vacant)</td><td><img src='img/poli/.jpg' alt='' width='50' height='50'></td><td></td><td><a href=' ' target='_blank'>Link</a> </td></tr>
<tr><td>27</td><td>    Members of the Planning Commission (position no longer exists, replaced by NITI Aayog)[a]</td><td><img src='img/poli/.jpg' alt='' width='50' height='50'></td><td></td><td><a href=' ' target='_blank'>Link</a> </td></tr>
<tr><td>28</td><td>    Ministers of State of the Union</td><td><img src='img/poli/.jpg' alt='' width='50' height='50'></td><td></td><td><a href=' ' target='_blank'>Link</a> </td></tr>
<tr><td>29</td><td>    Attorney General (R. Venkataramani)</td><td><img src='img/poli/.jpg' alt='' width='50' height='50'></td><td></td><td><a href=' ' target='_blank'>Link</a> </td></tr>
<tr><td>30</td><td>    Cabinet Secretary (Rajiv Gauba)</td><td><img src='img/poli/.jpg' alt='' width='50' height='50'></td><td></td><td><a href=' ' target='_blank'>Link</a> </td></tr>
<tr><td>31</td><td>    Principal Scientific Adviser to the Government of India (Ajay Sood)</td><td><img src='img/poli/.jpg' alt='' width='50' height='50'></td><td></td><td><a href=' ' target='_blank'>Link</a> </td></tr>
<tr><td>32</td><td>    Lieutenant Governors of Union Territories (within their respective Union Territories)</td><td><img src='img/poli/.jpg' alt='' width='50' height='50'></td><td></td><td><a href=' ' target='_blank'>Link</a> </td></tr>
<tr><td>33</td><td>    Chiefs of Staff holding the rank of full General or equivalent rank (Four-star rank officers in the armed forces)</td><td><img src='img/poli/.jpg' alt='' width='50' height='50'></td><td></td><td><a href=' ' target='_blank'>Link</a> </td></tr>
<tr><td>34</td><td>        Chief of Defence Staff (General Anil Chauhan)</td><td><img src='img/poli/.jpg' alt='' width='50' height='50'></td><td></td><td><a href=' ' target='_blank'>Link</a> </td></tr>
<tr><td>35</td><td>        Chief of the Army Staff (General Manoj Pande)</td><td><img src='img/poli/.jpg' alt='' width='50' height='50'></td><td></td><td><a href=' ' target='_blank'>Link</a> </td></tr>
<tr><td>36</td><td>        Chief of the Air Staff (Air Chief Marshal Vivek Ram Chaudhari)</td><td><img src='img/poli/.jpg' alt='' width='50' height='50'></td><td></td><td><a href=' ' target='_blank'>Link</a> </td></tr>
<tr><td>37</td><td>        Chief of the Naval Staff (Admiral R. Hari Kumar)</td><td><img src='img/poli/.jpg' alt='' width='50' height='50'></td><td></td><td><a href=' ' target='_blank'>Link</a> </td></tr>
<tr><td>38</td><td>Envoys Extraordinary and Ministers Plenipotentiary accredited to India</td><td><img src='img/poli/.jpg' alt='' width='50' height='50'></td><td></td><td><a href=' ' target='_blank'>Link</a> </td></tr>
<tr><td>39</td><td>    Chief Justices of High Courts (within their respective jurisdictions)</td><td><img src='img/poli/.jpg' alt='' width='50' height='50'></td><td></td><td><a href=' ' target='_blank'>Link</a> </td></tr>
<tr><td>40</td><td>    Chairmen and Speakers of State Legislatures (within their respective states)</td><td><img src='img/poli/.jpg' alt='' width='50' height='50'></td><td></td><td><a href=' ' target='_blank'>Link</a> </td></tr>
<tr><td>41</td><td>    Chief Ministers of Union Territories (within their respective union territories)</td><td><img src='img/poli/.jpg' alt='' width='50' height='50'></td><td></td><td><a href=' ' target='_blank'>Link</a> </td></tr>
<tr><td>42</td><td>    Cabinet Ministers in States (within their respective states)</td><td><img src='img/poli/.jpg' alt='' width='50' height='50'></td><td></td><td><a href=' ' target='_blank'>Link</a> </td></tr>
<tr><td>43</td><td>    Chief Executive Councillor of Delhi (within their respective union territories) (position no longer exists)[b]</td><td><img src='img/poli/.jpg' alt='' width='50' height='50'></td><td></td><td><a href=' ' target='_blank'>Link</a> </td></tr>
<tr><td>44</td><td>    Deputy Ministers of the Union</td><td><img src='img/poli/.jpg' alt='' width='50' height='50'></td><td></td><td><a href=' ' target='_blank'>Link</a> </td></tr>
<tr><td>45</td><td>Officiating Chiefs of Staff holding the rank of Lieutenant General or equivalent rank</td><td><img src='img/poli/.jpg' alt='' width='50' height='50'></td><td></td><td><a href=' ' target='_blank'>Link</a> </td></tr>
<tr><td>46</td><td>    Chairperson, Central Administrative Tribunal</td><td><img src='img/poli/.jpg' alt='' width='50' height='50'></td><td></td><td><a href=' ' target='_blank'>Link</a> </td></tr>
<tr><td>47</td><td>    Chairperson, National Commission for Minorities</td><td><img src='img/poli/.jpg' alt='' width='50' height='50'></td><td></td><td><a href=' ' target='_blank'>Link</a> </td></tr>
<tr><td>48</td><td>    Chairperson, National Commission for Scheduled Castes[5]</td><td><img src='img/poli/.jpg' alt='' width='50' height='50'></td><td></td><td><a href=' ' target='_blank'>Link</a> </td></tr>
<tr><td>49</td><td>    Chairperson, National Commission for Scheduled Tribes[5]</td><td><img src='img/poli/.jpg' alt='' width='50' height='50'></td><td></td><td><a href=' ' target='_blank'>Link</a> </td></tr>
<tr><td>50</td><td>    Chief Justices of High Courts (outside their respective jurisdictions)</td><td><img src='img/poli/.jpg' alt='' width='50' height='50'></td><td></td><td><a href=' ' target='_blank'>Link</a> </td></tr>
<tr><td>51</td><td>    Puisne Judges of High Courts (within their respective jurisdictions)</td><td><img src='img/poli/.jpg' alt='' width='50' height='50'></td><td></td><td><a href=' ' target='_blank'>Link</a> </td></tr>
<tr><td>52</td><td>    Cabinet ministers in states (outside their respective states)</td><td><img src='img/poli/.jpg' alt='' width='50' height='50'></td><td></td><td><a href=' ' target='_blank'>Link</a> </td></tr>
<tr><td>53</td><td>    Chairmen and speakers of state legislatures (outside their respective states)</td><td><img src='img/poli/.jpg' alt='' width='50' height='50'></td><td></td><td><a href=' ' target='_blank'>Link</a> </td></tr>
<tr><td>54</td><td>    Chairman of Monopolies and Restrictive Trade Practices Commission (position no longer exists)[c]</td><td><img src='img/poli/.jpg' alt='' width='50' height='50'></td><td></td><td><a href=' ' target='_blank'>Link</a> </td></tr>
<tr><td>55</td><td>    Deputy chairmen and deputy speakers of state legislatures (within their respective states)</td><td><img src='img/poli/.jpg' alt='' width='50' height='50'></td><td></td><td><a href=' ' target='_blank'>Link</a> </td></tr>
<tr><td>56</td><td>    Ministers of state in states (within their respective states)</td><td><img src='img/poli/.jpg' alt='' width='50' height='50'></td><td></td><td><a href=' ' target='_blank'>Link</a> </td></tr>
<tr><td>57</td><td>    Ministers of union territories and executive councillors of Delhi (within their respective union territories)</td><td><img src='img/poli/.jpg' alt='' width='50' height='50'></td><td></td><td><a href=' ' target='_blank'>Link</a> </td></tr>
<tr><td>58</td><td>    Speakers of legislative assemblies in union territories</td><td><img src='img/poli/.jpg' alt='' width='50' height='50'></td><td></td><td><a href=' ' target='_blank'>Link</a> </td></tr>
<tr><td>59</td><td>    Chairman of Delhi Metropolitan Council (within their respective union territories) (position no longer exists)[b]</td><td><img src='img/poli/.jpg' alt='' width='50' height='50'></td><td></td><td><a href=' ' target='_blank'>Link</a> </td></tr>
<tr><td>60</td><td>    Chief commissioners of union territories not having a council of ministers (within their respective union territories)</td><td><img src='img/poli/.jpg' alt='' width='50' height='50'></td><td></td><td><a href=' ' target='_blank'>Link</a> </td></tr>
<tr><td>61</td><td>    Deputy ministers in states (within their respective states)</td><td><img src='img/poli/.jpg' alt='' width='50' height='50'></td><td></td><td><a href=' ' target='_blank'>Link</a> </td></tr>
<tr><td>62</td><td>    Deputy speakers of legislative assemblies in union territories</td><td><img src='img/poli/.jpg' alt='' width='50' height='50'></td><td></td><td><a href=' ' target='_blank'>Link</a> </td></tr>
<tr><td>63</td><td>    Deputy chairman of Delhi Metropolitan Council (within their respective union territories)[b]</td><td><img src='img/poli/.jpg' alt='' width='50' height='50'></td><td></td><td><a href=' ' target='_blank'>Link</a> </td></tr>
<tr><td>64</td><td>    Deputy chairmen and deputy speakers of state legislatures (outside their respective states)</td><td><img src='img/poli/.jpg' alt='' width='50' height='50'></td><td></td><td><a href=' ' target='_blank'>Link</a> </td></tr>
<tr><td>65</td><td>    Ministers of state in states (outside their respective state)</td><td><img src='img/poli/.jpg' alt='' width='50' height='50'></td><td></td><td><a href=' ' target='_blank'>Link</a> </td></tr>
<tr><td>66</td><td>Members of Parliament</td><td><img src='img/poli/.jpg' alt='' width='50' height='50'></td><td></td><td><a href=' ' target='_blank'>Link</a> </td></tr>
<tr><td>67</td><td>Deputy ministers in states (outside their respective states)</td><td><img src='img/poli/.jpg' alt='' width='50' height='50'></td><td></td><td><a href=' ' target='_blank'>Link</a> </td></tr>
<tr><td>68</td><td>    Senior Three-star rank officers in the armed forces who are in the C-in-C (Commanding-in-Chief) grade or Vice Chiefs of staff, holding the rank of Lieutenant General or equivalent rank</td><td><img src='img/poli/.jpg' alt='' width='50' height='50'></td><td></td><td><a href=' ' target='_blank'>Link</a> </td></tr>
<tr><td>69</td><td>        Vice Chief of the Army Staff (Lieutenant General B. S. Raju)</td><td><img src='img/poli/.jpg' alt='' width='50' height='50'></td><td></td><td><a href=' ' target='_blank'>Link</a> </td></tr>
<tr><td>70</td><td>        Army Commanders (General Officers Commanding-in-Chief)</td><td><img src='img/poli/.jpg' alt='' width='50' height='50'></td><td></td><td><a href=' ' target='_blank'>Link</a> </td></tr>
<tr><td>71</td><td>        Vice Chief of the Naval Staff (Vice Admiral Satish Namdeo Ghormade)</td><td><img src='img/poli/.jpg' alt='' width='50' height='50'></td><td></td><td><a href=' ' target='_blank'>Link</a> </td></tr>
<tr><td>72</td><td>        Naval Commanders (Flag Officers Commanding-in-Chief)</td><td><img src='img/poli/.jpg' alt='' width='50' height='50'></td><td></td><td><a href=' ' target='_blank'>Link</a> </td></tr>
<tr><td>73</td><td>        Vice Chief of the Air Staff (Air Marshal Sandeep Singh)</td><td><img src='img/poli/.jpg' alt='' width='50' height='50'></td><td></td><td><a href=' ' target='_blank'>Link</a> </td></tr>
<tr><td>74</td><td>        Air Commanders (Air Officers Commanding-in-Chief)</td><td><img src='img/poli/.jpg' alt='' width='50' height='50'></td><td></td><td><a href=' ' target='_blank'>Link</a> </td></tr>
<tr><td>75</td><td>    Secretaries to the Government of India</td><td><img src='img/poli/.jpg' alt='' width='50' height='50'></td><td></td><td><a href=' ' target='_blank'>Link</a> </td></tr>
<tr><td>76</td><td>    Chief secretaries to state Governments (within their respective states)</td><td><img src='img/poli/.jpg' alt='' width='50' height='50'></td><td></td><td><a href=' ' target='_blank'>Link</a> </td></tr>
<tr><td>77</td><td>    Commissioner for Linguistic Minorities</td><td><img src='img/poli/.jpg' alt='' width='50' height='50'></td><td></td><td><a href=' ' target='_blank'>Link</a> </td></tr>
<tr><td>78</td><td>    Commissioner for Scheduled Castes and Scheduled Tribes</td><td><img src='img/poli/.jpg' alt='' width='50' height='50'></td><td></td><td><a href=' ' target='_blank'>Link</a> </td></tr>
<tr><td>79</td><td>    Members, Minorities Commission</td><td><img src='img/poli/.jpg' alt='' width='50' height='50'></td><td></td><td><a href=' ' target='_blank'>Link</a> </td></tr>
<tr><td>80</td><td>    Members, Scheduled Castes and Scheduled Tribes Commission</td><td><img src='img/poli/.jpg' alt='' width='50' height='50'></td><td></td><td><a href=' ' target='_blank'>Link</a> </td></tr>
<tr><td>81</td><td>    Secretary, Minorities Commission</td><td><img src='img/poli/.jpg' alt='' width='50' height='50'></td><td></td><td><a href=' ' target='_blank'>Link</a> </td></tr>
<tr><td>82</td><td>    Secretary, Scheduled Castes and Scheduled Tribes Commission</td><td><img src='img/poli/.jpg' alt='' width='50' height='50'></td><td></td><td><a href=' ' target='_blank'>Link</a> </td></tr>
<tr><td>83</td><td>    Secretary to the President (Rajesh Verma)</td><td><img src='img/poli/.jpg' alt='' width='50' height='50'></td><td></td><td><a href=' ' target='_blank'>Link</a> </td></tr>
<tr><td>84</td><td>    Secretary General to the Rajya Sabha (Pramod Chandra Mody)</td><td><img src='img/poli/.jpg' alt='' width='50' height='50'></td><td></td><td><a href=' ' target='_blank'>Link</a> </td></tr>
<tr><td>85</td><td>    Secretary General to the Lok Sabha (Utpal Kumar Singh)</td><td><img src='img/poli/.jpg' alt='' width='50' height='50'></td><td></td><td><a href=' ' target='_blank'>Link</a> </td></tr>
<tr><td>86</td><td>    Solicitor General (Tushar Mehta)</td><td><img src='img/poli/.jpg' alt='' width='50' height='50'></td><td></td><td><a href=' ' target='_blank'>Link</a> </td></tr>
<tr><td>87</td><td>    Vice-Chairman of the Central Administrative Tribunal</td><td><img src='img/poli/.jpg' alt='' width='50' height='50'></td><td></td><td><a href=' ' target='_blank'>Link</a> </td></tr>
<tr><td>88</td><td>    Three-star rank officers in the armed forces</td><td><img src='img/poli/.jpg' alt='' width='50' height='50'></td><td></td><td><a href=' ' target='_blank'>Link</a> </td></tr>
<tr><td>89</td><td>    Lieutenant generals of the Indian Army</td><td><img src='img/poli/.jpg' alt='' width='50' height='50'></td><td></td><td><a href=' ' target='_blank'>Link</a> </td></tr>
<tr><td>90</td><td>    Air marshals of the Indian Air Force</td><td><img src='img/poli/.jpg' alt='' width='50' height='50'></td><td></td><td><a href=' ' target='_blank'>Link</a> </td></tr>
<tr><td>91</td><td>    Vice admirals of the Indian Navy</td><td><img src='img/poli/.jpg' alt='' width='50' height='50'></td><td></td><td><a href=' ' target='_blank'>Link</a> </td></tr>
<tr><td>92</td><td>    Additional Secretaries to Government of India</td><td><img src='img/poli/.jpg' alt='' width='50' height='50'></td><td></td><td><a href=' ' target='_blank'>Link</a> </td></tr>
<tr><td>93</td><td>    Principal staff officers of the Armed Forces of the rank of major general or equivalent rank</td><td><img src='img/poli/.jpg' alt='' width='50' height='50'></td><td></td><td><a href=' ' target='_blank'>Link</a> </td></tr>
<tr><td>94</td><td>    Advocates General of States</td><td><img src='img/poli/.jpg' alt='' width='50' height='50'></td><td></td><td><a href=' ' target='_blank'>Link</a> </td></tr>
<tr><td>95</td><td>    Additional Solicitors General</td><td><img src='img/poli/.jpg' alt='' width='50' height='50'></td><td></td><td><a href=' ' target='_blank'>Link</a> </td></tr>
<tr><td>96</td><td>    Chairman, Tariff Commission</td><td><img src='img/poli/.jpg' alt='' width='50' height='50'></td><td></td><td><a href=' ' target='_blank'>Link</a> </td></tr>
<tr><td>97</td><td>    Chargé d' Affaires and Acting High Commissioners a pied and ad. interim.</td><td><img src='img/poli/.jpg' alt='' width='50' height='50'></td><td></td><td><a href=' ' target='_blank'>Link</a> </td></tr>
<tr><td>98</td><td>    Chief Ministers of Union Territories (outside their respective union territories)</td><td><img src='img/poli/.jpg' alt='' width='50' height='50'></td><td></td><td><a href=' ' target='_blank'>Link</a> </td></tr>
<tr><td>99</td><td>    Chief Executive Councillor of Delhi (outside their respective union territories) (position no longer exists)[b]</td><td><img src='img/poli/.jpg' alt='' width='50' height='50'></td><td></td><td><a href=' ' target='_blank'>Link</a> </td></tr>
<tr><td>100</td><td>    Chief Secretaries of State governments (outside their respective states)</td><td><img src='img/poli/.jpg' alt='' width='50' height='50'></td><td></td><td><a href=' ' target='_blank'>Link</a> </td></tr>
<tr><td>101</td><td>    Deputy Comptrollers and Auditors General</td><td><img src='img/poli/.jpg' alt='' width='50' height='50'></td><td></td><td><a href=' ' target='_blank'>Link</a> </td></tr>
<tr><td>102</td><td>    Deputy Speakers of Legislative Assemblies in Union Territories</td><td><img src='img/poli/.jpg' alt='' width='50' height='50'></td><td></td><td><a href=' ' target='_blank'>Link</a> </td></tr>
<tr><td>103</td><td>    Chairman of Delhi Metropolitan Council (outside their respective union territories) (position no longer exists)[b]</td><td><img src='img/poli/.jpg' alt='' width='50' height='50'></td><td></td><td><a href=' ' target='_blank'>Link</a> </td></tr>
<tr><td>104</td><td>    Deputy Chairman of Delhi Metropolitan Council (outside their respective union territories) (position no longer exists)[b]</td><td><img src='img/poli/.jpg' alt='' width='50' height='50'></td><td></td><td><a href=' ' target='_blank'>Link</a> </td></tr>
<tr><td>105</td><td>    Director of the Intelligence Bureau (Tapan Deka)</td><td><img src='img/poli/.jpg' alt='' width='50' height='50'></td><td></td><td><a href=' ' target='_blank'>Link</a> </td></tr>
<tr><td>106</td><td>    Director, Central Bureau of Investigation (Subodh Kumar Jaiswal)</td><td><img src='img/poli/.jpg' alt='' width='50' height='50'></td><td></td><td><a href=' ' target='_blank'>Link</a> </td></tr>
<tr><td>107</td><td>    Director General, Border Security Force (Dr. Sujoy Lal Thaosen)</td><td><img src='img/poli/.jpg' alt='' width='50' height='50'></td><td></td><td><a href=' ' target='_blank'>Link</a> </td></tr>
<tr><td>108</td><td>    Director General, Central Reserve Police Force (Dr. Sujoy Lal Thaosen)</td><td><img src='img/poli/.jpg' alt='' width='50' height='50'></td><td></td><td><a href=' ' target='_blank'>Link</a> </td></tr>
<tr><td>109</td><td>    Lieutenants governor of union territories (outside their respective union territories)</td><td><img src='img/poli/.jpg' alt='' width='50' height='50'></td><td></td><td><a href=' ' target='_blank'>Link</a> </td></tr>
<tr><td>110</td><td>    Members, Central Administrative Tribunal</td><td><img src='img/poli/.jpg' alt='' width='50' height='50'></td><td></td><td><a href=' ' target='_blank'>Link</a> </td></tr>
<tr><td>111</td><td>    Members, Monopolies and Restrictive Trade Practices Commission (position no longer exists)[c]</td><td><img src='img/poli/.jpg' alt='' width='50' height='50'></td><td></td><td><a href=' ' target='_blank'>Link</a> </td></tr>
<tr><td>112</td><td>    Members of the Union Public Service Commission and State Public Service Commission.[7]</td><td><img src='img/poli/.jpg' alt='' width='50' height='50'></td><td></td><td><a href=' ' target='_blank'>Link</a> </td></tr>
<tr><td>113</td><td>    Ministers of Union Territories and Executives Councillors of Delhi (position no longer exists)[b]</td><td><img src='img/poli/.jpg' alt='' width='50' height='50'></td><td></td><td><a href=' ' target='_blank'>Link</a> </td></tr>
<tr><td>114</td><td>    Speakers of Legislative Assemblies in Union Territories (outside their respective union territories)</td><td><img src='img/poli/.jpg' alt='' width='50' height='50'></td><td></td><td><a href=' ' target='_blank'>Link</a> </td></tr>
<tr><td>115</td><td>    Joint secretaries to the Government of India and officers of equivalent rank</td><td><img src='img/poli/.jpg' alt='' width='50' height='50'></td><td></td><td><a href=' ' target='_blank'>Link</a> </td></tr>
<tr><td>116</td><td>    Officers of the rank of Major-General or equivalent rank</td><td><img src='img/poli/.jpg' alt='' width='50' height='50'></td><td></td><td><a href=' ' target='_blank'>Link</a> </td></tr>

									
											  </tbody>
                       							
                       						</table>
                            </div>

                </div>
            </div>
        </div>
    </section>

                  <!--end::Row-->

                      <!--begin::Section-->
           <section class="section blog-section blog-sec-six lang en">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-12 wow fadeInUp" data-wow-delay="0.2s">
                    <div class="section-header-six">
                        <h2><?= _who1 ?><span class="text-primary">.</span></h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">

                                            <!--begin::Table-->
                            <div class="custom-datatable-filter table-responsive">
                                <table class="table datatable">
                                              <thead>
                                                        <tr>
                                                            <th> क्रमांक </th>
                                                            <th> पद का नाम  </th>
                                                            <th> फोटों  </th>
                                                            <th> पदासीन व्यक्ति </th>
                                                            <th> विवरण </th>
                                                            
                                                        </tr>
                                              </thead>
                                              <tbody>
                                    
                                              </tbody>
                                                
                                            </table>
                            </div>

                </div>
            </div>
        </div>
    </section>

                  <!--end::Row-->


{% include 'footerr.html' %}
