bound_data:<bound method Field.bound_data of <django.forms.fields.MultipleChoiceField object at 0x000001B0880E7ED0>>
bound_field_class:None
choices:[('Park', 'Park'), ('Green', 'Green'), ('Black', 'Black')]
clean:<bound method Field.clean of <django.forms.fields.MultipleChoiceField object at 0x000001B0880E7ED0>>
default_error_messages:{'invalid_choice': 'Select a valid choice. %(value)s is not one of the available choices.', 'invalid_list': 'Enter a list of values.'}
default_validators:[]
disabled:False
empty_values:[None, '', [], (), {}]
error_messages:{'required': 'This field is required.', 'invalid_choice': 'Select a valid choice. %(value)s is not one of the available choices.', 'invalid_list': 'Enter a list of values.'}
get_bound_field:<bound method Field.get_bound_field of <django.forms.fields.MultipleChoiceField object at 0x000001B0880E7ED0>>
has_changed:<bound method MultipleChoiceField.has_changed of <django.forms.fields.MultipleChoiceField object at 0x000001B0880E7ED0>>
help_text:
hidden_widget:<class 'django.forms.widgets.MultipleHiddenInput'>
initial:None
label:None
label_suffix:None
localize:False
prepare_value:<bound method Field.prepare_value of <django.forms.fields.MultipleChoiceField object at 0x000001B0880E7ED0>>
required:True
run_validators:<bound method Field.run_validators of <django.forms.fields.MultipleChoiceField object at 0x000001B0880E7ED0>>
show_hidden_initial:False
template_name:None
to_python:<bound method MultipleChoiceField.to_python of <django.forms.fields.MultipleChoiceField object at 0x000001B0880E7ED0>>
valid_value:<bound method ChoiceField.valid_value of <django.forms.fields.MultipleChoiceField object at 0x000001B0880E7ED0>>
validate:<bound method MultipleChoiceField.validate of <django.forms.fields.MultipleChoiceField object at 0x000001B0880E7ED0>>
validators:[]
widget:<django.forms.widgets.CheckboxSelectMultiple object at 0x000001B0882F0190>
widget_attrs:<bound method Field.widget_attrs of <django.forms.fields.MultipleChoiceField object at 0x000001B0880E7ED0>>
<input type="text" name="title" value="3 BHK Flat for" class="form-control" maxlength="100" id="id_title">
<div id="id_configs" class="form-check-input ms-0 mt-0"><div>
    <label for="id_configs_0"><input type="checkbox" name="configs" value="Park" class="form-check-input ms-0 mt-0" checked placeholder="hhh" id="id_configs_0">
 Park</label>

</div><div>
    <label for="id_configs_1"><input type="checkbox" name="configs" value="Green" class="form-check-input ms-0 mt-0" checked placeholder="hhh" id="id_configs_1">
 Green</label>

</div><div>
    <label for="id_configs_2"><input type="checkbox" name="configs" value="Black" class="form-check-input ms-0 mt-0" checked placeholder="hhh" id="id_configs_2">
 Black</label>

</div>
</div>
<input type="checkbox" name="status" class="form-check-input ms-0 mt-0" required id="id_status">
<class 'django.forms.widgets.CheckboxSelectMultiple'>
  
<class 'django.forms.fields.MultipleChoiceField'>
['__class__',
 '__deepcopy__', 
'__delattr__', 
'__dict__', 
'__dir__', 
'__doc__', 
'__eq__', 
'__firstlineno__', 
'__format__', 
'__ge__', 
'__getattribute__', 
'__getstate__', 
'__gt__', 
'__hash__',
 '__init__',
 '__init_subclass__',
 '__le__', 
'__lt__', 
'__module__', 
'__ne__', 
'__new__', 
'__reduce__', 
'__reduce_ex__', 
'__repr__', 
'__setattr__', 
'__sizeof__', 
'__slotnames__', 
'__static_attributes__', 
'__str__', 
'__subclasshook__', 
'__weakref__',
'_choices', 
'_clean_bound_field', 
'bound_data', 
'bound_field_class', 
'choices', 
'clean', 
'default_error_messages', 
'default_validators', 
'disabled', 
'empty_values', 
'error_messages', 
'get_bound_field', 
'has_changed', 
'help_text', 
'hidden_widget', 
'initial', 
'label', 
'label_suffix', 
'localize', 
'prepare_value', 
'required', 
'run_validators', 
'show_hidden_initial', 
'template_name', 
'to_python', 
'valid_value', 
'validate', 
'validators', 
'widget', 
'widget_attrs'
]
{'required': True, 
'label': None, 
'initial': None, 
'show_hidden_initial': False, 
'help_text': '', 
'disabled': False, 
'label_suffix': None, 
'bound_field_class': None, 
'localize': False, 
'widget': <django.forms.widgets.CheckboxSelectMultiple object at 0x0000022E5B113ED0>, 
  'error_messages': {'required': 'This field is required.', 
  'invalid_choice': 'Select a valid choice. %(value)s is not one of the available choices.', 
  'invalid_list': 'Enter a list of values.'}, 
  'validators': [], 
  'template_name': None, 
  '_choices': [('Park', 'Park'), ('Green', 'Green'), ('Black', 'Black')]}
 {'title': <django.forms.fields.CharField object at 0x0000019C9F6F09F0>, 
  'configs': <django.forms.fields.MultipleChoiceField object at 0x0000019C9F68BC50>, 
  'status': <django.forms.fields.BooleanField object at 0x0000019C9F47A850>}


yah rahe fields 

<django.forms.fields.MultipleChoiceField object at 0x0000019C9F68BC50>

{'title': <django.forms.fields.CharField object at 0x0000019C9F6F09F0>, 
'configs': <django.forms.fields.MultipleChoiceField object at 0x0000019C9F68BC50>, 
'status': <django.forms.fields.BooleanField object at 0x0000019C9F47A850>}

