{% load static %}
{% include 'header.html' %}


    <!-- Blog Section -->
          <section class="section blog-section blog-sec-six lang hi active">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-12 wow fadeInUp" data-wow-delay="0.2s">
                    <div class="section-header-six">
                        <h2>वन्यजीव<span class="text-primary">.</span></h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    

                    <div class='card shadow-none blog-grid-six'>
                        <div class='row align-items-center'>
                            <div class='col-md-6 d-flex'>
                                <div class='card-img flex-fill'>
                                    <a href='#'>
                                        <img src="{% static 'assets/img/ksan.jpg' %} " class='rounded w-100 h-100' alt='Img'>
                                    </a>
                                    <span class='badge bg-primary'>...</span>
                                </div>
                            </div>
                            <div class='col-md-6 d-flex'>
                                <div class='card-body ps-md-0 flex-fill'>
                                    <h5 class='mb-2'><a href='#'>कुम्भलगढ़ वन्यजीव अभयारण्य</a></h5>
                                    <p class='mb-4 text-truncatee line-clamb-3'>कुंभलगढ़ अभयारण्य उदयपुर से 84 किलोमीटर दूर स्थित है। रीछ,भेड़ियों एवं जंगली सूअर, मुर्गों के लिए यह बहुत ही प्रसिद्ध है। यहां कई वुड फॉसिल्स स्थित है। कुंभलगढ़ अभयारण्य राजसमंद एवं पाली जिले की सीमा में विस्तृत है।  भेड़िए प्रजनन के लिए यह देश भर में एक प्रसिद्ध अभयारण्य है | प्रसिद्ध रणकपुर का जैन मंदिर इसी अभयारण्य में स्थित है। इसके अलावा परशुराम महादेव, मुछाला महावीर आदि स्थल भी यहां पर है।
                                                                </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class='card shadow-none blog-grid-six'>
                        <div class='row align-items-center'>
                            <div class='col-md-6 d-flex'>
                                <div class='card-img flex-fill'>
                                    <a href='#'>
                                        <img src="{% static 'assets/img/tod.jpg' %} " class='rounded w-100 h-100' alt='Img'>
                                    </a>
                                    <span class='badge bg-primary'>..</span>
                                </div>
                            </div>
                            <div class='col-md-6 d-flex'>
                                <div class='card-body ps-md-0 flex-fill'>
                                    <h5 class='mb-2'><a href='#'> टॉडगढ़ रावली अभयारण्य </a></h5>
                                    <p class='mb-4 text-truncatee line-clamb-3'>यह अजमेर , पाली , राजसमन्द जिलों में फैला हुआ है | इस में एक किला टॉडगढ़ भी स्थित हैं जिसका नामकरण प्रमुख इतिहासकार कर्नल जेम्स टॉड के नाम पर किया गया है | 
                                                                </p>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </section>
    <!-- /Blog Section -->


    <!-- Blog Section -->
          <section class="section blog-section blog-sec-six lang hi">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-12 wow fadeInUp" data-wow-delay="0.2s">
                    <div class="section-header-six">
                        <h2>वन्यजीव<span class="text-primary">.</span></h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    

                    <div class='card shadow-none blog-grid-six'>
                        <div class='row align-items-center'>
                            <div class='col-md-6 d-flex'>
                                <div class='card-img flex-fill'>
                                    <a href='#'>
                                        <img src="{% static 'assets/img/ksan.jpg' %} " class='rounded w-100 h-100' alt='Img'>
                                    </a>
                                    <span class='badge bg-primary'>...</span>
                                </div>
                            </div>
                            <div class='col-md-6 d-flex'>
                                <div class='card-body ps-md-0 flex-fill'>
                                    <h5 class='mb-2'><a href='#'>कुम्भलगढ़ वन्यजीव अभयारण्य</a></h5>
                                    <p class='mb-4 text-truncatee line-clamb-3'>कुंभलगढ़ अभयारण्य उदयपुर से 84 किलोमीटर दूर स्थित है। रीछ,भेड़ियों एवं जंगली सूअर, मुर्गों के लिए यह बहुत ही प्रसिद्ध है। यहां कई वुड फॉसिल्स स्थित है। कुंभलगढ़ अभयारण्य राजसमंद एवं पाली जिले की सीमा में विस्तृत है।  भेड़िए प्रजनन के लिए यह देश भर में एक प्रसिद्ध अभयारण्य है | प्रसिद्ध रणकपुर का जैन मंदिर इसी अभयारण्य में स्थित है। इसके अलावा परशुराम महादेव, मुछाला महावीर आदि स्थल भी यहां पर है।
                                                                </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class='card shadow-none blog-grid-six'>
                        <div class='row align-items-center'>
                            <div class='col-md-6 d-flex'>
                                <div class='card-img flex-fill'>
                                    <a href='#'>
                                        <img src="{% static 'assets/img/tod.jpg' %} " class='rounded w-100 h-100' alt='Img'>
                                    </a>
                                    <span class='badge bg-primary'>..</span>
                                </div>
                            </div>
                            <div class='col-md-6 d-flex'>
                                <div class='card-body ps-md-0 flex-fill'>
                                    <h5 class='mb-2'><a href='#'> टॉडगढ़ रावली अभयारण्य </a></h5>
                                    <p class='mb-4 text-truncatee line-clamb-3'>यह अजमेर , पाली , राजसमन्द जिलों में फैला हुआ है | इस में एक किला टॉडगढ़ भी स्थित हैं जिसका नामकरण प्रमुख इतिहासकार कर्नल जेम्स टॉड के नाम पर किया गया है | 
                                                                </p>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </section>
    <!-- /Blog Section -->


{% include 'footerr.html' %}
